<p id="notice"><%= notice %></p>

<h1>Education Art Culture5s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Higher</th>
      <th>Total</th>
      <th>Total budget</th>
      <th>Social services</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @education_art_culture5s.each do |education_art_culture5| %>
      <tr>
        <td><%= education_art_culture5.Year %></td>
        <td><%= education_art_culture5.Primary %></td>
        <td><%= education_art_culture5.Secondary %></td>
        <td><%= education_art_culture5.Higher %></td>
        <td><%= education_art_culture5.Total %></td>
        <td><%= education_art_culture5.Total_Budget %></td>
        <td><%= education_art_culture5.Social_Services %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education Art Culture5', new_education_art_culture5_path %>