<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @education_art_culture5.Year %>
</p>

<p>
  <strong>Primary:</strong>
  <%= @education_art_culture5.Primary %>
</p>

<p>
  <strong>Secondary:</strong>
  <%= @education_art_culture5.Secondary %>
</p>

<p>
  <strong>Higher:</strong>
  <%= @education_art_culture5.Higher %>
</p>

<p>
  <strong>Total:</strong>
  <%= @education_art_culture5.Total %>
</p>

<p>
  <strong>Total budget:</strong>
  <%= @education_art_culture5.Total_Budget %>
</p>

<p>
  <strong>Social services:</strong>
  <%= @education_art_culture5.Social_Services %>
</p>

<%= link_to 'Edit', edit_education_art_culture5_path(@education_art_culture5) %> |
<%= link_to 'Back', education_art_culture5s_path %>
