<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @availablility_of_power2.Districts %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @availablility_of_power2.Consumption %>
</p>

<p>
  <strong>Year:</strong>
  <%= @availablility_of_power2.Year %>
</p>

<%= link_to 'Edit', edit_availablility_of_power2_path(@availablility_of_power2) %> |
<%= link_to 'Back', availablility_of_power2s_path %>
