<%= form_with(model: production_and_productivity_of_rice, local: true) do |form| %>
  <% if production_and_productivity_of_rice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production_and_productivity_of_rice.errors.count, "error") %> prohibited this production_and_productivity_of_rice from being saved:</h2>

      <ul>
      <% production_and_productivity_of_rice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Area %>
    <%= form.text_field :Area %>
  </div>

  <div class="field">
    <%= form.label :Production %>
    <%= form.text_field :Production %>
  </div>

  <div class="field">
    <%= form.label :Productivity %>
    <%= form.text_field :Productivity %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
