<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_and_productivity_of_rice.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_and_productivity_of_rice.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_and_productivity_of_rice.Production %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @production_and_productivity_of_rice.Productivity %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_and_productivity_of_rice.Year %>
</p>

<%= link_to 'Edit', edit_production_and_productivity_of_rice_path(@production_and_productivity_of_rice) %> |
<%= link_to 'Back', production_and_productivity_of_rices_path %>
