<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_and_productivity_of_rice.Districts %>
</p>

<p>
  <strong>Area 2015:</strong>
  <%= @production_and_productivity_of_rice.Area_2015 %>
</p>

<p>
  <strong>Production 2015:</strong>
  <%= @production_and_productivity_of_rice.Production_2015 %>
</p>

<p>
  <strong>Productivity 2015:</strong>
  <%= @production_and_productivity_of_rice.Productivity_2015 %>
</p>

<p>
  <strong>Area 2016:</strong>
  <%= @production_and_productivity_of_rice.Area_2016 %>
</p>

<p>
  <strong>Production 2016:</strong>
  <%= @production_and_productivity_of_rice.Production_2016 %>
</p>

<p>
  <strong>Productivity 2016:</strong>
  <%= @production_and_productivity_of_rice.Productivity_2016 %>
</p>

<%= link_to 'Edit', edit_production_and_productivity_of_rice_path(@production_and_productivity_of_rice) %> |
<%= link_to 'Back', production_and_productivity_of_rices_path %>
