<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @debt_management4.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @debt_management4.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @debt_management4.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @debt_management4.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @debt_management4.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @debt_management4.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @debt_management4.2017-18_BE %>
</p>

<%= link_to 'Edit', edit_debt_management4_path(@debt_management4) %> |
<%= link_to 'Back', debt_management4s_path %>
