<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @district_wise_section6.Districts %>
</p>

<p>
  <strong>Total:</strong>
  <%= @district_wise_section6.Total %>
</p>

<p>
  <strong>Enrolment:</strong>
  <%= @district_wise_section6._Enrolment %>
</p>

<p>
  <strong>Number of children availing mdm per day:</strong>
  <%= @district_wise_section6.Number_of_Children_Availing_MDM_per_day %>
</p>

<p>
  <strong>Coverage in percentage:</strong>
  <%= @district_wise_section6.Coverage_in_percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @district_wise_section6.Year %>
</p>

<%= link_to 'Edit', edit_district_wise_section6_path(@district_wise_section6) %> |
<%= link_to 'Back', district_wise_section6s_path %>
