<p id="notice"><%= notice %></p>

<p>
  <strong>Agencies:</strong>
  <%= @non_agro_based_industries5.Agencies %>
</p>

<p>
  <strong>Indicators:</strong>
  <%= @non_agro_based_industries5.Indicators %>
</p>

<p>
  <strong>Kvic:</strong>
  <%= @non_agro_based_industries5.KVIC %>
</p>

<p>
  <strong>Kvi board:</strong>
  <%= @non_agro_based_industries5.KVI_Board %>
</p>

<p>
  <strong>Dic:</strong>
  <%= @non_agro_based_industries5.DIC %>
</p>

<p>
  <strong>Total:</strong>
  <%= @non_agro_based_industries5.Total %>
</p>

<p>
  <strong>Year:</strong>
  <%= @non_agro_based_industries5.Year %>
</p>

<p>
  <strong>Kvic percentage:</strong>
  <%= @non_agro_based_industries5.KVIC_Percentage %>
</p>

<p>
  <strong>Kvi board percentage:</strong>
  <%= @non_agro_based_industries5.KVI_Board_Percentage %>
</p>

<p>
  <strong>Dic percentage:</strong>
  <%= @non_agro_based_industries5.DIC_Percentage %>
</p>

<p>
  <strong>Total percentage:</strong>
  <%= @non_agro_based_industries5.Total_Percentage %>
</p>

<%= link_to 'Edit', edit_non_agro_based_industries5_path(@non_agro_based_industries5) %> |
<%= link_to 'Back', non_agro_based_industries5s_path %>
