<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @sectoral_share2.Year %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sectoral_share2.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share2.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share2.Achievement_Percentage %>
</p>

<%= link_to 'Edit', edit_sectoral_share2_path(@sectoral_share2) %> |
<%= link_to 'Back', sectoral_share2s_path %>
