<p id="notice"><%= notice %></p>

<p>
  <strong>Scheme:</strong>
  <%= @social_welfare1.Scheme %>
</p>

<p>
  <strong>Number of beneficiaries:</strong>
  <%= @social_welfare1.Number_of_Beneficiaries %>
</p>

<p>
  <strong>Term loan:</strong>
  <%= @social_welfare1.Term_Loan %>
</p>

<p>
  <strong>Bank loan:</strong>
  <%= @social_welfare1.Bank_Loan %>
</p>

<p>
  <strong>Margin money:</strong>
  <%= @social_welfare1.Margin_Money %>
</p>

<p>
  <strong>Subsidy:</strong>
  <%= @social_welfare1.Subsidy %>
</p>

<p>
  <strong>Total:</strong>
  <%= @social_welfare1.Total %>
</p>

<%= link_to 'Edit', edit_social_welfare1_path(@social_welfare1) %> |
<%= link_to 'Back', social_welfare1s_path %>
