<p id="notice"><%= notice %></p>

<h1>Rainfall1s</h1>

<table>
  <thead>
    <tr>
      <th>Winter rain</th>
      <th>Hot weather rain</th>
      <th>Southwest monsoon</th>
      <th>Northwest monsoon</th>
      <th>Total</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rainfall1s.each do |rainfall1| %>
      <tr>
        <td><%= rainfall1.Winter_Rain %></td>
        <td><%= rainfall1.Hot_Weather_Rain %></td>
        <td><%= rainfall1.Southwest_Monsoon %></td>
        <td><%= rainfall1.Northwest_Monsoon %></td>
        <td><%= rainfall1.Total %></td>
        <td><%= rainfall1.Year %></td>
        <td><%= link_to 'Show', rainfall1 %></td>
        <td><%= link_to 'Edit', edit_rainfall1_path(rainfall1) %></td>
        <td><%= link_to 'Destroy', rainfall1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rainfall1', new_rainfall1_path %>
