<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs1_part1.Year %>
</p>

<p>
  <strong>Crops:</strong>
  <%= @agricultural_inputs1_part1.Crops %>
</p>

<p>
  <strong>Type crops:</strong>
  <%= @agricultural_inputs1_part1.Type_Crops %>
</p>

<p>
  <strong>Paddy:</strong>
  <%= @agricultural_inputs1_part1.Paddy %>
</p>

<p>
  <strong>Maize:</strong>
  <%= @agricultural_inputs1_part1.Maize %>
</p>

<p>
  <strong>Urad:</strong>
  <%= @agricultural_inputs1_part1.Urad %>
</p>

<p>
  <strong>Arhar:</strong>
  <%= @agricultural_inputs1_part1.Arhar %>
</p>

<p>
  <strong>Moong:</strong>
  <%= @agricultural_inputs1_part1.Moong %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs1_part1_path(@agricultural_inputs1_part1) %> |
<%= link_to 'Back', agricultural_inputs1_part1s_path %>
