<p id="notice"><%= notice %></p>

<h1>Financial Institutions2s</h1>

<table>
  <thead>
    <tr>
      <th>Sectors</th>
      <th>2010-11</th>
      <th>2011-12</th>
      <th>2012-13</th>
      <th>2013-14</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_institutions2s.each do |financial_institutions2| %>
      <tr>
        <td><%= financial_institutions2.Sectors %></td>
        <td><%= financial_institutions2.2010-11 %></td>
        <td><%= financial_institutions2.2011-12 %></td>
        <td><%= financial_institutions2.2012-13 %></td>
        <td><%= financial_institutions2.2013-14 %></td>
        <td><%= financial_institutions2.2014-15 %></td>
        <td><%= financial_institutions2.2015-16 %></td>
        <td><%= financial_institutions2.2016-17 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial Institutions2', new_financial_institutions2_path %>