<p id="notice"><%= notice %></p>

<p>
  <strong>Sectors:</strong>
  <%= @financial_institutions2.Sectors %>
</p>

<p>
  <strong>2010-11:</strong>
  <%= @financial_institutions2.2010-11 %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @financial_institutions2.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @financial_institutions2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @financial_institutions2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @financial_institutions2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @financial_institutions2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @financial_institutions2.2016-17 %>
</p>

<%= link_to 'Edit', edit_financial_institutions2_path(@financial_institutions2) %> |
<%= link_to 'Back', financial_institutions2s_path %>
