<p id="notice"><%= notice %></p>

<p>
  <strong>Agencies:</strong>
  <%= @sectoral_share3.Agencies %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sectoral_share3.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share3.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share3.Achievement_Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sectoral_share3.Year %>
</p>

<%= link_to 'Edit', edit_sectoral_share3_path(@sectoral_share3) %> |
<%= link_to 'Back', sectoral_share3s_path %>
