<p id="notice"><%= notice %></p>

<p>
  <strong>Revenue:</strong>
  <%= @revenue_account4.Revenue %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @revenue_account4.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @revenue_account4.Year %>
</p>

<%= link_to 'Edit', edit_revenue_account4_path(@revenue_account4) %> |
<%= link_to 'Back', revenue_account4s_path %>
