<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @annual_survey2.State %>
</p>

<p>
  <strong>Cotribution:</strong>
  <%= @annual_survey2.Cotribution %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_survey2.Year %>
</p>

<%= link_to 'Edit', edit_annual_survey2_path(@annual_survey2) %> |
<%= link_to 'Back', annual_survey2s_path %>
