<%= form_with(model: sectoral_share8, local: true) do |form| %>
  <% if sectoral_share8.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sectoral_share8.errors.count, "error") %> prohibited this sectoral_share8 from being saved:</h2>

      <ul>
      <% sectoral_share8.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :State %>
    <%= form.text_field :State %>
  </div>

  <div class="field">
    <%= form.label :Branches_as_on_March_30_2016 %>
    <%= form.text_field :Branches_as_on_March_30_2016 %>
  </div>

  <div class="field">
    <%= form.label :2014-15 %>
    <%= form.text_field :2014-15 %>
  </div>

  <div class="field">
    <%= form.label :2015-16 %>
    <%= form.text_field :2015-16 %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
