<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @sectoral_share8.State %>
</p>

<p>
  <strong>Branches as on march 30 2016:</strong>
  <%= @sectoral_share8.Branches_as_on_March_30_2016 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @sectoral_share8.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @sectoral_share8.2015-16 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_share8.Indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_share8_path(@sectoral_share8) %> |
<%= link_to 'Back', sectoral_share8s_path %>
