<%= form_with(model: district_wise_section7, local: true) do |form| %>
  <% if district_wise_section7.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(district_wise_section7.errors.count, "error") %> prohibited this district_wise_section7 from being saved:</h2>

      <ul>
      <% district_wise_section7.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Total_Enrolment %>
    <%= form.text_field :Total_Enrolment %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Children_Availing_MDM_per_day %>
    <%= form.text_field :Number_of_Children_Availing_MDM_per_day %>
  </div>

  <div class="field">
    <%= form.label :Coverage_in_percentage %>
    <%= form.text_field :Coverage_in_percentage %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
