<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @rural_development_programmes9.Districts %>
</p>

<p>
  <strong>Number of dealers:</strong>
  <%= @rural_development_programmes9.Number_of_Dealers %>
</p>

<p>
  <strong>Dealers belonging to sc or st:</strong>
  <%= @rural_development_programmes9.Dealers_belonging_to_SC_or_ST %>
</p>

<p>
  <strong>Dealers belonging to bc or ebc:</strong>
  <%= @rural_development_programmes9.Dealers_belonging_to_BC_or_EBC %>
</p>

<p>
  <strong>Dealers belonging to minority:</strong>
  <%= @rural_development_programmes9.Dealers_belonging_to_Minority %>
</p>

<p>
  <strong>Dealers belonging to women:</strong>
  <%= @rural_development_programmes9.Dealers_belonging_to_Women %>
</p>

<p>
  <strong>Dealers belonging to women or other shg:</strong>
  <%= @rural_development_programmes9.Dealers_belonging_to_Women_or_Other_SHG %>
</p>

<p>
  <strong>Dealers from helper samiti or pacs or samiti of exarmy personnel:</strong>
  <%= @rural_development_programmes9.Dealers_from_Helper_Samiti_or_PACS_or_Samiti_of_ExArmy_Personnel %>
</p>

<p>
  <strong>Dealers belonging to general:</strong>
  <%= @rural_development_programmes9.Dealers_belonging_to_General %>
</p>

<p>
  <strong>Total:</strong>
  <%= @rural_development_programmes9.Total %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes9_path(@rural_development_programmes9) %> |
<%= link_to 'Back', rural_development_programmes9s_path %>
