<%= form_with(model: education_art_culture1, local: true) do |form| %>
  <% if education_art_culture1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education_art_culture1.errors.count, "error") %> prohibited this education_art_culture1 from being saved:</h2>

      <ul>
      <% education_art_culture1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Male %>
    <%= form.text_field :Male %>
  </div>

  <div class="field">
    <%= form.label :Female %>
    <%= form.text_field :Female %>
  </div>

  <div class="field">
    <%= form.label :Persons %>
    <%= form.text_field :Persons %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="field">
    <%= form.label :Indicator1 %>
    <%= form.text_field :Indicator1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
