<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @education_art_culture1.Year %>
</p>

<p>
  <strong>Male:</strong>
  <%= @education_art_culture1.Male %>
</p>

<p>
  <strong>Female:</strong>
  <%= @education_art_culture1.Female %>
</p>

<p>
  <strong>Persons:</strong>
  <%= @education_art_culture1.Persons %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @education_art_culture1.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @education_art_culture1.Indicator1 %>
</p>

<%= link_to 'Edit', edit_education_art_culture1_path(@education_art_culture1) %> |
<%= link_to 'Back', education_art_culture1s_path %>
