<p id="notice"><%= notice %></p>

<p>
  <strong>Irrigation sources:</strong>
  <%= @irrigation5.Irrigation_Sources %>
</p>

<p>
  <strong>Ultimate potential:</strong>
  <%= @irrigation5.Ultimate_Potential %>
</p>

<p>
  <strong>Created potential:</strong>
  <%= @irrigation5.Created_Potential %>
</p>

<p>
  <strong>Utilized potential:</strong>
  <%= @irrigation5.Utilized_Potential %>
</p>

<%= link_to 'Edit', edit_irrigation5_path(@irrigation5) %> |
<%= link_to 'Back', irrigation5s_path %>
