<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @distribution_of_homestead_land2.Sector %>
</p>

<p>
  <strong>2005-06:</strong>
  <%= @distribution_of_homestead_land2.2005-06 %>
</p>

<p>
  <strong>2010-11:</strong>
  <%= @distribution_of_homestead_land2.2010-11 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @distribution_of_homestead_land2.Indicator %>
</p>

<%= link_to 'Edit', edit_distribution_of_homestead_land2_path(@distribution_of_homestead_land2) %> |
<%= link_to 'Back', distribution_of_homestead_land2s_path %>
