<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @ict4.State %>
</p>

<p>
  <strong>Rural:</strong>
  <%= @ict4.Rural %>
</p>

<p>
  <strong>Urban:</strong>
  <%= @ict4.Urban %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ict4.Total %>
</p>

<p>
  <strong>Rural percentage:</strong>
  <%= @ict4.Rural_Percentage %>
</p>

<p>
  <strong>Urban percentage:</strong>
  <%= @ict4.Urban_Percentage %>
</p>

<p>
  <strong>Share in all india:</strong>
  <%= @ict4.Share_in_all_India %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @ict4.Indicator %>
</p>

<%= link_to 'Edit', edit_ict4_path(@ict4) %> |
<%= link_to 'Back', ict4s_path %>
