<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @demographic_profile2.Districts %>
</p>

<p>
  <strong>Population:</strong>
  <%= @demographic_profile2.Population %>
</p>

<p>
  <strong>Sex ratio overall:</strong>
  <%= @demographic_profile2.Sex_Ratio_Overall %>
</p>

<p>
  <strong>Sex ratio child:</strong>
  <%= @demographic_profile2.Sex_Ratio_Child %>
</p>

<p>
  <strong>Density:</strong>
  <%= @demographic_profile2.Density %>
</p>

<p>
  <strong>Urbanisation:</strong>
  <%= @demographic_profile2.Urbanisation %>
</p>

<p>
  <strong>Decadal growth:</strong>
  <%= @demographic_profile2.Decadal_Growth %>
</p>

<p>
  <strong>Year:</strong>
  <%= @demographic_profile2.Year %>
</p>

<p>
  <strong>Percentage population:</strong>
  <%= @demographic_profile2.Percentage_Population %>
</p>

<%= link_to 'Edit', edit_demographic_profile2_path(@demographic_profile2) %> |
<%= link_to 'Back', demographic_profile2s_path %>
