<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @education_art_culture4.Year %>
</p>

<p>
  <strong>Girls:</strong>
  <%= @education_art_culture4.Girls %>
</p>

<p>
  <strong>Boys:</strong>
  <%= @education_art_culture4.Boys %>
</p>

<p>
  <strong>Combined:</strong>
  <%= @education_art_culture4.Combined %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @education_art_culture4.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @education_art_culture4.Indicator1 %>
</p>

<%= link_to 'Edit', edit_education_art_culture4_path(@education_art_culture4) %> |
<%= link_to 'Back', education_art_culture4s_path %>
