<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @annual_rainfall.Districts %>
</p>

<p>
  <strong>January:</strong>
  <%= @annual_rainfall.January %>
</p>

<p>
  <strong>February:</strong>
  <%= @annual_rainfall.February %>
</p>

<p>
  <strong>March:</strong>
  <%= @annual_rainfall.March %>
</p>

<p>
  <strong>April:</strong>
  <%= @annual_rainfall.April %>
</p>

<p>
  <strong>May:</strong>
  <%= @annual_rainfall.May %>
</p>

<p>
  <strong>June:</strong>
  <%= @annual_rainfall.June %>
</p>

<p>
  <strong>July:</strong>
  <%= @annual_rainfall.July %>
</p>

<p>
  <strong>August:</strong>
  <%= @annual_rainfall.August %>
</p>

<p>
  <strong>September:</strong>
  <%= @annual_rainfall.September %>
</p>

<p>
  <strong>October:</strong>
  <%= @annual_rainfall.October %>
</p>

<p>
  <strong>November:</strong>
  <%= @annual_rainfall.November %>
</p>

<p>
  <strong>December:</strong>
  <%= @annual_rainfall.December %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_rainfall.Year %>
</p>

<%= link_to 'Edit', edit_annual_rainfall_path(@annual_rainfall) %> |
<%= link_to 'Back', annual_rainfalls_path %>
