<p id="notice"><%= notice %></p>

<p>
  <strong>Schemes:</strong>
  <%= @bihar_renewable_energy.Schemes %>
</p>

<p>
  <strong>Physical achievement:</strong>
  <%= @bihar_renewable_energy.Physical_Achievement %>
</p>

<p>
  <strong>Financial outlay:</strong>
  <%= @bihar_renewable_energy.Financial_Outlay %>
</p>

<p>
  <strong>Year:</strong>
  <%= @bihar_renewable_energy.Year %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @bihar_renewable_energy.Indicator %>
</p>

<%= link_to 'Edit', edit_bihar_renewable_energy_path(@bihar_renewable_energy) %> |
<%= link_to 'Back', bihar_renewable_energies_path %>
