<%= form_with(model: banking_infrastructure4, local: true) do |form| %>
  <% if banking_infrastructure4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banking_infrastructure4.errors.count, "error") %> prohibited this banking_infrastructure4 from being saved:</h2>

      <ul>
      <% banking_infrastructure4.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :RRB_Branch %>
    <%= form.text_field :RRB_Branch %>
  </div>

  <div class="field">
    <%= form.label :Rural %>
    <%= form.text_field :Rural %>
  </div>

  <div class="field">
    <%= form.label :Semi_Urban %>
    <%= form.text_field :Semi_Urban %>
  </div>

  <div class="field">
    <%= form.label :Urban %>
    <%= form.text_field :Urban %>
  </div>

  <div class="field">
    <%= form.label :Total %>
    <%= form.text_field :Total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
