<p id="notice"><%= notice %></p>

<p>
  <strong>Rrb branch:</strong>
  <%= @banking_infrastructure4.RRB_Branch %>
</p>

<p>
  <strong>Rural:</strong>
  <%= @banking_infrastructure4.Rural %>
</p>

<p>
  <strong>Semi urban:</strong>
  <%= @banking_infrastructure4.Semi_Urban %>
</p>

<p>
  <strong>Urban:</strong>
  <%= @banking_infrastructure4.Urban %>
</p>

<p>
  <strong>Total:</strong>
  <%= @banking_infrastructure4.Total %>
</p>

<%= link_to 'Edit', edit_banking_infrastructure4_path(@banking_infrastructure4) %> |
<%= link_to 'Back', banking_infrastructure4s_path %>
