<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @education_art_culture6.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @education_art_culture6.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @education_art_culture6.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @education_art_culture6.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @education_art_culture6.2015-16 %>
</p>

<p>
  <strong>Cagr:</strong>
  <%= @education_art_culture6.CAGR %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @education_art_culture6.Indicator %>
</p>

<%= link_to 'Edit', edit_education_art_culture6_path(@education_art_culture6) %> |
<%= link_to 'Back', education_art_culture6s_path %>
