<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @health3.Year %>
</p>

<p>
  <strong>Area:</strong>
  <%= @health3.Area %>
</p>

<p>
  <strong>Crude birth rate:</strong>
  <%= @health3.Crude_Birth_Rate %>
</p>

<p>
  <strong>Infant mortality rate:</strong>
  <%= @health3.Infant_Mortality_Rate %>
</p>

<p>
  <strong>Child mortality rate:</strong>
  <%= @health3.Child_Mortality_Rate %>
</p>

<p>
  <strong>Under five mortality rate:</strong>
  <%= @health3.Under_Five_Mortality_Rate %>
</p>

<p>
  <strong>Neo natal mortality rate:</strong>
  <%= @health3.Neo_Natal_Mortality_Rate %>
</p>

<p>
  <strong>Total fertility rate:</strong>
  <%= @health3.Total_Fertility_Rate %>
</p>

<p>
  <strong>Total marital fertility rate:</strong>
  <%= @health3.Total_Marital_Fertility_Rate %>
</p>

<p>
  <strong>Region:</strong>
  <%= @health3.Region %>
</p>

<%= link_to 'Edit', edit_health3_path(@health3) %> |
<%= link_to 'Back', health3s_path %>
