<p id="notice"><%= notice %></p>

<h1>Lands</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Geographical area</th>
      <th>Forest</th>
      <th>Barren unculturable land</th>
      <th>Non agriculture land area</th>
      <th>Non agriculture perennial water area</th>
      <th>Non agriculture temporary water area</th>
      <th>Culturable waste land</th>
      <th>Permanent pastures</th>
      <th>Tree crops</th>
      <th>Fallow land</th>
      <th>Current fallow</th>
      <th>Total uncultivable land</th>
      <th>Net area sown</th>
      <th>Gross crop area</th>
      <th>Cropping intensity</th>
      <th>Geographical area colour</th>
      <th>Forest</th>
      <th>Barren unculturable land</th>
      <th>Non agriculture land area</th>
      <th>Non agriculture perennial water area</th>
      <th>Non agriculture temporary water area</th>
      <th>Culturable waste land</th>
      <th>Permanent pastures</th>
      <th>Tree crops</th>
      <th>Fallow land</th>
      <th>Current fallow</th>
      <th>Total uncultivable land</th>
      <th>Net area sown</th>
      <th>Gross crop area</th>
      <th>Cropping intensity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lands.each do |land| %>
      <tr>
        <td><%= land.Districts %></td>
        <td><%= land.Geographical_area %></td>
        <td><%= land.Forest %></td>
        <td><%= land.Barren_unculturable_land %></td>
        <td><%= land.Non_Agriculture_Land_area %></td>
        <td><%= land.Non_Agriculture_Perennial_Water_Area %></td>
        <td><%= land.Non_Agriculture_Temporary_Water_Area %></td>
        <td><%= land.Culturable_Waste_Land %></td>
        <td><%= land.Permanent_Pastures %></td>
        <td><%= land.Tree_Crops %></td>
        <td><%= land.Fallow_land %></td>
        <td><%= land.Current_Fallow %></td>
        <td><%= land.Total_Uncultivable_Land %></td>
        <td><%= land.Net_Area_Sown %></td>
        <td><%= land.Gross_Crop_Area %></td>
        <td><%= land.Cropping_Intensity %></td>
        <td><%= land.Geographical_area_Colour %></td>
        <td><%= land.Forest %></td>
        <td><%= land.Barren_unculturable_land %></td>
        <td><%= land.Non_Agriculture_Land_area %></td>
        <td><%= land.Non_Agriculture_Perennial_Water_Area %></td>
        <td><%= land.Non_Agriculture_Temporary_Water_Area %></td>
        <td><%= land.Culturable_Waste_Land %></td>
        <td><%= land.Permanent_Pastures %></td>
        <td><%= land.Tree_Crops %></td>
        <td><%= land.Fallow_land %></td>
        <td><%= land.Current_Fallow %></td>
        <td><%= land.Total_Uncultivable_Land %></td>
        <td><%= land.Net_Area_Sown %></td>
        <td><%= land.Gross_Crop_Area %></td>
        <td><%= land.Cropping_Intensity %></td>
        <td><%= link_to 'Show', land %></td>
        <td><%= link_to 'Edit', edit_land_path(land) %></td>
        <td><%= link_to 'Destroy', land, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Land', new_land_path %>
