<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @land.Districts %>
</p>

<p>
  <strong>Geographical area:</strong>
  <%= @land.Geographical_area %>
</p>

<p>
  <strong>Forest:</strong>
  <%= @land.Forest %>
</p>

<p>
  <strong>Barren unculturable land:</strong>
  <%= @land.Barren_unculturable_land %>
</p>

<p>
  <strong>Non agriculture land area:</strong>
  <%= @land.Non_Agriculture_Land_area %>
</p>

<p>
  <strong>Non agriculture perennial water area:</strong>
  <%= @land.Non_Agriculture_Perennial_Water_Area %>
</p>

<p>
  <strong>Non agriculture temporary water area:</strong>
  <%= @land.Non_Agriculture_Temporary_Water_Area %>
</p>

<p>
  <strong>Culturable waste land:</strong>
  <%= @land.Culturable_Waste_Land %>
</p>

<p>
  <strong>Permanent pastures:</strong>
  <%= @land.Permanent_Pastures %>
</p>

<p>
  <strong>Tree crops:</strong>
  <%= @land.Tree_Crops %>
</p>

<p>
  <strong>Fallow land:</strong>
  <%= @land.Fallow_land %>
</p>

<p>
  <strong>Current fallow:</strong>
  <%= @land.Current_Fallow %>
</p>

<p>
  <strong>Total uncultivable land:</strong>
  <%= @land.Total_Uncultivable_Land %>
</p>

<p>
  <strong>Net area sown:</strong>
  <%= @land.Net_Area_Sown %>
</p>

<p>
  <strong>Gross crop area:</strong>
  <%= @land.Gross_Crop_Area %>
</p>

<p>
  <strong>Cropping intensity:</strong>
  <%= @land.Cropping_Intensity %>
</p>

<p>
  <strong>Geographical area colour:</strong>
  <%= @land.Geographical_area_Colour %>
</p>

<p>
  <strong>Forest colour:</strong>
  <%= @land.Forest_Colour %>
</p>

<p>
  <strong>Barren unculturable land colour:</strong>
  <%= @land.Barren_unculturable_land_Colour %>
</p>

<p>
  <strong>Non agriculture land area colour:</strong>
  <%= @land.Non_Agriculture_Land_area_Colour %>
</p>

<p>
  <strong>Non agriculture perennial water area colour:</strong>
  <%= @land.Non_Agriculture_Perennial_Water_Area_Colour %>
</p>

<p>
  <strong>Non agriculture temporary water area colour:</strong>
  <%= @land.Non_Agriculture_Temporary_Water_Area_Colour %>
</p>

<p>
  <strong>Culturable waste land colour:</strong>
  <%= @land.Culturable_Waste_Land_Colour %>
</p>

<p>
  <strong>Permanent pastures colour:</strong>
  <%= @land.Permanent_Pastures_Colour %>
</p>

<p>
  <strong>Tree crops colour:</strong>
  <%= @land.Tree_Crops_Colour %>
</p>

<p>
  <strong>Colourfallow land:</strong>
  <%= @land._ColourFallow_land %>
</p>

<p>
  <strong>Current fallow colour:</strong>
  <%= @land.Current_Fallow_Colour %>
</p>

<p>
  <strong>Total uncultivable land colour:</strong>
  <%= @land.Total_Uncultivable_Land_Colour %>
</p>

<p>
  <strong>Net area sown colour:</strong>
  <%= @land.Net_Area_Sown_Colour %>
</p>

<p>
  <strong>Gross crop area colour:</strong>
  <%= @land.Gross_Crop_Area_Colour %>
</p>

<p>
  <strong>Cropping intensity colour:</strong>
  <%= @land.Cropping_Intensity_Colour %>
</p>

<%= link_to 'Edit', edit_land_path(@land) %> |
<%= link_to 'Back', lands_path %>
