<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @land.Districts %>
</p>

<p>
  <strong>Geographical area:</strong>
  <%= @land.Geographical_area %>
</p>

<p>
  <strong>Forest:</strong>
  <%= @land.Forest %>
</p>

<p>
  <strong>Barren unculturable land:</strong>
  <%= @land.Barren_unculturable_land %>
</p>

<p>
  <strong>Non agriculture land area:</strong>
  <%= @land.Non_Agriculture_Land_area %>
</p>

<p>
  <strong>Non agriculture perennial water area:</strong>
  <%= @land.Non_Agriculture_Perennial_Water_Area %>
</p>

<p>
  <strong>Non agriculture temporary water area:</strong>
  <%= @land.Non_Agriculture_Temporary_Water_Area %>
</p>

<p>
  <strong>Culturable waste land:</strong>
  <%= @land.Culturable_Waste_Land %>
</p>

<p>
  <strong>Permanent pastures:</strong>
  <%= @land.Permanent_Pastures %>
</p>

<p>
  <strong>Tree crops:</strong>
  <%= @land.Tree_Crops %>
</p>

<p>
  <strong>Fallow land:</strong>
  <%= @land.Fallow_land %>
</p>

<p>
  <strong>Current fallow:</strong>
  <%= @land.Current_Fallow %>
</p>

<p>
  <strong>Total uncultivable land:</strong>
  <%= @land.Total_Uncultivable_Land %>
</p>

<p>
  <strong>Net area sown:</strong>
  <%= @land.Net_Area_Sown %>
</p>

<p>
  <strong>Gross crop area:</strong>
  <%= @land.Gross_Crop_Area %>
</p>

<p>
  <strong>Cropping intensity:</strong>
  <%= @land.Cropping_Intensity %>
</p>

<p>
  <strong>Percentage geographical area:</strong>
  <%= @land.Percentage_Geographical_area %>
</p>

<p>
  <strong>Percentage forest:</strong>
  <%= @land.Percentage_Forest %>
</p>

<p>
  <strong>Percentage barren unculturable land:</strong>
  <%= @land.Percentage_Barren_unculturable_land %>
</p>

<p>
  <strong>Percentage non agriculture land area:</strong>
  <%= @land.Percentage_Non_Agriculture_Land_area %>
</p>

<p>
  <strong>Percentage non agriculture perennial water area:</strong>
  <%= @land.Percentage_Non_Agriculture_Perennial_Water_Area %>
</p>

<p>
  <strong>Non agriculture temporary water area:</strong>
  <%= @land.Non_Agriculture_Temporary_Water_Area %>
</p>

<p>
  <strong>Percentage culturable waste land:</strong>
  <%= @land.Percentage_Culturable_Waste_Land %>
</p>

<p>
  <strong>Percentage permanent pastures:</strong>
  <%= @land.Percentage_Permanent_Pastures %>
</p>

<p>
  <strong>Percentage tree crops:</strong>
  <%= @land.Percentage_Tree_Crops %>
</p>

<p>
  <strong>Percentage fallow land:</strong>
  <%= @land.Percentage_Fallow_land %>
</p>

<p>
  <strong>Percentage current fallow:</strong>
  <%= @land.Percentage_Current_Fallow %>
</p>

<p>
  <strong>Percentage total uncultivable land:</strong>
  <%= @land.Percentage_Total_Uncultivable_Land %>
</p>

<p>
  <strong>Percentage net area sown:</strong>
  <%= @land.Percentage_Net_Area_Sown %>
</p>

<%= link_to 'Edit', edit_land_path(@land) %> |
<%= link_to 'Back', lands_path %>
