<%= form_with(model: revenue_account1, local: true) do |form| %>
  <% if revenue_account1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(revenue_account1.errors.count, "error") %> prohibited this revenue_account1 from being saved:</h2>

      <ul>
      <% revenue_account1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Revenue_Account %>
    <%= form.text_field :Revenue_Account %>
  </div>

  <div class="field">
    <%= form.label :Amount %>
    <%= form.text_field :Amount %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
