<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @comparison_of_budget1.Sector %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @comparison_of_budget1.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @comparison_of_budget1.2017-18_BE %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @comparison_of_budget1.Indicator %>
</p>

<p>
  <strong>Sub sector:</strong>
  <%= @comparison_of_budget1.Sub_sector %>
</p>

<%= link_to 'Edit', edit_comparison_of_budget1_path(@comparison_of_budget1) %> |
<%= link_to 'Back', comparison_of_budget1s_path %>
