<p id="notice"><%= notice %></p>

<p>
  <strong>Social background of pds dealers:</strong>
  <%= @rural_development_programmes5.Social_Background_of_PDS_Dealers %>
</p>

<p>
  <strong>No of pds outlets:</strong>
  <%= @rural_development_programmes5.No_of_PDS_Outlets %>
</p>

<p>
  <strong>Percentage share:</strong>
  <%= @rural_development_programmes5.Percentage_Share %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rural_development_programmes5.Year %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes5_path(@rural_development_programmes5) %> |
<%= link_to 'Back', rural_development_programmes5s_path %>
