<p id="notice"><%= notice %></p>

<h1>Poverty2s</h1>

<table>
  <thead>
    <tr>
      <th>Population below poverty line in percentages</th>
      <th>Rural poverty</th>
      <th>Urban poverty</th>
      <th>Total poverty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poverty2s.each do |poverty2| %>
      <tr>
        <td><%= poverty2.Population_below_poverty_line_in_Percentages %></td>
        <td><%= poverty2.Rural_poverty %></td>
        <td><%= poverty2.Urban_poverty %></td>
        <td><%= poverty2.Total_poverty %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poverty2', new_poverty2_path %>