<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @tax_department7.Districts %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @tax_department7.VAT %>
</p>

<p>
  <strong>Cst:</strong>
  <%= @tax_department7.CST %>
</p>

<p>
  <strong>Ent tax:</strong>
  <%= @tax_department7.ENT_Tax %>
</p>

<p>
  <strong>Ed:</strong>
  <%= @tax_department7.ED %>
</p>

<p>
  <strong>Adv tax:</strong>
  <%= @tax_department7.ADV_Tax %>
</p>

<p>
  <strong>Lux tax:</strong>
  <%= @tax_department7.LUX_Tax %>
</p>

<p>
  <strong>Entry tax:</strong>
  <%= @tax_department7.Entry_Tax %>
</p>

<p>
  <strong>Professional tax:</strong>
  <%= @tax_department7.Professional_Tax %>
</p>

<p>
  <strong>Total:</strong>
  <%= @tax_department7.Total %>
</p>

<p>
  <strong>Target:</strong>
  <%= @tax_department7.Target %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tax_department7.Year %>
</p>

<%= link_to 'Edit', edit_tax_department7_path(@tax_department7) %> |
<%= link_to 'Back', tax_department7s_path %>
