<p id="notice"><%= notice %></p>

<p>
  <strong>Size class:</strong>
  <%= @level_of_urbanisation2.Size_Class %>
</p>

<p>
  <strong>Number 2001:</strong>
  <%= @level_of_urbanisation2.Number_2001 %>
</p>

<p>
  <strong>Number 2011:</strong>
  <%= @level_of_urbanisation2.Number_2011 %>
</p>

<p>
  <strong>Population million 2001:</strong>
  <%= @level_of_urbanisation2.Population_million_2001 %>
</p>

<p>
  <strong>Population million 2011:</strong>
  <%= @level_of_urbanisation2.Population_million_2011 %>
</p>

<p>
  <strong>Growth rate of population:</strong>
  <%= @level_of_urbanisation2.Growth_Rate_of_Population %>
</p>

<%= link_to 'Edit', edit_level_of_urbanisation2_path(@level_of_urbanisation2) %> |
<%= link_to 'Back', level_of_urbanisation2s_path %>
