<p id="notice"><%= notice %></p>

<p>
  <strong>Agency:</strong>
  <%= @resource_management14.Agency %>
</p>

<p>
  <strong>Goi scheme:</strong>
  <%= @resource_management14.GoI_Scheme %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @resource_management14.2016-17 %>
</p>

<%= link_to 'Edit', edit_resource_management14_path(@resource_management14) %> |
<%= link_to 'Back', resource_management14s_path %>
