<p id="notice"><%= notice %></p>

<p>
  <strong>Variable1:</strong>
  <%= @sixth_economic_census1.Variable1 %>
</p>

<p>
  <strong>Variable2:</strong>
  <%= @sixth_economic_census1.Variable2 %>
</p>

<p>
  <strong>Number 2005:</strong>
  <%= @sixth_economic_census1.Number_2005 %>
</p>

<p>
  <strong>Number 2013:</strong>
  <%= @sixth_economic_census1.Number_2013 %>
</p>

<p>
  <strong>Percentage increase:</strong>
  <%= @sixth_economic_census1.Percentage_Increase %>
</p>

<%= link_to 'Edit', edit_sixth_economic_census1_path(@sixth_economic_census1) %> |
<%= link_to 'Back', sixth_economic_census1s_path %>
