<%= form_with(model: agricultural_inputs6, local: true) do |form| %>
  <% if agricultural_inputs6.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agricultural_inputs6.errors.count, "error") %> prohibited this agricultural_inputs6 from being saved:</h2>

      <ul>
      <% agricultural_inputs6.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Target_Physical %>
    <%= form.text_field :Target_Physical %>
  </div>

  <div class="field">
    <%= form.label :Target_Financial %>
    <%= form.text_field :Target_Financial %>
  </div>

  <div class="field">
    <%= form.label :Achievement_Physical %>
    <%= form.text_field :Achievement_Physical %>
  </div>

  <div class="field">
    <%= form.label :Achievement_Financial %>
    <%= form.text_field :Achievement_Financial %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
