<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_inputs6.Districts %>
</p>

<p>
  <strong>Target physical:</strong>
  <%= @agricultural_inputs6.Target_Physical %>
</p>

<p>
  <strong>Target financial:</strong>
  <%= @agricultural_inputs6.Target_Financial %>
</p>

<p>
  <strong>Achievement physical:</strong>
  <%= @agricultural_inputs6.Achievement_Physical %>
</p>

<p>
  <strong>Achievement financial:</strong>
  <%= @agricultural_inputs6.Achievement_Financial %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs6.Year %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs6_path(@agricultural_inputs6) %> |
<%= link_to 'Back', agricultural_inputs6s_path %>
