<p id="notice"><%= notice %></p>

<h1>Production Productivity7s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Area</th>
      <th>Production</th>
      <th>Productivity</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_productivity7s.each do |production_productivity7| %>
      <tr>
        <td><%= production_productivity7.Districts %></td>
        <td><%= production_productivity7.Area %></td>
        <td><%= production_productivity7.Production %></td>
        <td><%= production_productivity7.Productivity %></td>
        <td><%= production_productivity7.Year %></td>
        <td><%= link_to 'Show', production_productivity7 %></td>
        <td><%= link_to 'Edit', edit_production_productivity7_path(production_productivity7) %></td>
        <td><%= link_to 'Destroy', production_productivity7, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Productivity7', new_production_productivity7_path %>
