<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity7.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity7.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity7.Production %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @production_productivity7.Productivity %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity7.Year %>
</p>

<%= link_to 'Edit', edit_production_productivity7_path(@production_productivity7) %> |
<%= link_to 'Back', production_productivity7s_path %>
