<p id="notice"><%= notice %></p>

<p>
  <strong>Revenue sources:</strong>
  <%= @resource_management9.Revenue_Sources %>
</p>

<p>
  <strong>Budget estimate:</strong>
  <%= @resource_management9.Budget_Estimate %>
</p>

<p>
  <strong>Actual receipts:</strong>
  <%= @resource_management9.Actual_Receipts %>
</p>

<p>
  <strong>Variation excess or shortfall in amount:</strong>
  <%= @resource_management9.Variation_Excess_or_Shortfall_in_Amount %>
</p>

<p>
  <strong>Variation excess or shortfall in percentage:</strong>
  <%= @resource_management9.Variation_Excess_or_Shortfall_in_Percentage %>
</p>

<%= link_to 'Edit', edit_resource_management9_path(@resource_management9) %> |
<%= link_to 'Back', resource_management9s_path %>
