<p id="notice"><%= notice %></p>

<p>
  <strong>Revenue sources:</strong>
  <%= @resource_management12.Revenue_Sources %>
</p>

<p>
  <strong>Buoyancy ratio:</strong>
  <%= @resource_management12.Buoyancy_Ratio %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management12.Year %>
</p>

<%= link_to 'Edit', edit_resource_management12_path(@resource_management12) %> |
<%= link_to 'Back', resource_management12s_path %>
