<p id="notice"><%= notice %></p>

<p>
  <strong>Programmes:</strong>
  <%= @education_art_culture7.Programmes %>
</p>

<p>
  <strong>Approved awp and b:</strong>
  <%= @education_art_culture7.APPROVED_AWP_and_B %>
</p>

<p>
  <strong>Fund released by goi:</strong>
  <%= @education_art_culture7.Fund_Released_by_GOI %>
</p>

<p>
  <strong>Fund released by gob:</strong>
  <%= @education_art_culture7.Fund_Released_by_GOB %>
</p>

<p>
  <strong>Total fund released:</strong>
  <%= @education_art_culture7.Total_Fund_Released %>
</p>

<p>
  <strong>Total expenditure:</strong>
  <%= @education_art_culture7.Total_Expenditure %>
</p>

<p>
  <strong>Expenditure as percentage of awp and b:</strong>
  <%= @education_art_culture7.Expenditure_as_Percentage_of_AWP_and_B %>
</p>

<p>
  <strong>Year:</strong>
  <%= @education_art_culture7.Year %>
</p>

<%= link_to 'Edit', edit_education_art_culture7_path(@education_art_culture7) %> |
<%= link_to 'Back', education_art_culture7s_path %>
