<p id="notice"><%= notice %></p>

<p>
  <strong>Name of commodity:</strong>
  <%= @tax_department3.Name_of_Commodity %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @tax_department3.Collection %>
</p>

<p>
  <strong>Rate of growth:</strong>
  <%= @tax_department3.Rate_of_Growth %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tax_department3.Year %>
</p>

<%= link_to 'Edit', edit_tax_department3_path(@tax_department3) %> |
<%= link_to 'Back', tax_department3s_path %>
