<p id="notice"><%= notice %></p>

<p>
  <strong>Gross fiscal deficit:</strong>
  <%= @deficit_management3.Gross_Fiscal_Deficit %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deficit_management3.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @deficit_management3.Year %>
</p>

<%= link_to 'Edit', edit_deficit_management3_path(@deficit_management3) %> |
<%= link_to 'Back', deficit_management3s_path %>
