<%= form_with(model: annual_survey7, local: true) do |form| %>
  <% if annual_survey7.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annual_survey7.errors.count, "error") %> prohibited this annual_survey7 from being saved:</h2>

      <ul>
      <% annual_survey7.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Industrial_Group %>
    <%= form.text_field :Industrial_Group %>
  </div>

  <div class="field">
    <%= form.label :India %>
    <%= form.text_field :India %>
  </div>

  <div class="field">
    <%= form.label :Bihar %>
    <%= form.text_field :Bihar %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="field">
    <%= form.label :Indicator1 %>
    <%= form.text_field :Indicator1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
