<p id="notice"><%= notice %></p>

<p>
  <strong>Industrial group:</strong>
  <%= @annual_survey7.Industrial_Group %>
</p>

<p>
  <strong>India:</strong>
  <%= @annual_survey7.India %>
</p>

<p>
  <strong>Bihar:</strong>
  <%= @annual_survey7.Bihar %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @annual_survey7.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @annual_survey7.Indicator1 %>
</p>

<%= link_to 'Edit', edit_annual_survey7_path(@annual_survey7) %> |
<%= link_to 'Back', annual_survey7s_path %>
