<p id="notice"><%= notice %></p>

<h1>Road Transport2s</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2011-12</th>
      <th>2012-13</th>
      <th>2013-14</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th>Cagr 2011-17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @road_transport2s.each do |road_transport2| %>
      <tr>
        <td><%= road_transport2.Sector %></td>
        <td><%= road_transport2.2011-12 %></td>
        <td><%= road_transport2.2012-13 %></td>
        <td><%= road_transport2.2013-14 %></td>
        <td><%= road_transport2.2014-15 %></td>
        <td><%= road_transport2.2015-16 %></td>
        <td><%= road_transport2.2016-17 %></td>
        <td><%= road_transport2.CAGR_2011-17 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Road Transport2', new_road_transport2_path %>