<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @road_transport2.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @road_transport2.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @road_transport2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @road_transport2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @road_transport2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @road_transport2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @road_transport2.2016-17 %>
</p>

<p>
  <strong>Cagr 2011-17:</strong>
  <%= @road_transport2.CAGR_2011-17 %>
</p>

<%= link_to 'Edit', edit_road_transport2_path(@road_transport2) %> |
<%= link_to 'Back', road_transport2s_path %>
