<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @animal_husbandry2.Year %>
</p>

<p>
  <strong>Milk lakh tonnes:</strong>
  <%= @animal_husbandry2.Milk_lakh_tonnes %>
</p>

<p>
  <strong>Egg crore:</strong>
  <%= @animal_husbandry2.Egg_crore %>
</p>

<p>
  <strong>Wool lakh kgs:</strong>
  <%= @animal_husbandry2.Wool_lakh_kgs %>
</p>

<p>
  <strong>Meat lakh tonnes:</strong>
  <%= @animal_husbandry2.Meat_lakh_tonnes %>
</p>

<p>
  <strong>Fish lakh tonnes:</strong>
  <%= @animal_husbandry2.Fish_lakh_tonnes %>
</p>

<%= link_to 'Edit', edit_animal_husbandry2_path(@animal_husbandry2) %> |
<%= link_to 'Back', animal_husbandry2s_path %>
