<%= form_with(model: rural_development_programmes11, local: true) do |form| %>
  <% if rural_development_programmes11.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rural_development_programmes11.errors.count, "error") %> prohibited this rural_development_programmes11 from being saved:</h2>

      <ul>
      <% rural_development_programmes11.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Programme %>
    <%= form.text_field :Programme %>
  </div>

  <div class="field">
    <%= form.label :Trained %>
    <%= form.text_field :Trained %>
  </div>

  <div class="field">
    <%= form.label :Placed %>
    <%= form.text_field :Placed %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
