<p id="notice"><%= notice %></p>

<p>
  <strong>Programme:</strong>
  <%= @rural_development_programmes11.Programme %>
</p>

<p>
  <strong>Trained:</strong>
  <%= @rural_development_programmes11.Trained %>
</p>

<p>
  <strong>Placed:</strong>
  <%= @rural_development_programmes11.Placed %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes11_path(@rural_development_programmes11) %> |
<%= link_to 'Back', rural_development_programmes11s_path %>
