<p id="notice"><%= notice %></p>

<p>
  <strong>Sericulture sector:</strong>
  <%= @non_agro_based_industries4.Sericulture_Sector %>
</p>

<p>
  <strong>Mulberry:</strong>
  <%= @non_agro_based_industries4.Mulberry %>
</p>

<p>
  <strong>Tasar:</strong>
  <%= @non_agro_based_industries4.Tasar %>
</p>

<p>
  <strong>Castor:</strong>
  <%= @non_agro_based_industries4.Castor %>
</p>

<p>
  <strong>Year:</strong>
  <%= @non_agro_based_industries4.Year %>
</p>

<%= link_to 'Edit', edit_non_agro_based_industries4_path(@non_agro_based_industries4) %> |
<%= link_to 'Back', non_agro_based_industries4s_path %>
