<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @rural_development_programmes3.Sector %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @rural_development_programmes3.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @rural_development_programmes3.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @rural_development_programmes3.2016-17 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @rural_development_programmes3.Indicator %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes3_path(@rural_development_programmes3) %> |
<%= link_to 'Back', rural_development_programmes3s_path %>
