<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @district_wise_section8.Districts %>
</p>

<p>
  <strong>Affiliated college:</strong>
  <%= @district_wise_section8.Affiliated_College %>
</p>

<p>
  <strong>Constituent college:</strong>
  <%= @district_wise_section8.Constituent_College %>
</p>

<p>
  <strong>Year:</strong>
  <%= @district_wise_section8.Year %>
</p>

<%= link_to 'Edit', edit_district_wise_section8_path(@district_wise_section8) %> |
<%= link_to 'Back', district_wise_section8s_path %>
