<p id="notice"><%= notice %></p>

<p>
  <strong>Category of road:</strong>
  <%= @roads5.Category_of_Road %>
</p>

<p>
  <strong>Length in kms:</strong>
  <%= @roads5.Length_in_kms %>
</p>

<p>
  <strong>Percentage share:</strong>
  <%= @roads5.Percentage_share %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @roads5.Indicator %>
</p>

<%= link_to 'Edit', edit_roads5_path(@roads5) %> |
<%= link_to 'Back', roads5s_path %>
