<p id="notice"><%= notice %></p>

<p>
  <strong>Indicators:</strong>
  <%= @micro_finance2.Indicators %>
</p>

<p>
  <strong>Mar-14:</strong>
  <%= @micro_finance2.Mar-14 %>
</p>

<p>
  <strong>Mar-15:</strong>
  <%= @micro_finance2.Mar-15 %>
</p>

<p>
  <strong>Mar-16:</strong>
  <%= @micro_finance2.Mar-16 %>
</p>

<p>
  <strong>Mar-17:</strong>
  <%= @micro_finance2.Mar-17 %>
</p>

<%= link_to 'Edit', edit_micro_finance2_path(@micro_finance2) %> |
<%= link_to 'Back', micro_finance2s_path %>
