<p id="notice"><%= notice %></p>

<p>
  <strong>Regional office:</strong>
  <%= @support_institutions4.Regional_Office %>
</p>

<p>
  <strong>Total acquired land:</strong>
  <%= @support_institutions4.Total_Acquired_Land %>
</p>

<p>
  <strong>Total acquired constructed sheds:</strong>
  <%= @support_institutions4.Total_Acquired_Constructed_Sheds %>
</p>

<p>
  <strong>Land reserved for infrastructure administrative blocks roads etc:</strong>
  <%= @support_institutions4.Land_Reserved_for_Infrastructure_Administrative_Blocks_Roads_etc %>
</p>

<p>
  <strong>Total allotted land:</strong>
  <%= @support_institutions4.Total_Allotted_Land %>
</p>

<p>
  <strong>Total allotted constructed sheds:</strong>
  <%= @support_institutions4.Total_Allotted_Constructed_Sheds %>
</p>

<p>
  <strong>Litigated land:</strong>
  <%= @support_institutions4.Litigated_land %>
</p>

<p>
  <strong>Total vacant land allottable:</strong>
  <%= @support_institutions4.Total_Vacant_Land_Allottable %>
</p>

<p>
  <strong>Total vacant constructed sheds allottable:</strong>
  <%= @support_institutions4.Total_Vacant_Constructed_Sheds_Allottable %>
</p>

<%= link_to 'Edit', edit_support_institutions4_path(@support_institutions4) %> |
<%= link_to 'Back', support_institutions4s_path %>
