<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @road_transport4.Districts %>
</p>

<p>
  <strong>Truck:</strong>
  <%= @road_transport4.Truck %>
</p>

<p>
  <strong>Bus:</strong>
  <%= @road_transport4.Bus %>
</p>

<p>
  <strong>Car:</strong>
  <%= @road_transport4.Car %>
</p>

<p>
  <strong>Taxi:</strong>
  <%= @road_transport4.Taxi %>
</p>

<p>
  <strong>Jeep:</strong>
  <%= @road_transport4.Jeep %>
</p>

<p>
  <strong>Three wheeler:</strong>
  <%= @road_transport4.Three_Wheeler %>
</p>

<p>
  <strong>Two wheeler:</strong>
  <%= @road_transport4.Two_Wheeler %>
</p>

<p>
  <strong>Tractor:</strong>
  <%= @road_transport4.Tractor %>
</p>

<p>
  <strong>Trailor:</strong>
  <%= @road_transport4.Trailor %>
</p>

<p>
  <strong>Other:</strong>
  <%= @road_transport4.Other %>
</p>

<p>
  <strong>Total:</strong>
  <%= @road_transport4.Total %>
</p>

<%= link_to 'Edit', edit_road_transport4_path(@road_transport4) %> |
<%= link_to 'Back', road_transport4s_path %>
