<%= form_with(model: deficit_management4, local: true) do |form| %>
  <% if deficit_management4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deficit_management4.errors.count, "error") %> prohibited this deficit_management4 from being saved:</h2>

      <ul>
      <% deficit_management4.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Sector %>
    <%= form.text_field :Sector %>
  </div>

  <div class="field">
    <%= form.label :2012-13 %>
    <%= form.text_field :2012-13 %>
  </div>

  <div class="field">
    <%= form.label :2013-14 %>
    <%= form.text_field :2013-14 %>
  </div>

  <div class="field">
    <%= form.label :2014-15 %>
    <%= form.text_field :2014-15 %>
  </div>

  <div class="field">
    <%= form.label :2015-16 %>
    <%= form.text_field :2015-16 %>
  </div>

  <div class="field">
    <%= form.label :2016-17 %>
    <%= form.text_field :2016-17 %>
  </div>

  <div class="field">
    <%= form.label :2017-18_BE %>
    <%= form.text_field :2017-18_BE %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
