<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @sectoral_share11.Districts %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sectoral_share11.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share11.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share11.Achievement_Percentage %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_share11.Indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_share11_path(@sectoral_share11) %> |
<%= link_to 'Back', sectoral_share11s_path %>
