<%= form_with(model: health2, local: true) do |form| %>
  <% if health2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health2.errors.count, "error") %> prohibited this health2 from being saved:</h2>

      <ul>
      <% health2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Region %>
    <%= form.text_field :Region %>
  </div>

  <div class="field">
    <%= form.label :Male %>
    <%= form.text_field :Male %>
  </div>

  <div class="field">
    <%= form.label :Female %>
    <%= form.text_field :Female %>
  </div>

  <div class="field">
    <%= form.label :Total %>
    <%= form.text_field :Total %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
