<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @health2.Region %>
</p>

<p>
  <strong>Male:</strong>
  <%= @health2.Male %>
</p>

<p>
  <strong>Female:</strong>
  <%= @health2.Female %>
</p>

<p>
  <strong>Total:</strong>
  <%= @health2.Total %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health2.Year %>
</p>

<%= link_to 'Edit', edit_health2_path(@health2) %> |
<%= link_to 'Back', health2s_path %>
