<p id="notice"><%= notice %></p>

<p>
  <strong>Demand capacity:</strong>
  <%= @transmission1.Demand_Capacity %>
</p>

<p>
  <strong>2017-18:</strong>
  <%= @transmission1.2017-18 %>
</p>

<p>
  <strong>2018-19:</strong>
  <%= @transmission1.2018-19 %>
</p>

<p>
  <strong>2019-20:</strong>
  <%= @transmission1.2019-20 %>
</p>

<%= link_to 'Edit', edit_transmission1_path(@transmission1) %> |
<%= link_to 'Back', transmission1s_path %>
