<%= form_with(model: deficit_management1, local: true) do |form| %>
  <% if deficit_management1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deficit_management1.errors.count, "error") %> prohibited this deficit_management1 from being saved:</h2>

      <ul>
      <% deficit_management1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :State %>
    <%= form.text_field :State %>
  </div>

  <div class="field">
    <%= form.label :Revenue_Deficit_Surplus %>
    <%= form.text_field :Revenue_Deficit_Surplus %>
  </div>

  <div class="field">
    <%= form.label :Conventional_Deficit_Surplus %>
    <%= form.text_field :Conventional_Deficit_Surplus %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
