<p id="notice"><%= notice %></p>

<h1>Deficit Management1s</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Revenue deficit surplus</th>
      <th>Conventional deficit surplus</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deficit_management1s.each do |deficit_management1| %>
      <tr>
        <td><%= deficit_management1.State %></td>
        <td><%= deficit_management1.Revenue_Deficit_Surplus %></td>
        <td><%= deficit_management1.Conventional_Deficit_Surplus %></td>
        <td><%= deficit_management1.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deficit Management1', new_deficit_management1_path %>