<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @deficit_management1.State %>
</p>

<p>
  <strong>Revenue deficit surplus:</strong>
  <%= @deficit_management1.Revenue_Deficit_Surplus %>
</p>

<p>
  <strong>Conventional deficit surplus:</strong>
  <%= @deficit_management1.Conventional_Deficit_Surplus %>
</p>

<p>
  <strong>Year:</strong>
  <%= @deficit_management1.Year %>
</p>

<%= link_to 'Edit', edit_deficit_management1_path(@deficit_management1) %> |
<%= link_to 'Back', deficit_management1s_path %>
