<%= form_with(model: deposites_and_credits5, local: true) do |form| %>
  <% if deposites_and_credits5.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deposites_and_credits5.errors.count, "error") %> prohibited this deposites_and_credits5 from being saved:</h2>

      <ul>
      <% deposites_and_credits5.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :District %>
    <%= form.text_field :District %>
  </div>

  <div class="field">
    <%= form.label :CD_Ratio %>
    <%= form.text_field :CD_Ratio %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
