<p id="notice"><%= notice %></p>

<h1>Deposites And Credits5s</h1>

<table>
  <thead>
    <tr>
      <th>District</th>
      <th>Cd ratio</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deposites_and_credits5s.each do |deposites_and_credits5| %>
      <tr>
        <td><%= deposites_and_credits5.District %></td>
        <td><%= deposites_and_credits5.CD_Ratio %></td>
        <td><%= deposites_and_credits5.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposites And Credits5', new_deposites_and_credits5_path %>