<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @deposites_and_credits5.District %>
</p>

<p>
  <strong>Cd ratio:</strong>
  <%= @deposites_and_credits5.CD_Ratio %>
</p>

<p>
  <strong>Year:</strong>
  <%= @deposites_and_credits5.Year %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits5_path(@deposites_and_credits5) %> |
<%= link_to 'Back', deposites_and_credits5s_path %>
