<%= form_with(model: state_domestic_product4, local: true) do |form| %>
  <% if state_domestic_product4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_domestic_product4.errors.count, "error") %> prohibited this state_domestic_product4 from being saved:</h2>

      <ul>
      <% state_domestic_product4.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :GSDP %>
    <%= form.text_field :GSDP %>
  </div>

  <div class="field">
    <%= form.label :NSDP %>
    <%= form.text_field :NSDP %>
  </div>

  <div class="field">
    <%= form.label :Per_Capita_GSDP %>
    <%= form.text_field :Per_Capita_GSDP %>
  </div>

  <div class="field">
    <%= form.label :Reference %>
    <%= form.text_field :Reference %>
  </div>

  <div class="field">
    <%= form.label :Factor_Cost %>
    <%= form.text_field :Factor_Cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
