<p id="notice"><%= notice %></p>

<h1>State Domestic Product4s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Gsdp</th>
      <th>Nsdp</th>
      <th>Per capita gsdp</th>
      <th>Reference</th>
      <th>Factor cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @state_domestic_product4s.each do |state_domestic_product4| %>
      <tr>
        <td><%= state_domestic_product4.Year %></td>
        <td><%= state_domestic_product4.GSDP %></td>
        <td><%= state_domestic_product4.NSDP %></td>
        <td><%= state_domestic_product4.Per_Capita_GSDP %></td>
        <td><%= state_domestic_product4.Reference %></td>
        <td><%= state_domestic_product4.Factor_Cost %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State Domestic Product4', new_state_domestic_product4_path %>