<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @state_domestic_product4.Year %>
</p>

<p>
  <strong>Gsdp:</strong>
  <%= @state_domestic_product4.GSDP %>
</p>

<p>
  <strong>Nsdp:</strong>
  <%= @state_domestic_product4.NSDP %>
</p>

<p>
  <strong>Per capita gsdp:</strong>
  <%= @state_domestic_product4.Per_Capita_GSDP %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @state_domestic_product4.Reference %>
</p>

<p>
  <strong>Factor cost:</strong>
  <%= @state_domestic_product4.Factor_Cost %>
</p>

<%= link_to 'Edit', edit_state_domestic_product4_path(@state_domestic_product4) %> |
<%= link_to 'Back', state_domestic_product4s_path %>
