<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @state_domestic_product4.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @state_domestic_product4.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @state_domestic_product4.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @state_domestic_product4.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @state_domestic_product4.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @state_domestic_product4.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @state_domestic_product4.2016-17 %>
</p>

<p>
  <strong>2011-16:</strong>
  <%= @state_domestic_product4.2011-16 %>
</p>

<%= link_to 'Edit', edit_state_domestic_product4_path(@state_domestic_product4) %> |
<%= link_to 'Back', state_domestic_product4s_path %>
