<p id="notice"><%= notice %></p>

<p>
  <strong>Revenue sources:</strong>
  <%= @resource_management8.Revenue_Sources %>
</p>

<p>
  <strong>Yearly growth rates:</strong>
  <%= @resource_management8.Yearly_Growth_Rates %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management8.Year %>
</p>

<%= link_to 'Edit', edit_resource_management8_path(@resource_management8) %> |
<%= link_to 'Back', resource_management8s_path %>
