<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @land1.Year %>
</p>

<p>
  <strong>Geographical area:</strong>
  <%= @land1.Geographical_Area %>
</p>

<p>
  <strong>Forests:</strong>
  <%= @land1.Forests %>
</p>

<p>
  <strong>Barren unculturable land:</strong>
  <%= @land1.Barren_Unculturable_Land %>
</p>

<p>
  <strong>Land put to non agricultural use:</strong>
  <%= @land1.Land_put_to_Non_agricultural_use %>
</p>

<p>
  <strong>Land area:</strong>
  <%= @land1.Land_Area %>
</p>

<p>
  <strong>Water area:</strong>
  <%= @land1.Water_Area %>
</p>

<p>
  <strong>Culturable waste:</strong>
  <%= @land1.Culturable_Waste %>
</p>

<p>
  <strong>Permanent pastures:</strong>
  <%= @land1.Permanent_Pastures %>
</p>

<p>
  <strong>Land under tree crops:</strong>
  <%= @land1.Land_under_Tree_Crops %>
</p>

<p>
  <strong>Fallow land excl current fallow:</strong>
  <%= @land1.Fallow_Land_excl_Current_Fallow %>
</p>

<p>
  <strong>Current fallow:</strong>
  <%= @land1.Current_Fallow %>
</p>

<p>
  <strong>Total unculturable land:</strong>
  <%= @land1.Total_Unculturable_Land %>
</p>

<p>
  <strong>Net sown area:</strong>
  <%= @land1.Net_Sown_Area %>
</p>

<p>
  <strong>Gross sown area:</strong>
  <%= @land1.Gross_Sown_Area %>
</p>

<p>
  <strong>Cropping intensity:</strong>
  <%= @land1.Cropping_Intensity %>
</p>

<%= link_to 'Edit', edit_land1_path(@land1) %> |
<%= link_to 'Back', land1s_path %>
