<%= form_with(model: micro_finance1, local: true) do |form| %>
  <% if micro_finance1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(micro_finance1.errors.count, "error") %> prohibited this micro_finance1 from being saved:</h2>

      <ul>
      <% micro_finance1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :State %>
    <%= form.text_field :State %>
  </div>

  <div class="field">
    <%= form.label :Number_of_SHGs_with_Bank_Linkage %>
    <%= form.text_field :Number_of_SHGs_with_Bank_Linkage %>
  </div>

  <div class="field">
    <%= form.label :Savings_of_SHGs_with_Banks %>
    <%= form.text_field :Savings_of_SHGs_with_Banks %>
  </div>

  <div class="field">
    <%= form.label :Bank_loans_disbursed_during_the_year %>
    <%= form.text_field :Bank_loans_disbursed_during_the_year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
