<p id="notice"><%= notice %></p>

<h1>District Wise Section9s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Districts</th>
      <th>Constituent college</th>
      <th>Total</th>
      <th>Science arts commerce college</th>
      <th>Engineering</th>
      <th>Medical</th>
      <th>B ed</th>
      <th>Others</th>
      <th>All colleges</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @district_wise_section9s.each do |district_wise_section9| %>
      <tr>
        <td><%= district_wise_section9.Districts %></td>
        <td><%= district_wise_section9.Districts %></td>
        <td><%= district_wise_section9.Constituent_College %></td>
        <td><%= district_wise_section9.Total %></td>
        <td><%= district_wise_section9.Science_Arts_Commerce_College %></td>
        <td><%= district_wise_section9.Engineering %></td>
        <td><%= district_wise_section9.Medical %></td>
        <td><%= district_wise_section9.B_Ed %></td>
        <td><%= district_wise_section9.Others %></td>
        <td><%= district_wise_section9.All_Colleges %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District Wise Section9', new_district_wise_section9_path %>