<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @district_wise_section9.Districts %>
</p>

<p>
  <strong>Districts:</strong>
  <%= @district_wise_section9.Districts %>
</p>

<p>
  <strong>Constituent college:</strong>
  <%= @district_wise_section9.Constituent_College %>
</p>

<p>
  <strong>Total:</strong>
  <%= @district_wise_section9.Total %>
</p>

<p>
  <strong>Science arts commerce college:</strong>
  <%= @district_wise_section9.Science_Arts_Commerce_College %>
</p>

<p>
  <strong>Engineering:</strong>
  <%= @district_wise_section9.Engineering %>
</p>

<p>
  <strong>Medical:</strong>
  <%= @district_wise_section9.Medical %>
</p>

<p>
  <strong>B ed:</strong>
  <%= @district_wise_section9.B_Ed %>
</p>

<p>
  <strong>Others:</strong>
  <%= @district_wise_section9.Others %>
</p>

<p>
  <strong>All colleges:</strong>
  <%= @district_wise_section9.All_Colleges %>
</p>

<%= link_to 'Edit', edit_district_wise_section9_path(@district_wise_section9) %> |
<%= link_to 'Back', district_wise_section9s_path %>
