<p id="notice"><%= notice %></p>

<p>
  <strong>Agencies:</strong>
  <%= @programmes_for_electrification2.Agencies %>
</p>

<p>
  <strong>Tenth plan:</strong>
  <%= @programmes_for_electrification2.Tenth_Plan %>
</p>

<p>
  <strong>Eleventh plan:</strong>
  <%= @programmes_for_electrification2.Eleventh_Plan %>
</p>

<p>
  <strong>Total:</strong>
  <%= @programmes_for_electrification2.Total %>
</p>

<p>
  <strong>Eleventh plan phase ii:</strong>
  <%= @programmes_for_electrification2.Eleventh_Plan_Phase_II %>
</p>

<p>
  <strong>Twelfth plan:</strong>
  <%= @programmes_for_electrification2.Twelfth_Plan %>
</p>

<p>
  <strong>Under ddg:</strong>
  <%= @programmes_for_electrification2.Under_DDG %>
</p>

<p>
  <strong>Ddg converted into uev:</strong>
  <%= @programmes_for_electrification2.DDG_converted_into_UEV %>
</p>

<p>
  <strong>Total:</strong>
  <%= @programmes_for_electrification2.Total %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @programmes_for_electrification2.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @programmes_for_electrification2.Indicator1 %>
</p>

<%= link_to 'Edit', edit_programmes_for_electrification2_path(@programmes_for_electrification2) %> |
<%= link_to 'Back', programmes_for_electrification2s_path %>
