<%= form_with(model: animal_husbandry5, local: true) do |form| %>
  <% if animal_husbandry5.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal_husbandry5.errors.count, "error") %> prohibited this animal_husbandry5 from being saved:</h2>

      <ul>
      <% animal_husbandry5.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Fish_Production %>
    <%= form.text_field :Fish_Production %>
  </div>

  <div class="field">
    <%= form.label :Fish_Seeds %>
    <%= form.text_field :Fish_Seeds %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
