<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @animal_husbandry5.Districts %>
</p>

<p>
  <strong>Fish production:</strong>
  <%= @animal_husbandry5.Fish_Production %>
</p>

<p>
  <strong>Fish seeds:</strong>
  <%= @animal_husbandry5.Fish_Seeds %>
</p>

<p>
  <strong>Year:</strong>
  <%= @animal_husbandry5.Year %>
</p>

<%= link_to 'Edit', edit_animal_husbandry5_path(@animal_husbandry5) %> |
<%= link_to 'Back', animal_husbandry5s_path %>
