<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @animal_husbandry5.Districts %>
</p>

<p>
  <strong>Fish production 2014:</strong>
  <%= @animal_husbandry5.Fish_Production_2014 %>
</p>

<p>
  <strong>Fish seeds 2014:</strong>
  <%= @animal_husbandry5.Fish_Seeds_2014 %>
</p>

<p>
  <strong>Fish production 2015:</strong>
  <%= @animal_husbandry5.Fish_Production_2015 %>
</p>

<p>
  <strong>Fish seeds 2015:</strong>
  <%= @animal_husbandry5.Fish_Seeds_2015 %>
</p>

<p>
  <strong>Fish production 2016:</strong>
  <%= @animal_husbandry5.Fish_Production_2016 %>
</p>

<p>
  <strong>Fish seeds 2016:</strong>
  <%= @animal_husbandry5.Fish_Seeds_2016 %>
</p>

<%= link_to 'Edit', edit_animal_husbandry5_path(@animal_husbandry5) %> |
<%= link_to 'Back', animal_husbandry5s_path %>
