<p id="notice"><%= notice %></p>

<p>
  <strong>Regional office:</strong>
  <%= @support_institutions3.Regional_Office %>
</p>

<p>
  <strong>Number of working units:</strong>
  <%= @support_institutions3.Number_of_Working_Units %>
</p>

<p>
  <strong>Number of working units under construction:</strong>
  <%= @support_institutions3.Number_of_Working_Units_under_Construction %>
</p>

<p>
  <strong>Number of units which have not started construction:</strong>
  <%= @support_institutions3.Number_of_Units_which_have_not_started_Construction %>
</p>

<p>
  <strong>Number of units closed in cancellation process:</strong>
  <%= @support_institutions3.Number_of_Units_Closed_in_Cancellation_Process %>
</p>

<p>
  <strong>Total existing units:</strong>
  <%= @support_institutions3.Total_existing_Units %>
</p>

<%= link_to 'Edit', edit_support_institutions3_path(@support_institutions3) %> |
<%= link_to 'Back', support_institutions3s_path %>
