<p id="notice"><%= notice %></p>

<p>
  <strong>Scheme:</strong>
  <%= @irrigation7.Scheme %>
</p>

<p>
  <strong>Financial requirement in rs crores:</strong>
  <%= @irrigation7.Financial_Requirement_in_Rs_crores %>
</p>

<p>
  <strong>Creation of additional irrigation potential in lakh ha:</strong>
  <%= @irrigation7.Creation_of_Additional_Irrigation_Potential_in_lakh_ha %>
</p>

<p>
  <strong>Restoration of lost irrigation potential in lakh ha:</strong>
  <%= @irrigation7.Restoration_of_Lost_irrigation_Potential_in_lakh_ha %>
</p>

<%= link_to 'Edit', edit_irrigation7_path(@irrigation7) %> |
<%= link_to 'Back', irrigation7s_path %>
