<p id="notice"><%= notice %></p>

<p>
  <strong>Posts:</strong>
  <%= @health13.Posts %>
</p>

<p>
  <strong>No of sanctioned posts:</strong>
  <%= @health13.No_of_Sanctioned_Posts %>
</p>

<p>
  <strong>Working:</strong>
  <%= @health13.Working %>
</p>

<p>
  <strong>Percentage of vacant post:</strong>
  <%= @health13.Percentage_of_Vacant_Post %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health13.Year %>
</p>

<%= link_to 'Edit', edit_health13_path(@health13) %> |
<%= link_to 'Back', health13s_path %>
