<p id="notice"><%= notice %></p>

<p>
  <strong>Nrhm:</strong>
  <%= @health12.NRHM %>
</p>

<p>
  <strong>Fund disbursed:</strong>
  <%= @health12.Fund_Disbursed %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health12.Year %>
</p>

<%= link_to 'Edit', edit_health12_path(@health12) %> |
<%= link_to 'Back', health12s_path %>
