<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @non_agro_based_industries3.Year %>
</p>

<p>
  <strong>Target:</strong>
  <%= @non_agro_based_industries3.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @non_agro_based_industries3.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @non_agro_based_industries3.Achievement_Percentage %>
</p>

<%= link_to 'Edit', edit_non_agro_based_industries3_path(@non_agro_based_industries3) %> |
<%= link_to 'Back', non_agro_based_industries3s_path %>
