<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @udp_state_plan2.Districts %>
</p>

<p>
  <strong>Total number of urban ward:</strong>
  <%= @udp_state_plan2.Total_Number_of_Urban_Ward %>
</p>

<p>
  <strong>Total number of urban households:</strong>
  <%= @udp_state_plan2.Total_Number_of_Urban_Households %>
</p>

<p>
  <strong>Number of households having piped water supply:</strong>
  <%= @udp_state_plan2.Number_of_Households_Having_Piped_Water_Supply %>
</p>

<p>
  <strong>Number of households having access to tap water 2016 17:</strong>
  <%= @udp_state_plan2.Number_of_Households_Having_Access_to_Tap_Water_2016_17 %>
</p>

<p>
  <strong>Number of households having access to tap water 2017 18:</strong>
  <%= @udp_state_plan2.Number_of_Households_Having_Access_to_Tap_Water_2017_18 %>
</p>

<p>
  <strong>Number of households having access to tap water 2016 18:</strong>
  <%= @udp_state_plan2.Number_of_Households_Having_Access_to_Tap_Water_2016_18 %>
</p>

<%= link_to 'Edit', edit_udp_state_plan2_path(@udp_state_plan2) %> |
<%= link_to 'Back', udp_state_plan2s_path %>
