<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @tax_department1.Year %>
</p>

<p>
  <strong>Bst/vat:</strong>
  <%= @tax_department1.BST/VAT %>
</p>

<p>
  <strong>Cst:</strong>
  <%= @tax_department1.CST %>
</p>

<p>
  <strong>Ent:</strong>
  <%= @tax_department1.ENT %>
</p>

<p>
  <strong>Ed:</strong>
  <%= @tax_department1.ED %>
</p>

<p>
  <strong>Adv:</strong>
  <%= @tax_department1.ADV %>
</p>

<p>
  <strong>Hlt:</strong>
  <%= @tax_department1.HLT %>
</p>

<p>
  <strong>Et:</strong>
  <%= @tax_department1.ET %>
</p>

<p>
  <strong>Pt:</strong>
  <%= @tax_department1.PT %>
</p>

<p>
  <strong>Total:</strong>
  <%= @tax_department1.Total %>
</p>

<%= link_to 'Edit', edit_tax_department1_path(@tax_department1) %> |
<%= link_to 'Back', tax_department1s_path %>
