<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @ict2.State %>
</p>

<p>
  <strong>Rural:</strong>
  <%= @ict2.Rural %>
</p>

<p>
  <strong>Urban:</strong>
  <%= @ict2.Urban %>
</p>

<p>
  <strong>All:</strong>
  <%= @ict2.All %>
</p>

<p>
  <strong>Year:</strong>
  <%= @ict2.Year %>
</p>

<%= link_to 'Edit', edit_ict2_path(@ict2) %> |
<%= link_to 'Back', ict2s_path %>
