<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @sectoral_share10.Districts %>
</p>

<p>
  <strong>2007-08:</strong>
  <%= @sectoral_share10.2007-08 %>
</p>

<p>
  <strong>2008-09:</strong>
  <%= @sectoral_share10.2008-09 %>
</p>

<p>
  <strong>2009-10:</strong>
  <%= @sectoral_share10.2009-10 %>
</p>

<p>
  <strong>2010-11:</strong>
  <%= @sectoral_share10.2010-11 %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @sectoral_share10.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @sectoral_share10.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @sectoral_share10.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @sectoral_share10.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @sectoral_share10.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @sectoral_share10.2016-17 %>
</p>

<%= link_to 'Edit', edit_sectoral_share10_path(@sectoral_share10) %> |
<%= link_to 'Back', sectoral_share10s_path %>
