<%= form_with(model: state_public_sector3, local: true) do |form| %>
  <% if state_public_sector3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_public_sector3.errors.count, "error") %> prohibited this state_public_sector3 from being saved:</h2>

      <ul>
      <% state_public_sector3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Sector %>
    <%= form.text_field :Sector %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Statutory_Corporations %>
    <%= form.text_field :Number_of_Statutory_Corporations %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Working_Companies %>
    <%= form.text_field :Number_of_Working_Companies %>
  </div>

  <div class="field">
    <%= form.label :Number_of_NonWorking_Companies %>
    <%= form.text_field :Number_of_NonWorking_Companies %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
