<p id="notice"><%= notice %></p>

<h1>State Public Sector3s</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>Number of statutory corporations</th>
      <th>Number of working companies</th>
      <th>Number of nonworking companies</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @state_public_sector3s.each do |state_public_sector3| %>
      <tr>
        <td><%= state_public_sector3.Sector %></td>
        <td><%= state_public_sector3.Number_of_Statutory_Corporations %></td>
        <td><%= state_public_sector3.Number_of_Working_Companies %></td>
        <td><%= state_public_sector3.Number_of_NonWorking_Companies %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State Public Sector3', new_state_public_sector3_path %>