<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @agro_based_industries5.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @agro_based_industries5.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @agro_based_industries5.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @agro_based_industries5.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @agro_based_industries5.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @agro_based_industries5.2016-17 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @agro_based_industries5.Indicator %>
</p>

<%= link_to 'Edit', edit_agro_based_industries5_path(@agro_based_industries5) %> |
<%= link_to 'Back', agro_based_industries5s_path %>
