<%= form_with(model: drinking_water_supply_and_sanitation2, local: true) do |form| %>
  <% if drinking_water_supply_and_sanitation2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drinking_water_supply_and_sanitation2.errors.count, "error") %> prohibited this drinking_water_supply_and_sanitation2 from being saved:</h2>

      <ul>
      <% drinking_water_supply_and_sanitation2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Outlay %>
    <%= form.text_field :Outlay %>
  </div>

  <div class="field">
    <%= form.label :Expenditure %>
    <%= form.text_field :Expenditure %>
  </div>

  <div class="field">
    <%= form.label :Percentage_of_Utilisation %>
    <%= form.text_field :Percentage_of_Utilisation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
