<p id="notice"><%= notice %></p>

<h1>Drinking Water Supply And Sanitation2s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Outlay</th>
      <th>Expenditure</th>
      <th>Percentage of utilisation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drinking_water_supply_and_sanitation2s.each do |drinking_water_supply_and_sanitation2| %>
      <tr>
        <td><%= drinking_water_supply_and_sanitation2.Year %></td>
        <td><%= drinking_water_supply_and_sanitation2.Outlay %></td>
        <td><%= drinking_water_supply_and_sanitation2.Expenditure %></td>
        <td><%= drinking_water_supply_and_sanitation2.Percentage_of_Utilisation %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drinking Water Supply And Sanitation2', new_drinking_water_supply_and_sanitation2_path %>