<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @drinking_water_supply_and_sanitation2.Year %>
</p>

<p>
  <strong>Outlay:</strong>
  <%= @drinking_water_supply_and_sanitation2.Outlay %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @drinking_water_supply_and_sanitation2.Expenditure %>
</p>

<p>
  <strong>Percentage of utilisation:</strong>
  <%= @drinking_water_supply_and_sanitation2.Percentage_of_Utilisation %>
</p>

<%= link_to 'Edit', edit_drinking_water_supply_and_sanitation2_path(@drinking_water_supply_and_sanitation2) %> |
<%= link_to 'Back', drinking_water_supply_and_sanitation2s_path %>
