<p id="notice"><%= notice %></p>

<p>
  <strong>Type of institutions:</strong>
  <%= @education_art_culture9.Type_of_Institutions %>
</p>

<p>
  <strong>2013:</strong>
  <%= @education_art_culture9.2013 %>
</p>

<p>
  <strong>2014:</strong>
  <%= @education_art_culture9.2014 %>
</p>

<p>
  <strong>2015:</strong>
  <%= @education_art_culture9.2015 %>
</p>

<p>
  <strong>2016:</strong>
  <%= @education_art_culture9.2016 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @education_art_culture9.Indicator %>
</p>

<%= link_to 'Edit', edit_education_art_culture9_path(@education_art_culture9) %> |
<%= link_to 'Back', education_art_culture9s_path %>
