<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @health14.Year %>
</p>

<p>
  <strong>Budget for icds bihar:</strong>
  <%= @health14.Budget_for_ICDS_Bihar %>
</p>

<p>
  <strong>Funds released by goi:</strong>
  <%= @health14.Funds_Released_by_GOI %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @health14.Expenditure %>
</p>

<p>
  <strong>Fund released as percentage of budget:</strong>
  <%= @health14.Fund_Released_as_Percentage_of_Budget %>
</p>

<p>
  <strong>Expenditure as percentage of fund released:</strong>
  <%= @health14.Expenditure_as_Percentage_of_Fund_Released %>
</p>

<%= link_to 'Edit', edit_health14_path(@health14) %> |
<%= link_to 'Back', health14s_path %>
