<p id="notice"><%= notice %></p>

<p>
  <strong>Ridf tranche:</strong>
  <%= @rural_infrastructure_development_fund.RIDF_Tranche %>
</p>

<p>
  <strong>Sanction:</strong>
  <%= @rural_infrastructure_development_fund.Sanction %>
</p>

<p>
  <strong>Disbursement:</strong>
  <%= @rural_infrastructure_development_fund.Disbursement %>
</p>

<p>
  <strong>Disbursement percentage:</strong>
  <%= @rural_infrastructure_development_fund.Disbursement_Percentage %>
</p>

<%= link_to 'Edit', edit_rural_infrastructure_development_fund_path(@rural_infrastructure_development_fund) %> |
<%= link_to 'Back', rural_infrastructure_development_funds_path %>
