<p id="notice"><%= notice %></p>

<h1>Qualityofexpenditures</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2012-13</th>
      <th>2013-14</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th>2017-18 be</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualityofexpenditures.each do |qualityofexpenditure| %>
      <tr>
        <td><%= qualityofexpenditure.Sector %></td>
        <td><%= qualityofexpenditure.2012-13 %></td>
        <td><%= qualityofexpenditure.2013-14 %></td>
        <td><%= qualityofexpenditure.2014-15 %></td>
        <td><%= qualityofexpenditure.2015-16 %></td>
        <td><%= qualityofexpenditure.2016-17 %></td>
        <td><%= qualityofexpenditure.2017-18_BE %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualityofexpenditure', new_qualityofexpenditure_path %>