<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @qualityofexpenditure.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @qualityofexpenditure.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @qualityofexpenditure.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @qualityofexpenditure.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @qualityofexpenditure.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @qualityofexpenditure.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @qualityofexpenditure.2017-18_BE %>
</p>

<%= link_to 'Edit', edit_qualityofexpenditure_path(@qualityofexpenditure) %> |
<%= link_to 'Back', qualityofexpenditures_path %>
