<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @sectoral_share1.Sector %>
</p>

<p>
  <strong>Acp target:</strong>
  <%= @sectoral_share1.ACP_Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share1.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share1.Achievement_Percentage %>
</p>

<p>
  <strong>Percentage of share in advances:</strong>
  <%= @sectoral_share1.Percentage_of_Share_in_Advances %>
</p>

<p>
  <strong>Year:</strong>
  <%= @sectoral_share1.Year %>
</p>

<%= link_to 'Edit', edit_sectoral_share1_path(@sectoral_share1) %> |
<%= link_to 'Back', sectoral_share1s_path %>
