<%= form_with(model: rural_development_programmes2, local: true) do |form| %>
  <% if rural_development_programmes2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rural_development_programmes2.errors.count, "error") %> prohibited this rural_development_programmes2 from being saved:</h2>

      <ul>
      <% rural_development_programmes2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Performance %>
    <%= form.text_field :Performance %>
  </div>

  <div class="field">
    <%= form.label :2011-12 %>
    <%= form.text_field :2011-12 %>
  </div>

  <div class="field">
    <%= form.label :2012-13 %>
    <%= form.text_field :2012-13 %>
  </div>

  <div class="field">
    <%= form.label :2013-14 %>
    <%= form.text_field :2013-14 %>
  </div>

  <div class="field">
    <%= form.label :2014-15 %>
    <%= form.text_field :2014-15 %>
  </div>

  <div class="field">
    <%= form.label :2015-16 %>
    <%= form.text_field :2015-16 %>
  </div>

  <div class="field">
    <%= form.label :2016-17 %>
    <%= form.text_field :2016-17 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
