<p id="notice"><%= notice %></p>

<h1>Rural Development Programmes2s</h1>

<table>
  <thead>
    <tr>
      <th>Performance</th>
      <th>2011-12</th>
      <th>2012-13</th>
      <th>2013-14</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rural_development_programmes2s.each do |rural_development_programmes2| %>
      <tr>
        <td><%= rural_development_programmes2.Performance %></td>
        <td><%= rural_development_programmes2.2011-12 %></td>
        <td><%= rural_development_programmes2.2012-13 %></td>
        <td><%= rural_development_programmes2.2013-14 %></td>
        <td><%= rural_development_programmes2.2014-15 %></td>
        <td><%= rural_development_programmes2.2015-16 %></td>
        <td><%= rural_development_programmes2.2016-17 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rural Development Programmes2', new_rural_development_programmes2_path %>