<p id="notice"><%= notice %></p>

<p>
  <strong>Performance:</strong>
  <%= @rural_development_programmes2.Performance %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @rural_development_programmes2.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @rural_development_programmes2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @rural_development_programmes2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @rural_development_programmes2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @rural_development_programmes2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @rural_development_programmes2.2016-17 %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes2_path(@rural_development_programmes2) %> |
<%= link_to 'Back', rural_development_programmes2s_path %>
