<p id="notice"><%= notice %></p>

<p>
  <strong>Losses:</strong>
  <%= @operational_and_financial_status2.Losses %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @operational_and_financial_status2.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @operational_and_financial_status2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @operational_and_financial_status2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @operational_and_financial_status2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @operational_and_financial_status2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @operational_and_financial_status2.2016-17 %>
</p>

<%= link_to 'Edit', edit_operational_and_financial_status2_path(@operational_and_financial_status2) %> |
<%= link_to 'Back', operational_and_financial_status2s_path %>
