<%= form_with(model: drinking_water_supply_and_sanitation3, local: true) do |form| %>
  <% if drinking_water_supply_and_sanitation3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(drinking_water_supply_and_sanitation3.errors.count, "error") %> prohibited this drinking_water_supply_and_sanitation3 from being saved:</h2>

      <ul>
      <% drinking_water_supply_and_sanitation3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Outlay %>
    <%= form.text_field :Outlay %>
  </div>

  <div class="field">
    <%= form.label :Expenditure %>
    <%= form.text_field :Expenditure %>
  </div>

  <div class="field">
    <%= form.label :Outlay_as_Percent_of_Expenditure %>
    <%= form.text_field :Outlay_as_Percent_of_Expenditure %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
