<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @drinking_water_supply_and_sanitation3.Year %>
</p>

<p>
  <strong>Outlay:</strong>
  <%= @drinking_water_supply_and_sanitation3.Outlay %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @drinking_water_supply_and_sanitation3.Expenditure %>
</p>

<p>
  <strong>Outlay as percent of expenditure:</strong>
  <%= @drinking_water_supply_and_sanitation3.Outlay_as_Percent_of_Expenditure %>
</p>

<%= link_to 'Edit', edit_drinking_water_supply_and_sanitation3_path(@drinking_water_supply_and_sanitation3) %> |
<%= link_to 'Back', drinking_water_supply_and_sanitation3s_path %>
