<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @animal_husbandry3.Year %>
</p>

<p>
  <strong>Animals treated in lakh:</strong>
  <%= @animal_husbandry3.Animals_Treated_in_Lakh %>
</p>

<p>
  <strong>Immunization in lakh:</strong>
  <%= @animal_husbandry3.Immunization_in_Lakh %>
</p>

<p>
  <strong>Artificial insemination in lakh:</strong>
  <%= @animal_husbandry3.Artificial_Insemination_in_Lakh %>
</p>

<%= link_to 'Edit', edit_animal_husbandry3_path(@animal_husbandry3) %> |
<%= link_to 'Back', animal_husbandry3s_path %>
