<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @health15.Districts %>
</p>

<p>
  <strong>District hospital:</strong>
  <%= @health15.District_Hospital %>
</p>

<p>
  <strong>Referral hospital:</strong>
  <%= @health15.Referral_Hospital %>
</p>

<p>
  <strong>Sdh:</strong>
  <%= @health15.SDH %>
</p>

<p>
  <strong>Phc:</strong>
  <%= @health15.PHC %>
</p>

<p>
  <strong>Health subcentre:</strong>
  <%= @health15.Health_SubCentre %>
</p>

<p>
  <strong>Aphc:</strong>
  <%= @health15.APHC %>
</p>

<p>
  <strong>Dh rh sdh phc hsc aphc:</strong>
  <%= @health15.DH_RH_SDH_PHC_HSC_APHC %>
</p>

<p>
  <strong>Population health institution:</strong>
  <%= @health15.Population_Health_Institution %>
</p>

<%= link_to 'Edit', edit_health15_path(@health15) %> |
<%= link_to 'Back', health15s_path %>
