<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @deposites_and_credits2.state %>
</p>

<p>
  <strong>Year:</strong>
  <%= @deposites_and_credits2.Year %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @deposites_and_credits2.Deposit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @deposites_and_credits2.Credit %>
</p>

<p>
  <strong>Cd ratio:</strong>
  <%= @deposites_and_credits2.CD_Ratio %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits2_path(@deposites_and_credits2) %> |
<%= link_to 'Back', deposites_and_credits2s_path %>
