<p id="notice"><%= notice %></p>

<p>
  <strong>Agency wise road bridge:</strong>
  <%= @roads8.Agency_wise_Road_Bridge %>
</p>

<p>
  <strong>Length in kms:</strong>
  <%= @roads8.Length_in_kms %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @roads8.Remarks %>
</p>

<%= link_to 'Edit', edit_roads8_path(@roads8) %> |
<%= link_to 'Back', roads8s_path %>
