<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @distribution_of_homestead_land1.Item %>
</p>

<p>
  <strong>Mahadalit:</strong>
  <%= @distribution_of_homestead_land1.Mahadalit %>
</p>

<p>
  <strong>Sc:</strong>
  <%= @distribution_of_homestead_land1.SC %>
</p>

<p>
  <strong>St:</strong>
  <%= @distribution_of_homestead_land1.ST %>
</p>

<p>
  <strong>Bc schedule 1:</strong>
  <%= @distribution_of_homestead_land1.BC_Schedule_1 %>
</p>

<p>
  <strong>Bc schedule 2:</strong>
  <%= @distribution_of_homestead_land1.BC_Schedule_2 %>
</p>

<p>
  <strong>Total:</strong>
  <%= @distribution_of_homestead_land1.Total %>
</p>

<p>
  <strong>Percentage of mahadalit:</strong>
  <%= @distribution_of_homestead_land1.Percentage_of_Mahadalit %>
</p>

<p>
  <strong>Percentage of sc:</strong>
  <%= @distribution_of_homestead_land1.Percentage_of_SC %>
</p>

<p>
  <strong>Percentage of st:</strong>
  <%= @distribution_of_homestead_land1.Percentage_of_ST %>
</p>

<p>
  <strong>Percentage of bc schedule 1:</strong>
  <%= @distribution_of_homestead_land1.Percentage_of_BC_Schedule_1 %>
</p>

<p>
  <strong>Percentage of bc schedule 2:</strong>
  <%= @distribution_of_homestead_land1.Percentage_of_BC_Schedule_2 %>
</p>

<p>
  <strong>Total percentage:</strong>
  <%= @distribution_of_homestead_land1.Total_Percentage %>
</p>

<%= link_to 'Edit', edit_distribution_of_homestead_land1_path(@distribution_of_homestead_land1) %> |
<%= link_to 'Back', distribution_of_homestead_land1s_path %>
