<p id="notice"><%= notice %></p>

<h1>Projection Of Power Requirement1s</h1>

<table>
  <thead>
    <tr>
      <th>Category of households</th>
      <th>2017-18</th>
      <th>2018-19</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projection_of_power_requirement1s.each do |projection_of_power_requirement1| %>
      <tr>
        <td><%= projection_of_power_requirement1.Category_of_Households %></td>
        <td><%= projection_of_power_requirement1.2017-18 %></td>
        <td><%= projection_of_power_requirement1.2018-19 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projection Of Power Requirement1', new_projection_of_power_requirement1_path %>