<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @state_domestic_product9.Districts %>
</p>

<p>
  <strong>Per capita gdp:</strong>
  <%= @state_domestic_product9.Per_Capita_GDP %>
</p>

<p>
  <strong>Year:</strong>
  <%= @state_domestic_product9.Year %>
</p>

<%= link_to 'Edit', edit_state_domestic_product9_path(@state_domestic_product9) %> |
<%= link_to 'Back', state_domestic_product9s_path %>
