<p id="notice"><%= notice %></p>

<p>
  <strong>Transfer of resources:</strong>
  <%= @revenue_account5.Transfer_of_Resources %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @revenue_account5.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @revenue_account5.Year %>
</p>

<%= link_to 'Edit', edit_revenue_account5_path(@revenue_account5) %> |
<%= link_to 'Back', revenue_account5s_path %>
