<p id="notice"><%= notice %></p>

<p>
  <strong>Interest payment and receipt:</strong>
  <%= @revenue_account3.Interest_Payment_and_Receipt %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @revenue_account3.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @revenue_account3.Year %>
</p>

<%= link_to 'Edit', edit_revenue_account3_path(@revenue_account3) %> |
<%= link_to 'Back', revenue_account3s_path %>
