<p id="notice"><%= notice %></p>

<h1>Agro Based Industries3s</h1>

<table>
  <thead>
    <tr>
      <th>Union/project</th>
      <th>Daily milk collection</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agro_based_industries3s.each do |agro_based_industries3| %>
      <tr>
        <td><%= agro_based_industries3.Union/Project %></td>
        <td><%= agro_based_industries3.Daily_Milk_Collection %></td>
        <td><%= agro_based_industries3.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agro Based Industries3', new_agro_based_industries3_path %>