<p id="notice"><%= notice %></p>

<p>
  <strong>Union/project:</strong>
  <%= @agro_based_industries3.Union/Project %>
</p>

<p>
  <strong>Daily milk collection:</strong>
  <%= @agro_based_industries3.Daily_Milk_Collection %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agro_based_industries3.Year %>
</p>

<%= link_to 'Edit', edit_agro_based_industries3_path(@agro_based_industries3) %> |
<%= link_to 'Back', agro_based_industries3s_path %>
