<p id="notice"><%= notice %></p>

<h1>Resource Management5s</h1>

<table>
  <thead>
    <tr>
      <th>Source</th>
      <th>Percentage</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_management5s.each do |resource_management5| %>
      <tr>
        <td><%= resource_management5.Source %></td>
        <td><%= resource_management5.Percentage %></td>
        <td><%= resource_management5.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Management5', new_resource_management5_path %>