<p id="notice"><%= notice %></p>

<p>
  <strong>Source:</strong>
  <%= @resource_management5.Source %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @resource_management5.Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management5.Year %>
</p>

<%= link_to 'Edit', edit_resource_management5_path(@resource_management5) %> |
<%= link_to 'Back', resource_management5s_path %>
