<p id="notice"><%= notice %></p>

<p>
  <strong>Particulars:</strong>
  <%= @udp_jointly_funded8.Particulars %>
</p>

<p>
  <strong>Constructed:</strong>
  <%= @udp_jointly_funded8.Constructed %>
</p>

<p>
  <strong>Under construction:</strong>
  <%= @udp_jointly_funded8.Under_Construction %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded8_path(@udp_jointly_funded8) %> |
<%= link_to 'Back', udp_jointly_funded8s_path %>
