<%= form_with(model: banking_infrastructure2, local: true) do |form| %>
  <% if banking_infrastructure2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(banking_infrastructure2.errors.count, "error") %> prohibited this banking_infrastructure2 from being saved:</h2>

      <ul>
      <% banking_infrastructure2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :States %>
    <%= form.text_field :States %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Branches %>
    <%= form.text_field :Number_of_Branches %>
  </div>

  <div class="field">
    <%= form.label :Percentage_share_in_all_India_branches %>
    <%= form.text_field :Percentage_share_in_all_India_branches %>
  </div>

  <div class="field">
    <%= form.label :Percentage_share_in_all_India_population %>
    <%= form.text_field :Percentage_share_in_all_India_population %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
