<p id="notice"><%= notice %></p>

<p>
  <strong>States:</strong>
  <%= @banking_infrastructure2.States %>
</p>

<p>
  <strong>Number of branches:</strong>
  <%= @banking_infrastructure2.Number_of_Branches %>
</p>

<p>
  <strong>Percentage share in all india branches:</strong>
  <%= @banking_infrastructure2.Percentage_share_in_all_India_branches %>
</p>

<p>
  <strong>Percentage share in all india population:</strong>
  <%= @banking_infrastructure2.Percentage_share_in_all_India_population %>
</p>

<%= link_to 'Edit', edit_banking_infrastructure2_path(@banking_infrastructure2) %> |
<%= link_to 'Back', banking_infrastructure2s_path %>
