<p id="notice"><%= notice %></p>

<h1>State Domestic Product11s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Target</th>
      <th>Achievement</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @state_domestic_product11s.each do |state_domestic_product11| %>
      <tr>
        <td><%= state_domestic_product11.Districts %></td>
        <td><%= state_domestic_product11.Target %></td>
        <td><%= state_domestic_product11.Achievement %></td>
        <td><%= state_domestic_product11.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State Domestic Product11', new_state_domestic_product11_path %>