<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @state_domestic_product11.Districts %>
</p>

<p>
  <strong>Target:</strong>
  <%= @state_domestic_product11.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @state_domestic_product11.Achievement %>
</p>

<p>
  <strong>Year:</strong>
  <%= @state_domestic_product11.Year %>
</p>

<%= link_to 'Edit', edit_state_domestic_product11_path(@state_domestic_product11) %> |
<%= link_to 'Back', state_domestic_product11s_path %>
