<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @roads1.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @roads1.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @roads1.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @roads1.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @roads1.2014-15 %>
</p>

<p>
  <strong>2015-16 p:</strong>
  <%= @roads1.2015-16_P %>
</p>

<p>
  <strong>2016-17 q:</strong>
  <%= @roads1.2016-17_Q %>
</p>

<p>
  <strong>Cagr 2011-16:</strong>
  <%= @roads1.CAGR_2011-16 %>
</p>

<%= link_to 'Edit', edit_roads1_path(@roads1) %> |
<%= link_to 'Back', roads1s_path %>
