<%= form_with(model: expenditure_on_urban_development, local: true) do |form| %>
  <% if expenditure_on_urban_development.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expenditure_on_urban_development.errors.count, "error") %> prohibited this expenditure_on_urban_development from being saved:</h2>

      <ul>
      <% expenditure_on_urban_development.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Housing %>
    <%= form.text_field :Housing %>
  </div>

  <div class="field">
    <%= form.label :Urban_Development %>
    <%= form.text_field :Urban_Development %>
  </div>

  <div class="field">
    <%= form.label :Total %>
    <%= form.text_field :Total %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
