<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @expenditure_on_urban_development.Year %>
</p>

<p>
  <strong>Housing:</strong>
  <%= @expenditure_on_urban_development.Housing %>
</p>

<p>
  <strong>Urban development:</strong>
  <%= @expenditure_on_urban_development.Urban_Development %>
</p>

<p>
  <strong>Total:</strong>
  <%= @expenditure_on_urban_development.Total %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @expenditure_on_urban_development.Indicator %>
</p>

<%= link_to 'Edit', edit_expenditure_on_urban_development_path(@expenditure_on_urban_development) %> |
<%= link_to 'Back', expenditure_on_urban_developments_path %>
