<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @expenditure_on_salary_and_pension.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @expenditure_on_salary_and_pension.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @expenditure_on_salary_and_pension.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @expenditure_on_salary_and_pension.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @expenditure_on_salary_and_pension.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @expenditure_on_salary_and_pension.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @expenditure_on_salary_and_pension.2017-18_BE %>
</p>

<%= link_to 'Edit', edit_expenditure_on_salary_and_pension_path(@expenditure_on_salary_and_pension) %> |
<%= link_to 'Back', expenditure_on_salary_and_pensions_path %>
