<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs1_part2.Year %>
</p>

<p>
  <strong>Crops:</strong>
  <%= @agricultural_inputs1_part2.Crops %>
</p>

<p>
  <strong>Type crops:</strong>
  <%= @agricultural_inputs1_part2.Type_Crops %>
</p>

<p>
  <strong>Wheat:</strong>
  <%= @agricultural_inputs1_part2.Wheat %>
</p>

<p>
  <strong>Maize:</strong>
  <%= @agricultural_inputs1_part2.Maize %>
</p>

<p>
  <strong>Arhar:</strong>
  <%= @agricultural_inputs1_part2.Arhar %>
</p>

<p>
  <strong>Gram:</strong>
  <%= @agricultural_inputs1_part2.Gram %>
</p>

<p>
  <strong>Pea:</strong>
  <%= @agricultural_inputs1_part2.Pea %>
</p>

<p>
  <strong>Masoor:</strong>
  <%= @agricultural_inputs1_part2.Masoor %>
</p>

<p>
  <strong>Rapeseed mustard:</strong>
  <%= @agricultural_inputs1_part2.Rapeseed_Mustard %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs1_part2_path(@agricultural_inputs1_part2) %> |
<%= link_to 'Back', agricultural_inputs1_part2s_path %>
