<p id="notice"><%= notice %></p>

<h1>Deposites And Credits3s</h1>

<table>
  <thead>
    <tr>
      <th>Indicator</th>
      <th>Area</th>
      <th>Deposits</th>
      <th>Credits</th>
      <th>Cd ratio</th>
      <th>Investment</th>
      <th>Icd ratio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deposites_and_credits3s.each do |deposites_and_credits3| %>
      <tr>
        <td><%= deposites_and_credits3.Indicator %></td>
        <td><%= deposites_and_credits3.Area %></td>
        <td><%= deposites_and_credits3.Deposits %></td>
        <td><%= deposites_and_credits3.Credits %></td>
        <td><%= deposites_and_credits3.CD_Ratio %></td>
        <td><%= deposites_and_credits3.Investment %></td>
        <td><%= deposites_and_credits3.ICD_Ratio %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposites And Credits3', new_deposites_and_credits3_path %>