<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @deposites_and_credits3.Indicator %>
</p>

<p>
  <strong>Area:</strong>
  <%= @deposites_and_credits3.Area %>
</p>

<p>
  <strong>Deposits:</strong>
  <%= @deposites_and_credits3.Deposits %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @deposites_and_credits3.Credits %>
</p>

<p>
  <strong>Cd ratio:</strong>
  <%= @deposites_and_credits3.CD_Ratio %>
</p>

<p>
  <strong>Investment:</strong>
  <%= @deposites_and_credits3.Investment %>
</p>

<p>
  <strong>Icd ratio:</strong>
  <%= @deposites_and_credits3.ICD_Ratio %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits3_path(@deposites_and_credits3) %> |
<%= link_to 'Back', deposites_and_credits3s_path %>
