<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @tourism3.Sector %>
</p>

<p>
  <strong>Tourist:</strong>
  <%= @tourism3.Tourist %>
</p>

<p>
  <strong>2012:</strong>
  <%= @tourism3.2012 %>
</p>

<p>
  <strong>2013:</strong>
  <%= @tourism3.2013 %>
</p>

<p>
  <strong>2014:</strong>
  <%= @tourism3.2014 %>
</p>

<p>
  <strong>2015:</strong>
  <%= @tourism3.2015 %>
</p>

<p>
  <strong>2016:</strong>
  <%= @tourism3.2016 %>
</p>

<p>
  <strong>2017:</strong>
  <%= @tourism3.2017 %>
</p>

<%= link_to 'Edit', edit_tourism3_path(@tourism3) %> |
<%= link_to 'Back', tourism3s_path %>
