<%= form_with(model: non_agro_based_industries2, local: true) do |form| %>
  <% if non_agro_based_industries2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(non_agro_based_industries2.errors.count, "error") %> prohibited this non_agro_based_industries2 from being saved:</h2>

      <ul>
      <% non_agro_based_industries2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Sanctioned_amount_in_Rs_lakh %>
    <%= form.text_field :Sanctioned_amount_in_Rs_lakh %>
  </div>

  <div class="field">
    <%= form.label :Handlooms_on_which_UID_No_has_been_engraved %>
    <%= form.text_field :Handlooms_on_which_UID_No_has_been_engraved %>
  </div>

  <div class="field">
    <%= form.label :Pati_looms_on_which_UID_No_has_been_engraved %>
    <%= form.text_field :Pati_looms_on_which_UID_No_has_been_engraved %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
