<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @non_agro_based_industries2.Districts %>
</p>

<p>
  <strong>Sanctioned amount in rs lakh:</strong>
  <%= @non_agro_based_industries2.Sanctioned_amount_in_Rs_lakh %>
</p>

<p>
  <strong>Handlooms on which uid no has been engraved:</strong>
  <%= @non_agro_based_industries2.Handlooms_on_which_UID_No_has_been_engraved %>
</p>

<p>
  <strong>Pati looms on which uid no has been engraved:</strong>
  <%= @non_agro_based_industries2.Pati_looms_on_which_UID_No_has_been_engraved %>
</p>

<%= link_to 'Edit', edit_non_agro_based_industries2_path(@non_agro_based_industries2) %> |
<%= link_to 'Back', non_agro_based_industries2s_path %>
