<p id="notice"><%= notice %></p>

<h1>Debt Management2s</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th>31 03 2016</th>
      <th>31 03 2017</th>
      <th>2017 from 2016</th>
      <th>31 03 17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debt_management2s.each do |debt_management2| %>
      <tr>
        <td><%= debt_management2.Sector %></td>
        <td><%= debt_management2.2015-16 %></td>
        <td><%= debt_management2.2016-17 %></td>
        <td><%= debt_management2.31_03_2016 %></td>
        <td><%= debt_management2.31_03_2017 %></td>
        <td><%= debt_management2.2017_from_2016 %></td>
        <td><%= debt_management2.31_03_17 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debt Management2', new_debt_management2_path %>