<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @debt_management2.Sector %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @debt_management2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @debt_management2.2016-17 %>
</p>

<p>
  <strong>31 03 2016:</strong>
  <%= @debt_management2.31_03_2016 %>
</p>

<p>
  <strong>31 03 2017:</strong>
  <%= @debt_management2.31_03_2017 %>
</p>

<p>
  <strong>2017 from 2016:</strong>
  <%= @debt_management2.2017_from_2016 %>
</p>

<p>
  <strong>31 03 17:</strong>
  <%= @debt_management2.31_03_17 %>
</p>

<%= link_to 'Edit', edit_debt_management2_path(@debt_management2) %> |
<%= link_to 'Back', debt_management2s_path %>
