<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @availablility_of_power1.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @availablility_of_power1.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @availablility_of_power1.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @availablility_of_power1.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @availablility_of_power1.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @availablility_of_power1.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @availablility_of_power1.2016-17 %>
</p>

<%= link_to 'Edit', edit_availablility_of_power1_path(@availablility_of_power1) %> |
<%= link_to 'Back', availablility_of_power1s_path %>
