<%= form_with(model: panchayati_raj1, local: true) do |form| %>
  <% if panchayati_raj1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(panchayati_raj1.errors.count, "error") %> prohibited this panchayati_raj1 from being saved:</h2>

      <ul>
      <% panchayati_raj1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Item %>
    <%= form.text_field :Item %>
  </div>

  <div class="field">
    <%= form.label :Number %>
    <%= form.text_field :Number %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Members_or_Functionaries %>
    <%= form.text_field :Number_of_Members_or_Functionaries %>
  </div>

  <div class="field">
    <%= form.label :Average_Number_of_Members_per_Panchayat %>
    <%= form.text_field :Average_Number_of_Members_per_Panchayat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
