<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @panchayati_raj1.Item %>
</p>

<p>
  <strong>Number:</strong>
  <%= @panchayati_raj1.Number %>
</p>

<p>
  <strong>Number of members or functionaries:</strong>
  <%= @panchayati_raj1.Number_of_Members_or_Functionaries %>
</p>

<p>
  <strong>Average number of members per panchayat:</strong>
  <%= @panchayati_raj1.Average_Number_of_Members_per_Panchayat %>
</p>

<%= link_to 'Edit', edit_panchayati_raj1_path(@panchayati_raj1) %> |
<%= link_to 'Back', panchayati_raj1s_path %>
