<p id="notice"><%= notice %></p>

<h1>Health22s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Nrhm total</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @health22s.each do |health22| %>
      <tr>
        <td><%= health22.Districts %></td>
        <td><%= health22.NRHM_Total %></td>
        <td><%= health22.Year %></td>
        <td><%= link_to 'Show', health22 %></td>
        <td><%= link_to 'Edit', edit_health22_path(health22) %></td>
        <td><%= link_to 'Destroy', health22, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Health22', new_health22_path %>
