<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @health22.Districts %>
</p>

<p>
  <strong>Nrhm total:</strong>
  <%= @health22.NRHM_Total %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health22.Year %>
</p>

<%= link_to 'Edit', edit_health22_path(@health22) %> |
<%= link_to 'Back', health22s_path %>
