<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @roads6.Indicator %>
</p>

<p>
  <strong>Nh in kms:</strong>
  <%= @roads6.NH_in_kms %>
</p>

<p>
  <strong>Expenditure on nh development:</strong>
  <%= @roads6.Expenditure_on_NH_Development %>
</p>

<p>
  <strong>Expenditure on nh maintenance:</strong>
  <%= @roads6.Expenditure_on_NH_Maintenance %>
</p>

<p>
  <strong>Total expenditure on nh:</strong>
  <%= @roads6.Total_Expenditure_on_NH %>
</p>

<p>
  <strong>Year:</strong>
  <%= @roads6.Year %>
</p>

<%= link_to 'Edit', edit_roads6_path(@roads6) %> |
<%= link_to 'Back', roads6s_path %>
