<p id="notice"><%= notice %></p>

<p>
  <strong>Characteristics:</strong>
  <%= @annual_survey5.Characteristics %>
</p>

<p>
  <strong>India:</strong>
  <%= @annual_survey5.India %>
</p>

<p>
  <strong>Bihar:</strong>
  <%= @annual_survey5.Bihar %>
</p>

<p>
  <strong>Year:</strong>
  <%= @annual_survey5.Year %>
</p>

<%= link_to 'Edit', edit_annual_survey5_path(@annual_survey5) %> |
<%= link_to 'Back', annual_survey5s_path %>
