<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @level_of_urbanisation6.Year %>
</p>

<p>
  <strong>Municipal corporations:</strong>
  <%= @level_of_urbanisation6.Municipal_Corporations %>
</p>

<p>
  <strong>Municipal councils:</strong>
  <%= @level_of_urbanisation6.Municipal_Councils %>
</p>

<p>
  <strong>Nagar panchayats:</strong>
  <%= @level_of_urbanisation6.Nagar_Panchayats %>
</p>

<p>
  <strong>Total:</strong>
  <%= @level_of_urbanisation6.Total %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @level_of_urbanisation6.Indicator %>
</p>

<%= link_to 'Edit', edit_level_of_urbanisation6_path(@level_of_urbanisation6) %> |
<%= link_to 'Back', level_of_urbanisation6s_path %>
