<p id="notice"><%= notice %></p>

<h1>Resource Management7s</h1>

<table>
  <thead>
    <tr>
      <th>Revenue sources</th>
      <th>Percentage</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_management7s.each do |resource_management7| %>
      <tr>
        <td><%= resource_management7.Revenue_Sources %></td>
        <td><%= resource_management7.Percentage %></td>
        <td><%= resource_management7.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Management7', new_resource_management7_path %>