<p id="notice"><%= notice %></p>

<p>
  <strong>Revenue sources:</strong>
  <%= @resource_management7.Revenue_Sources %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @resource_management7.Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management7.Year %>
</p>

<%= link_to 'Edit', edit_resource_management7_path(@resource_management7) %> |
<%= link_to 'Back', resource_management7s_path %>
