<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @distribution.Year %>
</p>

<p>
  <strong>Domestic consumer:</strong>
  <%= @distribution.Domestic_Consumer %>
</p>

<p>
  <strong>Commercial consumer:</strong>
  <%= @distribution.Commercial_Consumer %>
</p>

<p>
  <strong>Industrial lt consumer:</strong>
  <%= @distribution.Industrial_LT_Consumer %>
</p>

<p>
  <strong>Industrial ht consumer:</strong>
  <%= @distribution.Industrial_HT_Consumer %>
</p>

<p>
  <strong>Public lighting consumer:</strong>
  <%= @distribution.Public_Lighting_Consumer %>
</p>

<p>
  <strong>Traction consumer:</strong>
  <%= @distribution.Traction_Consumer %>
</p>

<p>
  <strong>Agriculture consumer:</strong>
  <%= @distribution.Agriculture_Consumer %>
</p>

<p>
  <strong>Public water works consumer:</strong>
  <%= @distribution.Public_Water_Works_Consumer %>
</p>

<p>
  <strong>Total consumer:</strong>
  <%= @distribution.Total_Consumer %>
</p>

<p>
  <strong>Percentage of domestic consumer:</strong>
  <%= @distribution.Percentage_of_Domestic_Consumer %>
</p>

<p>
  <strong>Percentage of commercial consumer:</strong>
  <%= @distribution.Percentage_of_Commercial_Consumer %>
</p>

<p>
  <strong>Percentage of industrial lt consumer:</strong>
  <%= @distribution.Percentage_of_Industrial_LT_Consumer %>
</p>

<p>
  <strong>Percentage of industrial ht consumer:</strong>
  <%= @distribution.Percentage_of_Industrial_HT_Consumer %>
</p>

<p>
  <strong>Percentage of public lighting consumer:</strong>
  <%= @distribution.Percentage_of_Public_Lighting_Consumer %>
</p>

<p>
  <strong>Percentage of agriculture consumer:</strong>
  <%= @distribution.Percentage_of_Agriculture_Consumer %>
</p>

<p>
  <strong>Percentage of public water works consumer:</strong>
  <%= @distribution.Percentage_of_Public_Water_Works_Consumer %>
</p>

<p>
  <strong>Percentage of total consumer:</strong>
  <%= @distribution.Percentage_of_Total_Consumer %>
</p>

<%= link_to 'Edit', edit_distribution_path(@distribution) %> |
<%= link_to 'Back', distributions_path %>
