<p id="notice"><%= notice %></p>

<h1>Women Empowerment4s</h1>

<table>
  <thead>
    <tr>
      <th>Types of cases</th>
      <th>Registered</th>
      <th>Disposed</th>
      <th>Percentage of case disposed</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @women_empowerment4s.each do |women_empowerment4| %>
      <tr>
        <td><%= women_empowerment4.Types_of_Cases %></td>
        <td><%= women_empowerment4.Registered %></td>
        <td><%= women_empowerment4.Disposed %></td>
        <td><%= women_empowerment4.Percentage_of_Case_Disposed %></td>
        <td><%= women_empowerment4.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Women Empowerment4', new_women_empowerment4_path %>