<p id="notice"><%= notice %></p>

<p>
  <strong>Types of cases:</strong>
  <%= @women_empowerment4.Types_of_Cases %>
</p>

<p>
  <strong>Registered:</strong>
  <%= @women_empowerment4.Registered %>
</p>

<p>
  <strong>Disposed:</strong>
  <%= @women_empowerment4.Disposed %>
</p>

<p>
  <strong>Percentage of case disposed:</strong>
  <%= @women_empowerment4.Percentage_of_Case_Disposed %>
</p>

<p>
  <strong>Year:</strong>
  <%= @women_empowerment4.Year %>
</p>

<%= link_to 'Edit', edit_women_empowerment4_path(@women_empowerment4) %> |
<%= link_to 'Back', women_empowerment4s_path %>
