<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @ict5.State %>
</p>

<p>
  <strong>Rural:</strong>
  <%= @ict5.Rural %>
</p>

<p>
  <strong>Deposits:</strong>
  <%= @ict5.Deposits %>
</p>

<p>
  <strong>Investment:</strong>
  <%= @ict5.Investment %>
</p>

<p>
  <strong>Mis:</strong>
  <%= @ict5.MIS %>
</p>

<p>
  <strong>Sukanya samridhi account:</strong>
  <%= @ict5.Sukanya_Samridhi_Account %>
</p>

<p>
  <strong>Mg nrega:</strong>
  <%= @ict5.MG_NREGA %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ict5.Total %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @ict5.Indicator %>
</p>

<%= link_to 'Edit', edit_ict5_path(@ict5) %> |
<%= link_to 'Back', ict5s_path %>
