<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @non_agro_based_industries1.Districts %>
</p>

<p>
  <strong>Products:</strong>
  <%= @non_agro_based_industries1.Products %>
</p>

<%= link_to 'Edit', edit_non_agro_based_industries1_path(@non_agro_based_industries1) %> |
<%= link_to 'Back', non_agro_based_industries1s_path %>
