<%= form_with(model: newrice, local: true) do |form| %>
  <% if newrice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(newrice.errors.count, "error") %> prohibited this newrice from being saved:</h2>

      <ul>
      <% newrice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Area %>
    <%= form.text_field :Area %>
  </div>

  <div class="field">
    <%= form.label :Production %>
    <%= form.text_field :Production %>
  </div>

  <div class="field">
    <%= form.label :Productivity %>
    <%= form.text_field :Productivity %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Area %>
    <%= form.text_field :Percentage_Area %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Production %>
    <%= form.text_field :Percentage_Production %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
