<p id="notice"><%= notice %></p>

<h1>Newrices</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Area</th>
      <th>Production</th>
      <th>Productivity</th>
      <th>Year</th>
      <th>Area colour</th>
      <th>Production colour</th>
      <th>Productivity colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newrices.each do |newrice| %>
      <tr>
        <td><%= newrice.Districts %></td>
        <td><%= newrice.Area %></td>
        <td><%= newrice.Production %></td>
        <td><%= newrice.Productivity %></td>
        <td><%= newrice.Year %></td>
        <td><%= newrice.Area_Colour %></td>
        <td><%= newrice.Production_Colour %></td>
        <td><%= newrice.Productivity_Colour %></td>
        <td><%= link_to 'Show', newrice %></td>
        <td><%= link_to 'Edit', edit_newrice_path(newrice) %></td>
        <td><%= link_to 'Destroy', newrice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newrice', new_newrice_path %>
