<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @newrice.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @newrice.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @newrice.Production %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @newrice.Productivity %>
</p>

<p>
  <strong>Year:</strong>
  <%= @newrice.Year %>
</p>

<p>
  <strong>Percentage area:</strong>
  <%= @newrice.Percentage_Area %>
</p>

<p>
  <strong>Percentage production:</strong>
  <%= @newrice.Percentage_Production %>
</p>

<%= link_to 'Edit', edit_newrice_path(@newrice) %> |
<%= link_to 'Back', newrices_path %>
