<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @sectoral_share12.Districts %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sectoral_share12.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share12.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share12.Achievement_Percentage %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_share12.Indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_share12_path(@sectoral_share12) %> |
<%= link_to 'Back', sectoral_share12s_path %>
