<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @sectoral_expenditure2.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @sectoral_expenditure2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @sectoral_expenditure2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @sectoral_expenditure2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @sectoral_expenditure2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @sectoral_expenditure2.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @sectoral_expenditure2.2017-18_BE %>
</p>

<p>
  <strong>Sub sector:</strong>
  <%= @sectoral_expenditure2.Sub_Sector %>
</p>

<%= link_to 'Edit', edit_sectoral_expenditure2_path(@sectoral_expenditure2) %> |
<%= link_to 'Back', sectoral_expenditure2s_path %>
