<p id="notice"><%= notice %></p>

<p>
  <strong>Year as on 31st march:</strong>
  <%= @state_public_sector1.Year_as_on_31st_March %>
</p>

<p>
  <strong>Number of working psus:</strong>
  <%= @state_public_sector1.Number_of_Working_PSUs %>
</p>

<p>
  <strong>Number of non working psus:</strong>
  <%= @state_public_sector1.Number_of_Non_Working_PSUs %>
</p>

<p>
  <strong>Statutory corporations:</strong>
  <%= @state_public_sector1.Statutory_Corporations %>
</p>

<p>
  <strong>Public sector companies:</strong>
  <%= @state_public_sector1.Public_Sector_Companies %>
</p>

<p>
  <strong>Equity:</strong>
  <%= @state_public_sector1.Equity %>
</p>

<p>
  <strong>Loans:</strong>
  <%= @state_public_sector1.Loans %>
</p>

<p>
  <strong>Investment:</strong>
  <%= @state_public_sector1.Investment %>
</p>

<%= link_to 'Edit', edit_state_public_sector1_path(@state_public_sector1) %> |
<%= link_to 'Back', state_public_sector1s_path %>
