<p id="notice"><%= notice %></p>

<p>
  <strong>Details:</strong>
  <%= @women_empowerment1.Details %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @women_empowerment1.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @women_empowerment1.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @women_empowerment1.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @women_empowerment1.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @women_empowerment1.2016-17 %>
</p>

<%= link_to 'Edit', edit_women_empowerment1_path(@women_empowerment1) %> |
<%= link_to 'Back', women_empowerment1s_path %>
