<p id="notice"><%= notice %></p>

<p>
  <strong>Location of project:</strong>
  <%= @agro_based_industries4.Location_of_Project %>
</p>

<p>
  <strong>Procurement:</strong>
  <%= @agro_based_industries4.Procurement %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agro_based_industries4.Year %>
</p>

<%= link_to 'Edit', edit_agro_based_industries4_path(@agro_based_industries4) %> |
<%= link_to 'Back', agro_based_industries4s_path %>
