<%= form_with(model: operational_and_financial_status1, local: true) do |form| %>
  <% if operational_and_financial_status1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operational_and_financial_status1.errors.count, "error") %> prohibited this operational_and_financial_status1 from being saved:</h2>

      <ul>
      <% operational_and_financial_status1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Item %>
    <%= form.text_field :Item %>
  </div>

  <div class="field">
    <%= form.label :NBPDCL %>
    <%= form.text_field :NBPDCL %>
  </div>

  <div class="field">
    <%= form.label :SBPDCL %>
    <%= form.text_field :SBPDCL %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
