<p id="notice"><%= notice %></p>

<h1>Operational And Financial Status1s</h1>

<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Nbpdcl</th>
      <th>Sbpdcl</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operational_and_financial_status1s.each do |operational_and_financial_status1| %>
      <tr>
        <td><%= operational_and_financial_status1.Item %></td>
        <td><%= operational_and_financial_status1.NBPDCL %></td>
        <td><%= operational_and_financial_status1.SBPDCL %></td>
        <td><%= operational_and_financial_status1.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operational And Financial Status1', new_operational_and_financial_status1_path %>