<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @operational_and_financial_status1.Item %>
</p>

<p>
  <strong>Nbpdcl:</strong>
  <%= @operational_and_financial_status1.NBPDCL %>
</p>

<p>
  <strong>Sbpdcl:</strong>
  <%= @operational_and_financial_status1.SBPDCL %>
</p>

<p>
  <strong>Year:</strong>
  <%= @operational_and_financial_status1.Year %>
</p>

<%= link_to 'Edit', edit_operational_and_financial_status1_path(@operational_and_financial_status1) %> |
<%= link_to 'Back', operational_and_financial_status1s_path %>
