<%= form_with(model: irrigation2, local: true) do |form| %>
  <% if irrigation2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(irrigation2.errors.count, "error") %> prohibited this irrigation2 from being saved:</h2>

      <ul>
      <% irrigation2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name_of_Scheme %>
    <%= form.text_field :Name_of_Scheme %>
  </div>

  <div class="field">
    <%= form.label :Created_Irrigation_Potential %>
    <%= form.text_field :Created_Irrigation_Potential %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
