<p id="notice"><%= notice %></p>

<p>
  <strong>Name of scheme:</strong>
  <%= @irrigation2.Name_of_Scheme %>
</p>

<p>
  <strong>Created irrigation potential:</strong>
  <%= @irrigation2.Created_Irrigation_Potential %>
</p>

<%= link_to 'Edit', edit_irrigation2_path(@irrigation2) %> |
<%= link_to 'Back', irrigation2s_path %>
