<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @rainfall.Districts %>
</p>

<p>
  <strong>Winterrain 2016:</strong>
  <%= @rainfall.WinterRain_2016 %>
</p>

<p>
  <strong>Hotweatherrain 2016:</strong>
  <%= @rainfall.HotWeatherRain_2016 %>
</p>

<p>
  <strong>Southwestmonsoonrain 2016:</strong>
  <%= @rainfall.SouthWestMonsoonRain_2016 %>
</p>

<p>
  <strong>Northwestmonsoonrain 2016:</strong>
  <%= @rainfall.NorthWestMonsoonRain_2016 %>
</p>

<p>
  <strong>Totalrainfall 2016:</strong>
  <%= @rainfall.TotalRainfall_2016 %>
</p>

<p>
  <strong>Winterrain 2017:</strong>
  <%= @rainfall.WinterRain_2017 %>
</p>

<p>
  <strong>Hotweatherrain 2017:</strong>
  <%= @rainfall.HotWeatherRain_2017 %>
</p>

<p>
  <strong>Southwestmonsoonrain 2017:</strong>
  <%= @rainfall.SouthWestMonsoonRain_2017 %>
</p>

<p>
  <strong>Total 2017:</strong>
  <%= @rainfall.Total_2017 %>
</p>

<%= link_to 'Edit', edit_rainfall_path(@rainfall) %> |
<%= link_to 'Back', rainfalls_path %>
