<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @mapbihar.Districts %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @mapbihar.indicator %>
</p>

<%= link_to 'Edit', edit_mapbihar_path(@mapbihar) %> |
<%= link_to 'Back', mapbihars_path %>
