<%= form_with(model: production_productivity11, local: true) do |form| %>
  <% if production_productivity11.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production_productivity11.errors.count, "error") %> prohibited this production_productivity11 from being saved:</h2>

      <ul>
      <% production_productivity11.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Potato_Area %>
    <%= form.text_field :Potato_Area %>
  </div>

  <div class="field">
    <%= form.label :Potato_Production %>
    <%= form.text_field :Potato_Production %>
  </div>

  <div class="field">
    <%= form.label :Onion_Area %>
    <%= form.text_field :Onion_Area %>
  </div>

  <div class="field">
    <%= form.label :Onion_Production %>
    <%= form.text_field :Onion_Production %>
  </div>

  <div class="field">
    <%= form.label :Cauliflower_Area %>
    <%= form.text_field :Cauliflower_Area %>
  </div>

  <div class="field">
    <%= form.label :Cauliflower_Production %>
    <%= form.text_field :Cauliflower_Production %>
  </div>

  <div class="field">
    <%= form.label :Brinjal_Area %>
    <%= form.text_field :Brinjal_Area %>
  </div>

  <div class="field">
    <%= form.label :Brinjal_Production %>
    <%= form.text_field :Brinjal_Production %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Potato_Area %>
    <%= form.text_field :Percentage_Potato_Area %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Potato_Production %>
    <%= form.text_field :Percentage_Potato_Production %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Onion_Area %>
    <%= form.text_field :Percentage_Onion_Area %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Onion_Production %>
    <%= form.text_field :Percentage_Onion_Production %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Cauliflower_Area %>
    <%= form.text_field :Percentage_Cauliflower_Area %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Cauliflower_Production %>
    <%= form.text_field :Percentage_Cauliflower_Production %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Brinjal_Area %>
    <%= form.text_field :Percentage_Brinjal_Area %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Brinjal_Production %>
    <%= form.text_field :Percentage_Brinjal_Production %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
