<p id="notice"><%= notice %></p>

<h1>Production Productivity11s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Potato area</th>
      <th>Potato production</th>
      <th>Onion area</th>
      <th>Onion production</th>
      <th>Cauliflower area</th>
      <th>Cauliflower production</th>
      <th>Brinjal area</th>
      <th>Brinjal production</th>
      <th>Year</th>
      <th>Percentage potato area</th>
      <th>Percentage potato production</th>
      <th>Percentage onion area</th>
      <th>Percentage onion production</th>
      <th>Percentage cauliflower area</th>
      <th>Percentage cauliflower production</th>
      <th>Percentage brinjal area</th>
      <th>Percentage brinjal production</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_productivity11s.each do |production_productivity11| %>
      <tr>
        <td><%= production_productivity11.Districts %></td>
        <td><%= production_productivity11.Potato_Area %></td>
        <td><%= production_productivity11.Potato_Production %></td>
        <td><%= production_productivity11.Onion_Area %></td>
        <td><%= production_productivity11.Onion_Production %></td>
        <td><%= production_productivity11.Cauliflower_Area %></td>
        <td><%= production_productivity11.Cauliflower_Production %></td>
        <td><%= production_productivity11.Brinjal_Area %></td>
        <td><%= production_productivity11.Brinjal_Production %></td>
        <td><%= production_productivity11.Year %></td>
        <td><%= production_productivity11.Percentage_Potato_Area %></td>
        <td><%= production_productivity11.Percentage_Potato_Production %></td>
        <td><%= production_productivity11.Percentage_Onion_Area %></td>
        <td><%= production_productivity11.Percentage_Onion_Production %></td>
        <td><%= production_productivity11.Percentage_Cauliflower_Area %></td>
        <td><%= production_productivity11.Percentage_Cauliflower_Production %></td>
        <td><%= production_productivity11.Percentage_Brinjal_Area %></td>
        <td><%= production_productivity11.Percentage_Brinjal_Production %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Productivity11', new_production_productivity11_path %>