<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity11.Districts %>
</p>

<p>
  <strong>Potato area:</strong>
  <%= @production_productivity11.Potato_Area %>
</p>

<p>
  <strong>Potato production:</strong>
  <%= @production_productivity11.Potato_Production %>
</p>

<p>
  <strong>Onion area:</strong>
  <%= @production_productivity11.Onion_Area %>
</p>

<p>
  <strong>Onion production:</strong>
  <%= @production_productivity11.Onion_Production %>
</p>

<p>
  <strong>Cauliflower area:</strong>
  <%= @production_productivity11.Cauliflower_Area %>
</p>

<p>
  <strong>Cauliflower production:</strong>
  <%= @production_productivity11.Cauliflower_Production %>
</p>

<p>
  <strong>Brinjal area:</strong>
  <%= @production_productivity11.Brinjal_Area %>
</p>

<p>
  <strong>Brinjal production:</strong>
  <%= @production_productivity11.Brinjal_Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity11.Year %>
</p>

<p>
  <strong>Potato area colour:</strong>
  <%= @production_productivity11.Potato_Area_Colour %>
</p>

<p>
  <strong>Potato production colour:</strong>
  <%= @production_productivity11.Potato_Production_Colour %>
</p>

<p>
  <strong>Onion area colour:</strong>
  <%= @production_productivity11.Onion_Area_Colour %>
</p>

<p>
  <strong>Onion production colour:</strong>
  <%= @production_productivity11.Onion_Production_Colour %>
</p>

<p>
  <strong>Cauliflower area colour:</strong>
  <%= @production_productivity11.Cauliflower_Area_Colour %>
</p>

<p>
  <strong>Cauliflower production colour:</strong>
  <%= @production_productivity11.Cauliflower_Production_Colour %>
</p>

<p>
  <strong>Brinjal area colour:</strong>
  <%= @production_productivity11.Brinjal_Area_Colour %>
</p>

<p>
  <strong>Brinjal production colour:</strong>
  <%= @production_productivity11.Brinjal_Production_Colour %>
</p>

<%= link_to 'Edit', edit_production_productivity11_path(@production_productivity11) %> |
<%= link_to 'Back', production_productivity11s_path %>
