<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity11.Districts %>
</p>

<p>
  <strong>Potato area 2015:</strong>
  <%= @production_productivity11.Potato_Area_2015 %>
</p>

<p>
  <strong>Potato production 2015:</strong>
  <%= @production_productivity11.Potato_Production_2015 %>
</p>

<p>
  <strong>Potato area 2016:</strong>
  <%= @production_productivity11.Potato_Area_2016 %>
</p>

<p>
  <strong>Potato production 2016:</strong>
  <%= @production_productivity11.Potato_Production_2016 %>
</p>

<p>
  <strong>Onion area 2015:</strong>
  <%= @production_productivity11.Onion_Area_2015 %>
</p>

<p>
  <strong>Onion production 2015:</strong>
  <%= @production_productivity11.Onion_Production_2015 %>
</p>

<p>
  <strong>Onion area 2016:</strong>
  <%= @production_productivity11.Onion_Area_2016 %>
</p>

<p>
  <strong>Onion production 2016:</strong>
  <%= @production_productivity11.Onion_Production_2016 %>
</p>

<p>
  <strong>Cauliflower area 2015:</strong>
  <%= @production_productivity11.Cauliflower_Area_2015 %>
</p>

<p>
  <strong>Cauliflower production 2015:</strong>
  <%= @production_productivity11.Cauliflower_Production_2015 %>
</p>

<p>
  <strong>Cauliflower area 2016:</strong>
  <%= @production_productivity11.Cauliflower_Area_2016 %>
</p>

<p>
  <strong>Cauliflower production 2016:</strong>
  <%= @production_productivity11.Cauliflower_Production_2016 %>
</p>

<p>
  <strong>Brinjal area 2015:</strong>
  <%= @production_productivity11.Brinjal_Area_2015 %>
</p>

<p>
  <strong>Brinjal production 2015:</strong>
  <%= @production_productivity11.Brinjal_Production_2015 %>
</p>

<p>
  <strong>Brinjal area 2016:</strong>
  <%= @production_productivity11.Brinjal_Area_2016 %>
</p>

<p>
  <strong>Brinjal production 2016:</strong>
  <%= @production_productivity11.Brinjal_Production_2016 %>
</p>

<%= link_to 'Edit', edit_production_productivity11_path(@production_productivity11) %> |
<%= link_to 'Back', production_productivity11s_path %>
