<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity11.Districts %>
</p>

<p>
  <strong>Potato area:</strong>
  <%= @production_productivity11.Potato_Area %>
</p>

<p>
  <strong>Potato production:</strong>
  <%= @production_productivity11.Potato_Production %>
</p>

<p>
  <strong>Onion area:</strong>
  <%= @production_productivity11.Onion_Area %>
</p>

<p>
  <strong>Onion production:</strong>
  <%= @production_productivity11.Onion_Production %>
</p>

<p>
  <strong>Cauliflower area:</strong>
  <%= @production_productivity11.Cauliflower_Area %>
</p>

<p>
  <strong>Cauliflower production:</strong>
  <%= @production_productivity11.Cauliflower_Production %>
</p>

<p>
  <strong>Brinjal area:</strong>
  <%= @production_productivity11.Brinjal_Area %>
</p>

<p>
  <strong>Brinjal production:</strong>
  <%= @production_productivity11.Brinjal_Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity11.Year %>
</p>

<p>
  <strong>Percentage potato area:</strong>
  <%= @production_productivity11.Percentage_Potato_Area %>
</p>

<p>
  <strong>Percentage potato production:</strong>
  <%= @production_productivity11.Percentage_Potato_Production %>
</p>

<p>
  <strong>Percentage onion area:</strong>
  <%= @production_productivity11.Percentage_Onion_Area %>
</p>

<p>
  <strong>Percentage onion production:</strong>
  <%= @production_productivity11.Percentage_Onion_Production %>
</p>

<p>
  <strong>Percentage cauliflower area:</strong>
  <%= @production_productivity11.Percentage_Cauliflower_Area %>
</p>

<p>
  <strong>Percentage cauliflower production:</strong>
  <%= @production_productivity11.Percentage_Cauliflower_Production %>
</p>

<p>
  <strong>Percentage brinjal area:</strong>
  <%= @production_productivity11.Percentage_Brinjal_Area %>
</p>

<p>
  <strong>Percentage brinjal production:</strong>
  <%= @production_productivity11.Percentage_Brinjal_Production %>
</p>

<%= link_to 'Edit', edit_production_productivity11_path(@production_productivity11) %> |
<%= link_to 'Back', production_productivity11s_path %>
