<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @deposites_and_credits1.Sector %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @deposites_and_credits1.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @deposites_and_credits1.2015-16 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @deposites_and_credits1.Indicator %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits1_path(@deposites_and_credits1) %> |
<%= link_to 'Back', deposites_and_credits1s_path %>
