<%= form_with(model: annual_survey1, local: true) do |form| %>
  <% if annual_survey1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(annual_survey1.errors.count, "error") %> prohibited this annual_survey1 from being saved:</h2>

      <ul>
      <% annual_survey1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Sector %>
    <%= form.text_field :Sector %>
  </div>

  <div class="field">
    <%= form.label :Annual_Growth_Rate %>
    <%= form.text_field :Annual_Growth_Rate %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
