<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @animal_husbandry4.Districts %>
</p>

<p>
  <strong>Cow:</strong>
  <%= @animal_husbandry4.Cow %>
</p>

<p>
  <strong>Buffalo:</strong>
  <%= @animal_husbandry4.Buffalo %>
</p>

<p>
  <strong>Pig:</strong>
  <%= @animal_husbandry4.Pig %>
</p>

<p>
  <strong>Sheep:</strong>
  <%= @animal_husbandry4.Sheep %>
</p>

<p>
  <strong>Goat:</strong>
  <%= @animal_husbandry4.Goat %>
</p>

<p>
  <strong>Poultry:</strong>
  <%= @animal_husbandry4.Poultry %>
</p>

<%= link_to 'Edit', edit_animal_husbandry4_path(@animal_husbandry4) %> |
<%= link_to 'Back', animal_husbandry4s_path %>
