<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @animal_husbandry4.Districts %>
</p>

<p>
  <strong>Cow:</strong>
  <%= @animal_husbandry4.Cow %>
</p>

<p>
  <strong>Buffalo:</strong>
  <%= @animal_husbandry4.Buffalo %>
</p>

<p>
  <strong>Pig:</strong>
  <%= @animal_husbandry4.Pig %>
</p>

<p>
  <strong>Sheep:</strong>
  <%= @animal_husbandry4.Sheep %>
</p>

<p>
  <strong>Goat:</strong>
  <%= @animal_husbandry4.Goat %>
</p>

<p>
  <strong>Poultry:</strong>
  <%= @animal_husbandry4.Poultry %>
</p>

<p>
  <strong>Percentage cow:</strong>
  <%= @animal_husbandry4.Percentage_Cow %>
</p>

<p>
  <strong>Percentage buffalo:</strong>
  <%= @animal_husbandry4.Percentage_Buffalo %>
</p>

<p>
  <strong>Percentage pig:</strong>
  <%= @animal_husbandry4.Percentage_Pig %>
</p>

<p>
  <strong>Percentage sheep:</strong>
  <%= @animal_husbandry4.Percentage_Sheep %>
</p>

<p>
  <strong>Percentage goat:</strong>
  <%= @animal_husbandry4.Percentage_Goat %>
</p>

<p>
  <strong>Percentage poultry:</strong>
  <%= @animal_husbandry4.Percentage_Poultry %>
</p>

<%= link_to 'Edit', edit_animal_husbandry4_path(@animal_husbandry4) %> |
<%= link_to 'Back', animal_husbandry4s_path %>
