<p id="notice"><%= notice %></p>

<h1>Projection Of Power Requirement4s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Total capacity mw</th>
      <th>Estimated peak availability at state periphery mw</th>
      <th>Estimated energy availability at state periphery mu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projection_of_power_requirement4s.each do |projection_of_power_requirement4| %>
      <tr>
        <td><%= projection_of_power_requirement4.Year %></td>
        <td><%= projection_of_power_requirement4.Total_Capacity_MW %></td>
        <td><%= projection_of_power_requirement4.Estimated_Peak_Availability_at_State_Periphery_MW %></td>
        <td><%= projection_of_power_requirement4.Estimated_Energy_Availability_at_State_Periphery_MU %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projection Of Power Requirement4', new_projection_of_power_requirement4_path %>