<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @projection_of_power_requirement4.Year %>
</p>

<p>
  <strong>Total capacity mw:</strong>
  <%= @projection_of_power_requirement4.Total_Capacity_MW %>
</p>

<p>
  <strong>Estimated peak availability at state periphery mw:</strong>
  <%= @projection_of_power_requirement4.Estimated_Peak_Availability_at_State_Periphery_MW %>
</p>

<p>
  <strong>Estimated energy availability at state periphery mu:</strong>
  <%= @projection_of_power_requirement4.Estimated_Energy_Availability_at_State_Periphery_MU %>
</p>

<%= link_to 'Edit', edit_projection_of_power_requirement4_path(@projection_of_power_requirement4) %> |
<%= link_to 'Back', projection_of_power_requirement4s_path %>
