<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @support_institutions2.Year %>
</p>

<p>
  <strong>Amount allotted rs lakh:</strong>
  <%= @support_institutions2.Amount_Allotted_Rs_lakh %>
</p>

<p>
  <strong>Amount spent rs lakh:</strong>
  <%= @support_institutions2.Amount_spent_Rs_lakh %>
</p>

<p>
  <strong>Number of entrepreneurs benefited:</strong>
  <%= @support_institutions2.Number_of_Entrepreneurs_benefited %>
</p>

<p>
  <strong>Amount spent in percentage:</strong>
  <%= @support_institutions2.Amount_Spent_in_Percentage %>
</p>

<%= link_to 'Edit', edit_support_institutions2_path(@support_institutions2) %> |
<%= link_to 'Back', support_institutions2s_path %>
