<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the post:</strong>
  <%= @health7.Name_of_the_Post %>
</p>

<p>
  <strong>Regular total sanctioned posts:</strong>
  <%= @health7.Regular_Total_Sanctioned_Posts %>
</p>

<p>
  <strong>Regular working:</strong>
  <%= @health7.Regular_Working %>
</p>

<p>
  <strong>Contractual sanctioned posts:</strong>
  <%= @health7.Contractual_Sanctioned_Posts %>
</p>

<p>
  <strong>Contractual working:</strong>
  <%= @health7.Contractual_Working %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health7.Year %>
</p>

<%= link_to 'Edit', edit_health7_path(@health7) %> |
<%= link_to 'Back', health7s_path %>
