<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @bridge_sector2.Year %>
</p>

<p>
  <strong>Number of bridges:</strong>
  <%= @bridge_sector2.Number_of_Bridges %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @bridge_sector2.Expenditure %>
</p>

<p>
  <strong>Turnover:</strong>
  <%= @bridge_sector2.Turnover %>
</p>

<p>
  <strong>Total revenue:</strong>
  <%= @bridge_sector2.Total_Revenue %>
</p>

<p>
  <strong>Administrative expenditure:</strong>
  <%= @bridge_sector2.Administrative_Expenditure %>
</p>

<p>
  <strong>Gross profit:</strong>
  <%= @bridge_sector2.Gross_Profit %>
</p>

<p>
  <strong>Net profit:</strong>
  <%= @bridge_sector2.Net_Profit %>
</p>

<%= link_to 'Edit', edit_bridge_sector2_path(@bridge_sector2) %> |
<%= link_to 'Back', bridge_sector2s_path %>
