<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @deficit_management2.State %>
</p>

<p>
  <strong>Gross fiscal deficit:</strong>
  <%= @deficit_management2.Gross_Fiscal_Deficit %>
</p>

<p>
  <strong>Year:</strong>
  <%= @deficit_management2.Year %>
</p>

<%= link_to 'Edit', edit_deficit_management2_path(@deficit_management2) %> |
<%= link_to 'Back', deficit_management2s_path %>
