<p id="notice"><%= notice %></p>

<p>
  <strong>Sources of revenue:</strong>
  <%= @resource_management4.Sources_of_Revenue %>
</p>

<p>
  <strong>Percentage growth over previous year:</strong>
  <%= @resource_management4.Percentage_Growth_Over_Previous_Year %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management4.Year %>
</p>

<%= link_to 'Edit', edit_resource_management4_path(@resource_management4) %> |
<%= link_to 'Back', resource_management4s_path %>
