<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @financial_institutions1.Year %>
</p>

<p>
  <strong>Crop loan refinance:</strong>
  <%= @financial_institutions1.Crop_Loan_Refinance %>
</p>

<p>
  <strong>Investment credit refinancing:</strong>
  <%= @financial_institutions1.Investment_Credit_Refinancing %>
</p>

<p>
  <strong>Ridf plus wif plus fpf loan sanctioned:</strong>
  <%= @financial_institutions1.RIDF_plus_WIF_plus_FPF_Loan_sanctioned %>
</p>

<p>
  <strong>Total financial support:</strong>
  <%= @financial_institutions1.Total_Financial_Support %>
</p>

<%= link_to 'Edit', edit_financial_institutions1_path(@financial_institutions1) %> |
<%= link_to 'Back', financial_institutions1s_path %>
