<%= form_with(model: inflation_rate, local: true) do |form| %>
  <% if inflation_rate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inflation_rate.errors.count, "error") %> prohibited this inflation_rate from being saved:</h2>

      <ul>
      <% inflation_rate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :State %>
    <%= form.text_field :State %>
  </div>

  <div class="field">
    <%= form.label :Sector %>
    <%= form.text_field :Sector %>
  </div>

  <div class="field">
    <%= form.label :Oct_16_Index_Final %>
    <%= form.text_field :Oct_16_Index_Final %>
  </div>

  <div class="field">
    <%= form.label :Oct_17_Index_Provisional %>
    <%= form.text_field :Oct_17_Index_Provisional %>
  </div>

  <div class="field">
    <%= form.label :Inflation_Rate_in_percentage %>
    <%= form.text_field :Inflation_Rate_in_percentage %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
