<p id="notice"><%= notice %></p>

<h1>Inflation Rates</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Sector</th>
      <th>Oct 16 index final</th>
      <th>Oct 17 index provisional</th>
      <th>Inflation rate in percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inflation_rates.each do |inflation_rate| %>
      <tr>
        <td><%= inflation_rate.State %></td>
        <td><%= inflation_rate.Sector %></td>
        <td><%= inflation_rate.Oct_16_Index_Final %></td>
        <td><%= inflation_rate.Oct_17_Index_Provisional %></td>
        <td><%= inflation_rate.Inflation_Rate_in_percentage %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inflation Rate', new_inflation_rate_path %>