<p id="notice"><%= notice %></p>

<h1>Inflation Rates</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Rural oct 16 index final</th>
      <th>Rural oct 17 index provisional</th>
      <th>Rural inflation rate in percentage</th>
      <th>Urban oct 16 index final</th>
      <th>Urban oct 17 index provisional</th>
      <th>Urban inflation rate in percentage</th>
      <th>Combined oct 16 index final</th>
      <th>Combined oct 17 index provisional</th>
      <th>Combined inflation rate in percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inflation_rates.each do |inflation_rate| %>
      <tr>
        <td><%= inflation_rate.State %></td>
        <td><%= inflation_rate.Rural_Oct_16_Index_Final %></td>
        <td><%= inflation_rate.Rural_Oct_17_Index_Provisional %></td>
        <td><%= inflation_rate.Rural_Inflation_Rate_in_percentage %></td>
        <td><%= inflation_rate.Urban_Oct_16_Index_Final %></td>
        <td><%= inflation_rate.Urban_Oct_17_Index_Provisional %></td>
        <td><%= inflation_rate.Urban_Inflation_Rate_in_percentage %></td>
        <td><%= inflation_rate.Combined_Oct_16_Index_Final %></td>
        <td><%= inflation_rate.Combined_Oct_17_Index_Provisional %></td>
        <td><%= inflation_rate.Combined_Inflation_Rate_in_percentage %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inflation Rate', new_inflation_rate_path %>