<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @inflation_rate.State %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @inflation_rate.Sector %>
</p>

<p>
  <strong>Oct 16 index final:</strong>
  <%= @inflation_rate.Oct_16_Index_Final %>
</p>

<p>
  <strong>Oct 17 index provisional:</strong>
  <%= @inflation_rate.Oct_17_Index_Provisional %>
</p>

<p>
  <strong>Inflation rate in percentage:</strong>
  <%= @inflation_rate.Inflation_Rate_in_percentage %>
</p>

<%= link_to 'Edit', edit_inflation_rate_path(@inflation_rate) %> |
<%= link_to 'Back', inflation_rates_path %>
