<%= form_with(model: rainfall2, local: true) do |form| %>
  <% if rainfall2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rainfall2.errors.count, "error") %> prohibited this rainfall2 from being saved:</h2>

      <ul>
      <% rainfall2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Winter_Rain %>
    <%= form.text_field :Winter_Rain %>
  </div>

  <div class="field">
    <%= form.label :Hot_Weather_Rain %>
    <%= form.text_field :Hot_Weather_Rain %>
  </div>

  <div class="field">
    <%= form.label :South_West_Monsoon %>
    <%= form.text_field :South_West_Monsoon %>
  </div>

  <div class="field">
    <%= form.label :North_West_Monsoon %>
    <%= form.text_field :North_West_Monsoon %>
  </div>

  <div class="field">
    <%= form.label :Total %>
    <%= form.text_field :Total %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
