<%= form_with(model: health19, local: true) do |form| %>
  <% if health19.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(health19.errors.count, "error") %> prohibited this health19 from being saved:</h2>

      <ul>
      <% health19.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Target %>
    <%= form.text_field :Target %>
  </div>

  <div class="field">
    <%= form.label :Selection %>
    <%= form.text_field :Selection %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
