<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @health19.Districts %>
</p>

<p>
  <strong>Target:</strong>
  <%= @health19.Target %>
</p>

<p>
  <strong>Selection:</strong>
  <%= @health19.Selection %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health19.Year %>
</p>

<%= link_to 'Edit', edit_health19_path(@health19) %> |
<%= link_to 'Back', health19s_path %>
