<p id="notice"><%= notice %></p>

<p>
  <strong>Program or monitoring parameter:</strong>
  <%= @udp_jointly_funded5.Program_or_Monitoring_Parameter %>
</p>

<p>
  <strong>Annual target:</strong>
  <%= @udp_jointly_funded5.Annual_Target %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @udp_jointly_funded5.Progress %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @udp_jointly_funded5.Indicator %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded5_path(@udp_jointly_funded5) %> |
<%= link_to 'Back', udp_jointly_funded5s_path %>
