<p id="notice"><%= notice %></p>

<p>
  <strong>Sources of revenue:</strong>
  <%= @resource_management6.Sources_of_Revenue %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @resource_management6.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management6.Year %>
</p>

<%= link_to 'Edit', edit_resource_management6_path(@resource_management6) %> |
<%= link_to 'Back', resource_management6s_path %>
