<p id="notice"><%= notice %></p>

<p>
  <strong>Indicator:</strong>
  <%= @resource_management10.Indicator %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @resource_management10.Collection %>
</p>

<p>
  <strong>Expenditure on collection:</strong>
  <%= @resource_management10.Expenditure_on_collection %>
</p>

<p>
  <strong>Cost as percentage of collection:</strong>
  <%= @resource_management10.Cost_as_Percentage_of_Collection %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management10.Year %>
</p>

<%= link_to 'Edit', edit_resource_management10_path(@resource_management10) %> |
<%= link_to 'Back', resource_management10s_path %>
