<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @state_domestic_product8.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @state_domestic_product8.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @state_domestic_product8.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @state_domestic_product8.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @state_domestic_product8.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @state_domestic_product8.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @state_domestic_product8.2016-17 %>
</p>

<p>
  <strong>2011-16:</strong>
  <%= @state_domestic_product8.2011-16 %>
</p>

<%= link_to 'Edit', edit_state_domestic_product8_path(@state_domestic_product8) %> |
<%= link_to 'Back', state_domestic_product8s_path %>
