<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @roads7.Project %>
</p>

<p>
  <strong>Length in kms:</strong>
  <%= @roads7.Length_in_kms %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @roads7.Remarks %>
</p>

<%= link_to 'Edit', edit_roads7_path(@roads7) %> |
<%= link_to 'Back', roads7s_path %>
