<p id="notice"><%= notice %></p>

<h1>Agricultural Inputs5s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Target physical</th>
      <th>Target financial</th>
      <th>Achievement physical</th>
      <th>Achievement financial</th>
      <th>Target physical colour</th>
      <th>Target financial colour</th>
      <th>Achievement physical colour</th>
      <th>Achievement financial colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agricultural_inputs5s.each do |agricultural_inputs5| %>
      <tr>
        <td><%= agricultural_inputs5.Districts %></td>
        <td><%= agricultural_inputs5.Target_Physical %></td>
        <td><%= agricultural_inputs5.Target_Financial %></td>
        <td><%= agricultural_inputs5.Achievement_Physical %></td>
        <td><%= agricultural_inputs5.Achievement_Financial %></td>
        <td><%= agricultural_inputs5.Target_Physical_Colour %></td>
        <td><%= agricultural_inputs5.Target_Financial_Colour %></td>
        <td><%= agricultural_inputs5.Achievement_Physical_Colour %></td>
        <td><%= agricultural_inputs5.Achievement_Financial_Colour %></td>
        <td><%= link_to 'Show', agricultural_inputs5 %></td>
        <td><%= link_to 'Edit', edit_agricultural_inputs5_path(agricultural_inputs5) %></td>
        <td><%= link_to 'Destroy', agricultural_inputs5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agricultural Inputs5', new_agricultural_inputs5_path %>
