<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_inputs5.Districts %>
</p>

<p>
  <strong>Urea:</strong>
  <%= @agricultural_inputs5.Urea %>
</p>

<p>
  <strong>Dap:</strong>
  <%= @agricultural_inputs5.DAP %>
</p>

<p>
  <strong>Ssp:</strong>
  <%= @agricultural_inputs5.SSP %>
</p>

<p>
  <strong>Mop:</strong>
  <%= @agricultural_inputs5.MOP %>
</p>

<p>
  <strong>Ammonium sulphate:</strong>
  <%= @agricultural_inputs5.Ammonium_Sulphate %>
</p>

<p>
  <strong>Complex:</strong>
  <%= @agricultural_inputs5.Complex %>
</p>

<p>
  <strong>Total:</strong>
  <%= @agricultural_inputs5.Total %>
</p>

<p>
  <strong>N:</strong>
  <%= @agricultural_inputs5.N %>
</p>

<p>
  <strong>P:</strong>
  <%= @agricultural_inputs5.P %>
</p>

<p>
  <strong>K:</strong>
  <%= @agricultural_inputs5.K %>
</p>

<p>
  <strong>Total npk:</strong>
  <%= @agricultural_inputs5.Total_NPK %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @agricultural_inputs5.Grand_Total %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs5_path(@agricultural_inputs5) %> |
<%= link_to 'Back', agricultural_inputs5s_path %>
