<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_inputs5.Districts %>
</p>

<p>
  <strong>Target physical:</strong>
  <%= @agricultural_inputs5.Target_Physical %>
</p>

<p>
  <strong>Target financial:</strong>
  <%= @agricultural_inputs5.Target_Financial %>
</p>

<p>
  <strong>Achievement physical:</strong>
  <%= @agricultural_inputs5.Achievement_Physical %>
</p>

<p>
  <strong>Achievement financial:</strong>
  <%= @agricultural_inputs5.Achievement_Financial %>
</p>

<p>
  <strong>Target physical colour:</strong>
  <%= @agricultural_inputs5.Target_Physical_Colour %>
</p>

<p>
  <strong>Target financial colour:</strong>
  <%= @agricultural_inputs5.Target_Financial_Colour %>
</p>

<p>
  <strong>Achievement physical colour:</strong>
  <%= @agricultural_inputs5.Achievement_Physical_Colour %>
</p>

<p>
  <strong>Achievement financial colour:</strong>
  <%= @agricultural_inputs5.Achievement_Financial_Colour %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs5_path(@agricultural_inputs5) %> |
<%= link_to 'Back', agricultural_inputs5s_path %>
