<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @disaster_management1.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @disaster_management1.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @disaster_management1.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @disaster_management1.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @disaster_management1.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @disaster_management1.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @disaster_management1.2016-17 %>
</p>

<%= link_to 'Edit', edit_disaster_management1_path(@disaster_management1) %> |
<%= link_to 'Back', disaster_management1s_path %>
