<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @roads3.State %>
</p>

<p>
  <strong>Nh:</strong>
  <%= @roads3.NH %>
</p>

<p>
  <strong>Sh:</strong>
  <%= @roads3.SH %>
</p>

<p>
  <strong>Other:</strong>
  <%= @roads3.Other %>
</p>

<p>
  <strong>Total:</strong>
  <%= @roads3.Total %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @roads3.Indicator %>
</p>

<%= link_to 'Edit', edit_roads3_path(@roads3) %> |
<%= link_to 'Back', roads3s_path %>
