<%= form_with(model: debt_management3, local: true) do |form| %>
  <% if debt_management3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(debt_management3.errors.count, "error") %> prohibited this debt_management3 from being saved:</h2>

      <ul>
      <% debt_management3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Public_Debt_Repayment_Liabilities %>
    <%= form.text_field :Public_Debt_Repayment_Liabilities %>
  </div>

  <div class="field">
    <%= form.label :Amounts %>
    <%= form.text_field :Amounts %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
