<p id="notice"><%= notice %></p>

<h1>Debt Management3s</h1>

<table>
  <thead>
    <tr>
      <th>Public debt repayment liabilities</th>
      <th>Amounts</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debt_management3s.each do |debt_management3| %>
      <tr>
        <td><%= debt_management3.Public_Debt_Repayment_Liabilities %></td>
        <td><%= debt_management3.Amounts %></td>
        <td><%= debt_management3.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Debt Management3', new_debt_management3_path %>