<p id="notice"><%= notice %></p>

<p>
  <strong>Public debt repayment liabilities:</strong>
  <%= @debt_management3.Public_Debt_Repayment_Liabilities %>
</p>

<p>
  <strong>Amounts:</strong>
  <%= @debt_management3.Amounts %>
</p>

<p>
  <strong>Year:</strong>
  <%= @debt_management3.Year %>
</p>

<%= link_to 'Edit', edit_debt_management3_path(@debt_management3) %> |
<%= link_to 'Back', debt_management3s_path %>
