<p id="notice"><%= notice %></p>

<p>
  <strong>Typeofirrigationpotential:</strong>
  <%= @irrigation1.TypeofIrrigationPotential %>
</p>

<p>
  <strong>Ultimat potential:</strong>
  <%= @irrigation1.Ultimat_Potential %>
</p>

<p>
  <strong>Created potential:</strong>
  <%= @irrigation1.Created_Potential %>
</p>

<p>
  <strong>Utilised potential:</strong>
  <%= @irrigation1.Utilised_Potential %>
</p>

<%= link_to 'Edit', edit_irrigation1_path(@irrigation1) %> |
<%= link_to 'Back', irrigation1s_path %>
