<p id="notice"><%= notice %></p>

<p>
  <strong>District:</strong>
  <%= @sixth_economic_census2.District %>
</p>

<p>
  <strong>Number of establishments rural:</strong>
  <%= @sixth_economic_census2.Number_of_Establishments_Rural %>
</p>

<p>
  <strong>Number of establishments urban:</strong>
  <%= @sixth_economic_census2.Number_of_Establishments_Urban %>
</p>

<p>
  <strong>Total number of establishments:</strong>
  <%= @sixth_economic_census2.Total_Number_of_Establishments %>
</p>

<p>
  <strong>Percentage share establishments:</strong>
  <%= @sixth_economic_census2.Percentage_Share_Establishments %>
</p>

<p>
  <strong>Percentage share population:</strong>
  <%= @sixth_economic_census2.Percentage_Share_Population %>
</p>

<%= link_to 'Edit', edit_sixth_economic_census2_path(@sixth_economic_census2) %> |
<%= link_to 'Back', sixth_economic_census2s_path %>
