<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity1.Year %>
</p>

<p>
  <strong>Total cereals:</strong>
  <%= @production_productivity1.Total_Cereals %>
</p>

<p>
  <strong>Total rice:</strong>
  <%= @production_productivity1.Total_Rice %>
</p>

<p>
  <strong>Autumn rice:</strong>
  <%= @production_productivity1.Autumn_Rice %>
</p>

<p>
  <strong>Aghani rice:</strong>
  <%= @production_productivity1.Aghani_Rice %>
</p>

<p>
  <strong>Summer rice:</strong>
  <%= @production_productivity1.Summer_Rice %>
</p>

<p>
  <strong>Wheat:</strong>
  <%= @production_productivity1.Wheat %>
</p>

<p>
  <strong>Total maize:</strong>
  <%= @production_productivity1.Total_Maize %>
</p>

<p>
  <strong>Kharif maize:</strong>
  <%= @production_productivity1.Kharif_Maize %>
</p>

<p>
  <strong>Rabi maize:</strong>
  <%= @production_productivity1.Rabi_Maize %>
</p>

<p>
  <strong>Summer maize:</strong>
  <%= @production_productivity1.Summer_Maize %>
</p>

<p>
  <strong>Total coarse cereals:</strong>
  <%= @production_productivity1.Total_Coarse_Cereals %>
</p>

<p>
  <strong>Barley:</strong>
  <%= @production_productivity1.Barley %>
</p>

<p>
  <strong>Jowar:</strong>
  <%= @production_productivity1.Jowar %>
</p>

<p>
  <strong>Bajra:</strong>
  <%= @production_productivity1.Bajra %>
</p>

<p>
  <strong>Ragi:</strong>
  <%= @production_productivity1.Ragi %>
</p>

<p>
  <strong>Small millets:</strong>
  <%= @production_productivity1.Small_Millets %>
</p>

<p>
  <strong>Total pulses:</strong>
  <%= @production_productivity1.Total_Pulses %>
</p>

<p>
  <strong>Total kharif pulses:</strong>
  <%= @production_productivity1.Total_Kharif_Pulses %>
</p>

<p>
  <strong>Urad:</strong>
  <%= @production_productivity1.Urad %>
</p>

<p>
  <strong>Bhadai moong:</strong>
  <%= @production_productivity1.Bhadai_Moong %>
</p>

<p>
  <strong>Kulthi:</strong>
  <%= @production_productivity1.Kulthi %>
</p>

<p>
  <strong>Ghagra:</strong>
  <%= @production_productivity1.Ghagra %>
</p>

<p>
  <strong>Other kharif pulses:</strong>
  <%= @production_productivity1.Other_Kharif_Pulses %>
</p>

<p>
  <strong>Total rabi pulses:</strong>
  <%= @production_productivity1.Total_Rabi_Pulses %>
</p>

<p>
  <strong>Arhar tur:</strong>
  <%= @production_productivity1.Arhar_Tur %>
</p>

<p>
  <strong>Gram:</strong>
  <%= @production_productivity1.Gram %>
</p>

<p>
  <strong>Lentil:</strong>
  <%= @production_productivity1.Lentil %>
</p>

<p>
  <strong>Pea:</strong>
  <%= @production_productivity1.Pea %>
</p>

<p>
  <strong>Khesari:</strong>
  <%= @production_productivity1.Khesari %>
</p>

<p>
  <strong>Summer moong:</strong>
  <%= @production_productivity1.Summer_Moong %>
</p>

<p>
  <strong>Other rabi pulses:</strong>
  <%= @production_productivity1.Other_Rabi_Pulses %>
</p>

<p>
  <strong>Total oilseeds:</strong>
  <%= @production_productivity1.Total_Oilseeds %>
</p>

<p>
  <strong>Castor seed:</strong>
  <%= @production_productivity1.Castor_seed %>
</p>

<p>
  <strong>Safflower kusum:</strong>
  <%= @production_productivity1.Safflower_Kusum %>
</p>

<p>
  <strong>Sesamum:</strong>
  <%= @production_productivity1.Sesamum %>
</p>

<p>
  <strong>Sunflower:</strong>
  <%= @production_productivity1.Sunflower %>
</p>

<p>
  <strong>Mustard:</strong>
  <%= @production_productivity1.Mustard %>
</p>

<p>
  <strong>Linseed:</strong>
  <%= @production_productivity1.Linseed %>
</p>

<p>
  <strong>Ground nut:</strong>
  <%= @production_productivity1.Ground_Nut %>
</p>

<p>
  <strong>Total fibre crops:</strong>
  <%= @production_productivity1.Total_Fibre_Crops %>
</p>

<p>
  <strong>Jute:</strong>
  <%= @production_productivity1.Jute %>
</p>

<p>
  <strong>Mesta:</strong>
  <%= @production_productivity1.Mesta %>
</p>

<p>
  <strong>Sugarcane:</strong>
  <%= @production_productivity1.Sugarcane %>
</p>

<%= link_to 'Edit', edit_production_productivity1_path(@production_productivity1) %> |
<%= link_to 'Back', production_productivity1s_path %>
