<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @banking_infrastructure3.State %>
</p>

<p>
  <strong>State cooperative banks:</strong>
  <%= @banking_infrastructure3.State_Cooperative_Banks %>
</p>

<p>
  <strong>District central cooperative banks:</strong>
  <%= @banking_infrastructure3.District_Central_Cooperative_Banks %>
</p>

<p>
  <strong>Total:</strong>
  <%= @banking_infrastructure3.Total %>
</p>

<p>
  <strong>Year:</strong>
  <%= @banking_infrastructure3.Year %>
</p>

<%= link_to 'Edit', edit_banking_infrastructure3_path(@banking_infrastructure3) %> |
<%= link_to 'Back', banking_infrastructure3s_path %>
