<p id="notice"><%= notice %></p>

<p>
  <strong>Shelters sanctioned planned:</strong>
  <%= @udp_jointly_funded7.Shelters_Sanctioned_Planned %>
</p>

<p>
  <strong>Operational:</strong>
  <%= @udp_jointly_funded7.Operational %>
</p>

<p>
  <strong>Already constructed refurbished and under process:</strong>
  <%= @udp_jointly_funded7.Already_constructed_refurbished_and_under_process %>
</p>

<p>
  <strong>Under process of construction refurbishment:</strong>
  <%= @udp_jointly_funded7.Under_process_of_construction_refurbishment %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded7_path(@udp_jointly_funded7) %> |
<%= link_to 'Back', udp_jointly_funded7s_path %>
