<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @women_empowerment2.Sector %>
</p>

<p>
  <strong>Total budget:</strong>
  <%= @women_empowerment2.Total_Budget %>
</p>

<p>
  <strong>Under category i:</strong>
  <%= @women_empowerment2.Under_Category_I %>
</p>

<p>
  <strong>Under category ii:</strong>
  <%= @women_empowerment2.Under_Category_II %>
</p>

<p>
  <strong>Total:</strong>
  <%= @women_empowerment2.Total %>
</p>

<p>
  <strong>Year:</strong>
  <%= @women_empowerment2.Year %>
</p>

<%= link_to 'Edit', edit_women_empowerment2_path(@women_empowerment2) %> |
<%= link_to 'Back', women_empowerment2s_path %>
