<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @expenditure_management.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @expenditure_management.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @expenditure_management.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @expenditure_management.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @expenditure_management.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @expenditure_management.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @expenditure_management.2017-18_BE %>
</p>

<%= link_to 'Edit', edit_expenditure_management_path(@expenditure_management) %> |
<%= link_to 'Back', expenditure_managements_path %>
