<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @rural_development_programmes10.Districts %>
</p>

<p>
  <strong>Allotment:</strong>
  <%= @rural_development_programmes10.Allotment %>
</p>

<p>
  <strong>Lifting:</strong>
  <%= @rural_development_programmes10.Lifting %>
</p>

<p>
  <strong>Lifting percentage:</strong>
  <%= @rural_development_programmes10.Lifting_Percentage %>
</p>

<p>
  <strong>Crops:</strong>
  <%= @rural_development_programmes10.Crops %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes10_path(@rural_development_programmes10) %> |
<%= link_to 'Back', rural_development_programmes10s_path %>
