<p id="notice"><%= notice %></p>

<h1>District Wise Section3s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Primary1</th>
      <th>Upper primary</th>
      <th>Total</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @district_wise_section3s.each do |district_wise_section3| %>
      <tr>
        <td><%= district_wise_section3.Districts %></td>
        <td><%= district_wise_section3.Primary1 %></td>
        <td><%= district_wise_section3.Upper_Primary %></td>
        <td><%= district_wise_section3.Total %></td>
        <td><%= district_wise_section3.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New District Wise Section3', new_district_wise_section3_path %>