<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @district_wise_section3.Districts %>
</p>

<p>
  <strong>Primary1:</strong>
  <%= @district_wise_section3.Primary1 %>
</p>

<p>
  <strong>Upper primary:</strong>
  <%= @district_wise_section3.Upper_Primary %>
</p>

<p>
  <strong>Total:</strong>
  <%= @district_wise_section3.Total %>
</p>

<p>
  <strong>Year:</strong>
  <%= @district_wise_section3.Year %>
</p>

<%= link_to 'Edit', edit_district_wise_section3_path(@district_wise_section3) %> |
<%= link_to 'Back', district_wise_section3s_path %>
