<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the scheme:</strong>
  <%= @social_security_for_old_and_disabled.Name_of_the_Scheme %>
</p>

<p>
  <strong>Budget outlay:</strong>
  <%= @social_security_for_old_and_disabled.Budget_Outlay %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @social_security_for_old_and_disabled.Expenditure %>
</p>

<p>
  <strong>Physical achievement:</strong>
  <%= @social_security_for_old_and_disabled.Physical_Achievement %>
</p>

<p>
  <strong>Year:</strong>
  <%= @social_security_for_old_and_disabled.Year %>
</p>

<%= link_to 'Edit', edit_social_security_for_old_and_disabled_path(@social_security_for_old_and_disabled) %> |
<%= link_to 'Back', social_security_for_old_and_disableds_path %>
