<p id="notice"><%= notice %></p>

<p>
  <strong>Sectors:</strong>
  <%= @bihar_industrial_investment2.Sectors %>
</p>

<p>
  <strong>Number of units:</strong>
  <%= @bihar_industrial_investment2.Number_of_Units %>
</p>

<%= link_to 'Edit', edit_bihar_industrial_investment2_path(@bihar_industrial_investment2) %> |
<%= link_to 'Back', bihar_industrial_investment2s_path %>
