<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @roads10.Districts %>
</p>

<p>
  <strong>Nh:</strong>
  <%= @roads10.NH %>
</p>

<p>
  <strong>Sh:</strong>
  <%= @roads10.SH %>
</p>

<p>
  <strong>Mdr:</strong>
  <%= @roads10.MDR %>
</p>

<p>
  <strong>Rural road:</strong>
  <%= @roads10.Rural_Road %>
</p>

<p>
  <strong>Year:</strong>
  <%= @roads10.Year %>
</p>

<%= link_to 'Edit', edit_roads10_path(@roads10) %> |
<%= link_to 'Back', roads10s_path %>
