<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @animal_husbandry6.Districts %>
</p>

<p>
  <strong>Crossbred cow:</strong>
  <%= @animal_husbandry6.Crossbred_Cow %>
</p>

<p>
  <strong>Local cow:</strong>
  <%= @animal_husbandry6.Local_Cow %>
</p>

<p>
  <strong>Total cow:</strong>
  <%= @animal_husbandry6.Total_Cow %>
</p>

<p>
  <strong>Buffalo:</strong>
  <%= @animal_husbandry6.Buffalo %>
</p>

<p>
  <strong>Total cow buffalo:</strong>
  <%= @animal_husbandry6.Total_Cow_Buffalo %>
</p>

<p>
  <strong>Goat:</strong>
  <%= @animal_husbandry6.Goat %>
</p>

<p>
  <strong>Total production:</strong>
  <%= @animal_husbandry6.Total_Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @animal_husbandry6.Year %>
</p>

<%= link_to 'Edit', edit_animal_husbandry6_path(@animal_husbandry6) %> |
<%= link_to 'Back', animal_husbandry6s_path %>
