<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @fiscal_performance1.State %>
</p>

<p>
  <strong>Revenue deficit gfd percentage:</strong>
  <%= @fiscal_performance1.Revenue_Deficit_GFD_Percentage %>
</p>

<p>
  <strong>Capital outlay gfd percentage:</strong>
  <%= @fiscal_performance1.Capital_Outlay_GFD_Percentage %>
</p>

<p>
  <strong>Non dev exp agg disbursements percentage:</strong>
  <%= @fiscal_performance1.Non_Dev_Exp_Agg_Disbursements_Percentage %>
</p>

<p>
  <strong>Non dev exp revenue receipts percentage:</strong>
  <%= @fiscal_performance1.Non_Dev_Exp_Revenue_Receipts_Percentage %>
</p>

<p>
  <strong>Interest payments revenue exp percentage:</strong>
  <%= @fiscal_performance1.Interest_Payments_Revenue_Exp_Percentage %>
</p>

<p>
  <strong>State own revenue revenue exp percentage:</strong>
  <%= @fiscal_performance1.State_Own_Revenue_Revenue_Exp_Percentage %>
</p>

<p>
  <strong>Gross transfers aggregate disbursements percentage:</strong>
  <%= @fiscal_performance1.Gross_Transfers_Aggregate_Disbursements_Percentage %>
</p>

<p>
  <strong>Debt servicing gross transfers percentage:</strong>
  <%= @fiscal_performance1.Debt_Servicing_Gross_Transfers_Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @fiscal_performance1.Year %>
</p>

<%= link_to 'Edit', edit_fiscal_performance1_path(@fiscal_performance1) %> |
<%= link_to 'Back', fiscal_performance1s_path %>
