<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @state_domestic_product1.Sector %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @state_domestic_product1.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @state_domestic_product1.2016-17 %>
</p>

<p>
  <strong>2011-12 to 2015-16:</strong>
  <%= @state_domestic_product1.2011-12_to_2015-16 %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @state_domestic_product1.Reference %>
</p>

<%= link_to 'Edit', edit_state_domestic_product1_path(@state_domestic_product1) %> |
<%= link_to 'Back', state_domestic_product1s_path %>
