<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @rural_development_programmes4.Year %>
</p>

<p>
  <strong>Annual physical target:</strong>
  <%= @rural_development_programmes4.Annual_Physical_Target %>
</p>

<p>
  <strong>Total houses completed:</strong>
  <%= @rural_development_programmes4.Total_Houses_Completed %>
</p>

<p>
  <strong>Houses completed for sc and st:</strong>
  <%= @rural_development_programmes4.Houses_Completed_for_SC_and_ST %>
</p>

<p>
  <strong>Percentage of fund utilisation:</strong>
  <%= @rural_development_programmes4.Percentage_of_Fund_Utilisation %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes4_path(@rural_development_programmes4) %> |
<%= link_to 'Back', rural_development_programmes4s_path %>
