<%= form_with(model: udp_jointly_funded3, local: true) do |form| %>
  <% if udp_jointly_funded3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(udp_jointly_funded3.errors.count, "error") %> prohibited this udp_jointly_funded3 from being saved:</h2>

      <ul>
      <% udp_jointly_funded3.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Category %>
    <%= form.text_field :Category %>
  </div>

  <div class="field">
    <%= form.label :Annual_Target %>
    <%= form.text_field :Annual_Target %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Persons_Undergoing_Training %>
    <%= form.text_field :Number_of_Persons_Undergoing_Training %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Persons_Completed_Training %>
    <%= form.text_field :Number_of_Persons_Completed_Training %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
