<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @udp_jointly_funded3.Category %>
</p>

<p>
  <strong>Annual target:</strong>
  <%= @udp_jointly_funded3.Annual_Target %>
</p>

<p>
  <strong>Number of persons undergoing training:</strong>
  <%= @udp_jointly_funded3.Number_of_Persons_Undergoing_Training %>
</p>

<p>
  <strong>Number of persons completed training:</strong>
  <%= @udp_jointly_funded3.Number_of_Persons_Completed_Training %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded3_path(@udp_jointly_funded3) %> |
<%= link_to 'Back', udp_jointly_funded3s_path %>
