<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @health8.Year %>
</p>

<p>
  <strong>Institutional delivery:</strong>
  <%= @health8.Institutional_Delivery %>
</p>

<%= link_to 'Edit', edit_health8_path(@health8) %> |
<%= link_to 'Back', health8s_path %>
