<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @sectoral_expenditure.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @sectoral_expenditure.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @sectoral_expenditure.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @sectoral_expenditure.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @sectoral_expenditure.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @sectoral_expenditure.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @sectoral_expenditure.2017-18_BE %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_expenditure.indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_expenditure_path(@sectoral_expenditure) %> |
<%= link_to 'Back', sectoral_expenditures_path %>
