<p id="notice"><%= notice %></p>

<p>
  <strong>Indicators:</strong>
  <%= @udp_jointly_funded9.Indicators %>
</p>

<p>
  <strong>Number amount:</strong>
  <%= @udp_jointly_funded9.Number_Amount %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded9_path(@udp_jointly_funded9) %> |
<%= link_to 'Back', udp_jointly_funded9s_path %>
