<p id="notice"><%= notice %></p>

<h1>Irrigation4s</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Management of irrigation system transferred</th>
      <th>Societies ready for transfer of system</th>
      <th>Applied for registration</th>
      <th>Under the process of motivation</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @irrigation4s.each do |irrigation4| %>
      <tr>
        <td><%= irrigation4.Status %></td>
        <td><%= irrigation4.Management_of_irrigation_System_Transferred %></td>
        <td><%= irrigation4.Societies_ready_for_transfer_of_system %></td>
        <td><%= irrigation4.Applied_for_Registration %></td>
        <td><%= irrigation4.Under_the_process_of_motivation %></td>
        <td><%= irrigation4.Total %></td>
        <td><%= link_to 'Show', irrigation4 %></td>
        <td><%= link_to 'Edit', edit_irrigation4_path(irrigation4) %></td>
        <td><%= link_to 'Destroy', irrigation4, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Irrigation4', new_irrigation4_path %>
