<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @irrigation4.Status %>
</p>

<p>
  <strong>Management of irrigation system transferred:</strong>
  <%= @irrigation4.Management_of_irrigation_System_Transferred %>
</p>

<p>
  <strong>Societies ready for transfer of system:</strong>
  <%= @irrigation4.Societies_ready_for_transfer_of_system %>
</p>

<p>
  <strong>Applied for registration:</strong>
  <%= @irrigation4.Applied_for_Registration %>
</p>

<p>
  <strong>Under the process of motivation:</strong>
  <%= @irrigation4.Under_the_process_of_motivation %>
</p>

<p>
  <strong>Total:</strong>
  <%= @irrigation4.Total %>
</p>

<%= link_to 'Edit', edit_irrigation4_path(@irrigation4) %> |
<%= link_to 'Back', irrigation4s_path %>
