<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @irrigation3.Year %>
</p>

<p>
  <strong>Created irrigation potential:</strong>
  <%= @irrigation3.Created_Irrigation_Potential %>
</p>

<p>
  <strong>Kharif target:</strong>
  <%= @irrigation3.Kharif_Target %>
</p>

<p>
  <strong>Kharif irrigation:</strong>
  <%= @irrigation3.Kharif_Irrigation %>
</p>

<p>
  <strong>Rabi target:</strong>
  <%= @irrigation3.Rabi_Target %>
</p>

<p>
  <strong>Rabi irrigation:</strong>
  <%= @irrigation3.Rabi_Irrigation %>
</p>

<p>
  <strong>Hot weather target:</strong>
  <%= @irrigation3.Hot_Weather_Target %>
</p>

<p>
  <strong>Hot weather irrigation:</strong>
  <%= @irrigation3.Hot_Weather_Irrigation %>
</p>

<p>
  <strong>Total utilised irrigation potential:</strong>
  <%= @irrigation3.Total_Utilised_Irrigation_Potential %>
</p>

<p>
  <strong>Utilisation efficiency:</strong>
  <%= @irrigation3.Utilisation_Efficiency %>
</p>

<%= link_to 'Edit', edit_irrigation3_path(@irrigation3) %> |
<%= link_to 'Back', irrigation3s_path %>
