<p id="notice"><%= notice %></p>

<h1>Tax Department4s</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2012-13</th>
      <th>2013-14</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_department4s.each do |tax_department4| %>
      <tr>
        <td><%= tax_department4.Sector %></td>
        <td><%= tax_department4.2012-13 %></td>
        <td><%= tax_department4.2013-14 %></td>
        <td><%= tax_department4.2014-15 %></td>
        <td><%= tax_department4.2015-16 %></td>
        <td><%= tax_department4.2016-17 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax Department4', new_tax_department4_path %>