<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @tax_department4.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @tax_department4.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @tax_department4.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @tax_department4.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @tax_department4.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @tax_department4.2016-17 %>
</p>

<%= link_to 'Edit', edit_tax_department4_path(@tax_department4) %> |
<%= link_to 'Back', tax_department4s_path %>
