<p id="notice"><%= notice %></p>

<p>
  <strong>Banks:</strong>
  <%= @deposites_and_credits7.Banks %>
</p>

<p>
  <strong>Number of branches:</strong>
  <%= @deposites_and_credits7.Number_of_branches %>
</p>

<p>
  <strong>Deposit:</strong>
  <%= @deposites_and_credits7.Deposit %>
</p>

<p>
  <strong>Advance:</strong>
  <%= @deposites_and_credits7.Advance %>
</p>

<p>
  <strong>Cd ratio:</strong>
  <%= @deposites_and_credits7.CD_Ratio %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @deposites_and_credits7.Indicator %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits7_path(@deposites_and_credits7) %> |
<%= link_to 'Back', deposites_and_credits7s_path %>
