<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @health18.Districts %>
</p>

<p>
  <strong>Regular post sanctioned:</strong>
  <%= @health18.Regular_Post_sanctioned %>
</p>

<p>
  <strong>Contractual post sanctioned:</strong>
  <%= @health18.Contractual_Post_sanctioned %>
</p>

<p>
  <strong>Regular anm employed:</strong>
  <%= @health18.Regular_ANM_Employed %>
</p>

<p>
  <strong>Contractual anm employed:</strong>
  <%= @health18.Contractual_ANM_Employed %>
</p>

<p>
  <strong>Number of anm per lakh population:</strong>
  <%= @health18.Number_of_ANM_per_lakh_population %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health18.Year %>
</p>

<%= link_to 'Edit', edit_health18_path(@health18) %> |
<%= link_to 'Back', health18s_path %>
