<p id="notice"><%= notice %></p>

<p>
  <strong>Sectors:</strong>
  <%= @bihar_industrial_investment1.Sectors %>
</p>

<p>
  <strong>Number of proposed units:</strong>
  <%= @bihar_industrial_investment1.Number_of_Proposed_Units %>
</p>

<p>
  <strong>Proposed investment:</strong>
  <%= @bihar_industrial_investment1.Proposed_Investment %>
</p>

<%= link_to 'Edit', edit_bihar_industrial_investment1_path(@bihar_industrial_investment1) %> |
<%= link_to 'Back', bihar_industrial_investment1s_path %>
