<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @level_of_urbanisation3.Districts %>
</p>

<p>
  <strong>Urbanisation:</strong>
  <%= @level_of_urbanisation3.Urbanisation %>
</p>

<p>
  <strong>Year:</strong>
  <%= @level_of_urbanisation3.Year %>
</p>

<%= link_to 'Edit', edit_level_of_urbanisation3_path(@level_of_urbanisation3) %> |
<%= link_to 'Back', level_of_urbanisation3s_path %>
