<p id="notice"><%= notice %></p>

<p>
  <strong>Particulars:</strong>
  <%= @level_of_urbanisation5.Particulars %>
</p>

<p>
  <strong>Municipal corporations:</strong>
  <%= @level_of_urbanisation5.Municipal_Corporations %>
</p>

<p>
  <strong>Municipal councils:</strong>
  <%= @level_of_urbanisation5.Municipal_Councils %>
</p>

<p>
  <strong>Nagar panchayats:</strong>
  <%= @level_of_urbanisation5.Nagar_Panchayats %>
</p>

<p>
  <strong>Total:</strong>
  <%= @level_of_urbanisation5.Total %>
</p>

<%= link_to 'Edit', edit_level_of_urbanisation5_path(@level_of_urbanisation5) %> |
<%= link_to 'Back', level_of_urbanisation5s_path %>
