<%= form_with(model: sectoral_share9, local: true) do |form| %>
  <% if sectoral_share9.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sectoral_share9.errors.count, "error") %> prohibited this sectoral_share9 from being saved:</h2>

      <ul>
      <% sectoral_share9.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Target %>
    <%= form.text_field :Target %>
  </div>

  <div class="field">
    <%= form.label :Achievement %>
    <%= form.text_field :Achievement %>
  </div>

  <div class="field">
    <%= form.label :Achievement_Percentage %>
    <%= form.text_field :Achievement_Percentage %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
