<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @sectoral_share9.Year %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sectoral_share9.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share9.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share9.Achievement_Percentage %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_share9.Indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_share9_path(@sectoral_share9) %> |
<%= link_to 'Back', sectoral_share9s_path %>
