<%= form_with(model: udp_state_plan1, local: true) do |form| %>
  <% if udp_state_plan1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(udp_state_plan1.errors.count, "error") %> prohibited this udp_state_plan1 from being saved:</h2>

      <ul>
      <% udp_state_plan1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Indicators %>
    <%= form.text_field :Indicators %>
  </div>

  <div class="field">
    <%= form.label :No_of_households %>
    <%= form.text_field :No_of_households %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
