<p id="notice"><%= notice %></p>

<p>
  <strong>Indicators:</strong>
  <%= @udp_state_plan1.Indicators %>
</p>

<p>
  <strong>No of households:</strong>
  <%= @udp_state_plan1.No_of_households %>
</p>

<%= link_to 'Edit', edit_udp_state_plan1_path(@udp_state_plan1) %> |
<%= link_to 'Back', udp_state_plan1s_path %>
