<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @ict3.Item %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ict3.Total %>
</p>

<p>
  <strong>Coverage in percentage:</strong>
  <%= @ict3.Coverage_in_percentage %>
</p>

<%= link_to 'Edit', edit_ict3_path(@ict3) %> |
<%= link_to 'Back', ict3s_path %>
