<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs2.Year %>
</p>

<p>
  <strong>Type of fertilizer:</strong>
  <%= @agricultural_inputs2.Type_of_Fertilizer %>
</p>

<p>
  <strong>Urea:</strong>
  <%= @agricultural_inputs2.Urea %>
</p>

<p>
  <strong>Dap:</strong>
  <%= @agricultural_inputs2.DAP %>
</p>

<p>
  <strong>Ssp:</strong>
  <%= @agricultural_inputs2.SSP %>
</p>

<p>
  <strong>Mop:</strong>
  <%= @agricultural_inputs2.MOP %>
</p>

<p>
  <strong>Ammonium sulphate:</strong>
  <%= @agricultural_inputs2.Ammonium_Sulphate %>
</p>

<p>
  <strong>Complex:</strong>
  <%= @agricultural_inputs2.Complex %>
</p>

<p>
  <strong>Sub total:</strong>
  <%= @agricultural_inputs2.Sub_Total %>
</p>

<p>
  <strong>N:</strong>
  <%= @agricultural_inputs2.N %>
</p>

<p>
  <strong>P:</strong>
  <%= @agricultural_inputs2.P %>
</p>

<p>
  <strong>K:</strong>
  <%= @agricultural_inputs2.K %>
</p>

<p>
  <strong>Total npk:</strong>
  <%= @agricultural_inputs2.Total_NPK %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @agricultural_inputs2.Grand_Total %>
</p>

<p>
  <strong>Consumption of fertilizer:</strong>
  <%= @agricultural_inputs2.Consumption_of_Fertilizer %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs2_path(@agricultural_inputs2) %> |
<%= link_to 'Back', agricultural_inputs2s_path %>
