<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @annual_survey4.Year %>
</p>

<p>
  <strong>India:</strong>
  <%= @annual_survey4.India %>
</p>

<p>
  <strong>Bihar:</strong>
  <%= @annual_survey4.Bihar %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @annual_survey4.Indicator %>
</p>

<%= link_to 'Edit', edit_annual_survey4_path(@annual_survey4) %> |
<%= link_to 'Back', annual_survey4s_path %>
