<p id="notice"><%= notice %></p>

<h1>Sectoral Share5s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Commercial banks</th>
      <th>Rrbs</th>
      <th>Cooperative and ldbs</th>
      <th>Total</th>
      <th>Annual growth rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sectoral_share5s.each do |sectoral_share5| %>
      <tr>
        <td><%= sectoral_share5.Year %></td>
        <td><%= sectoral_share5.Commercial_Banks %></td>
        <td><%= sectoral_share5.RRBs %></td>
        <td><%= sectoral_share5.Cooperative_and_LDBs %></td>
        <td><%= sectoral_share5.Total %></td>
        <td><%= sectoral_share5.Annual_Growth_Rate %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sectoral Share5', new_sectoral_share5_path %>