<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @deposites_and_credits4.State %>
</p>

<p>
  <strong>As per sanction:</strong>
  <%= @deposites_and_credits4.As_per_Sanction %>
</p>

<p>
  <strong>As per utilization:</strong>
  <%= @deposites_and_credits4.As_per_Utilization %>
</p>

<p>
  <strong>Year:</strong>
  <%= @deposites_and_credits4.Year %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits4_path(@deposites_and_credits4) %> |
<%= link_to 'Back', deposites_and_credits4s_path %>
