<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @health9.State %>
</p>

<p>
  <strong>Percentage of children fully immunized nfhs 3 2005 06:</strong>
  <%= @health9.Percentage_of_children_fully_immunized_NFHS_3_2005_06 %>
</p>

<p>
  <strong>Percentage of children fully immunized nfhs 4 2015 16:</strong>
  <%= @health9.Percentage_of_children_fully_immunized_NFHS_4_2015_16 %>
</p>

<p>
  <strong>Percentage point increase:</strong>
  <%= @health9.Percentage_Point_Increase %>
</p>

<p>
  <strong>Rank by percentage increase:</strong>
  <%= @health9.Rank_by_percentage_increase %>
</p>

<%= link_to 'Edit', edit_health9_path(@health9) %> |
<%= link_to 'Back', health9s_path %>
