<p id="notice"><%= notice %></p>

<h1>Expenditure Management2s</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2012-13</th>
      <th>2013-14</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th>2017-18 be</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenditure_management2s.each do |expenditure_management2| %>
      <tr>
        <td><%= expenditure_management2.Sector %></td>
        <td><%= expenditure_management2.2012-13 %></td>
        <td><%= expenditure_management2.2013-14 %></td>
        <td><%= expenditure_management2.2014-15 %></td>
        <td><%= expenditure_management2.2015-16 %></td>
        <td><%= expenditure_management2.2016-17 %></td>
        <td><%= expenditure_management2.2017-18_BE %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expenditure Management2', new_expenditure_management2_path %>