<p id="notice"><%= notice %></p>

<p>
  <strong>Type of company or corporation:</strong>
  <%= @state_public_sector2.Type_of_Company_or_corporation %>
</p>

<p>
  <strong>Government companies capital:</strong>
  <%= @state_public_sector2.Government_Companies_Capital %>
</p>

<p>
  <strong>Government companies long term loans:</strong>
  <%= @state_public_sector2.Government_Companies_Long_Term_Loans %>
</p>

<p>
  <strong>Total government companies:</strong>
  <%= @state_public_sector2.Total_Government_Companies %>
</p>

<p>
  <strong>Statutory corporations capital:</strong>
  <%= @state_public_sector2.Statutory_Corporations_Capital %>
</p>

<p>
  <strong>Statutory corporations long term loans:</strong>
  <%= @state_public_sector2.Statutory_Corporations_Long_Term_Loans %>
</p>

<p>
  <strong>Total statutory corporations:</strong>
  <%= @state_public_sector2.Total_Statutory_Corporations %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @state_public_sector2.Grand_Total %>
</p>

<%= link_to 'Edit', edit_state_public_sector2_path(@state_public_sector2) %> |
<%= link_to 'Back', state_public_sector2s_path %>
