<p id="notice"><%= notice %></p>

<p>
  <strong>Fruits:</strong>
  <%= @production_productivity4.Fruits %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity4.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity4.Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity4.Year %>
</p>

<%= link_to 'Edit', edit_production_productivity4_path(@production_productivity4) %> |
<%= link_to 'Back', production_productivity4s_path %>
