<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @social_welfare2.Year %>
</p>

<p>
  <strong>Total outlay:</strong>
  <%= @social_welfare2.Total_Outlay %>
</p>

<p>
  <strong>Total approved amount:</strong>
  <%= @social_welfare2.Total_Approved_Amount %>
</p>

<p>
  <strong>Total expenditure:</strong>
  <%= @social_welfare2.Total_Expenditure %>
</p>

<p>
  <strong>Utilisation percentage:</strong>
  <%= @social_welfare2.Utilisation_percentage %>
</p>

<%= link_to 'Edit', edit_social_welfare2_path(@social_welfare2) %> |
<%= link_to 'Back', social_welfare2s_path %>
