<%= form_with(model: roads4, local: true) do |form| %>
  <% if roads4.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roads4.errors.count, "error") %> prohibited this roads4 from being saved:</h2>

      <ul>
      <% roads4.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Type_of_Road %>
    <%= form.text_field :Type_of_Road %>
  </div>

  <div class="field">
    <%= form.label :Total %>
    <%= form.text_field :Total %>
  </div>

  <div class="field">
    <%= form.label :Paved %>
    <%= form.text_field :Paved %>
  </div>

  <div class="field">
    <%= form.label :Percent_of_Total %>
    <%= form.text_field :Percent_of_Total %>
  </div>

  <div class="field">
    <%= form.label :Percent_of_paved %>
    <%= form.text_field :Percent_of_paved %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
