<p id="notice"><%= notice %></p>

<p>
  <strong>Type of road:</strong>
  <%= @roads4.Type_of_Road %>
</p>

<p>
  <strong>Total:</strong>
  <%= @roads4.Total %>
</p>

<p>
  <strong>Paved:</strong>
  <%= @roads4.Paved %>
</p>

<p>
  <strong>Percent of total:</strong>
  <%= @roads4.Percent_of_Total %>
</p>

<p>
  <strong>Percent of paved:</strong>
  <%= @roads4.Percent_of_paved %>
</p>

<p>
  <strong>Year:</strong>
  <%= @roads4.Year %>
</p>

<%= link_to 'Edit', edit_roads4_path(@roads4) %> |
<%= link_to 'Back', roads4s_path %>
