<p id="notice"><%= notice %></p>

<p>
  <strong>Items:</strong>
  <%= @rural_development_programmes1.Items %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @rural_development_programmes1.Progress %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rural_development_programmes1.Year %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes1_path(@rural_development_programmes1) %> |
<%= link_to 'Back', rural_development_programmes1s_path %>
