<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @sectoral_share6.State %>
</p>

<p>
  <strong>No of pacs:</strong>
  <%= @sectoral_share6.No_of_PACS %>
</p>

<p>
  <strong>Deposits rs crore:</strong>
  <%= @sectoral_share6.Deposits_Rs_crore %>
</p>

<p>
  <strong>Borrowings rs crore:</strong>
  <%= @sectoral_share6.Borrowings_Rs_crore %>
</p>

<p>
  <strong>Loans and advances outstanding for agriculture rs crore:</strong>
  <%= @sectoral_share6.Loans_and_Advances_Outstanding_for_Agriculture_Rs_crore %>
</p>

<p>
  <strong>Loans and advances outstanding for non agriculture rs crore:</strong>
  <%= @sectoral_share6.Loans_and_Advances_Outstanding_for_Non_Agriculture_Rs_crore %>
</p>

<p>
  <strong>No of societies in profit:</strong>
  <%= @sectoral_share6.No_of_Societies_in_Profit %>
</p>

<p>
  <strong>Amount of societies in profit rs lakh:</strong>
  <%= @sectoral_share6.Amount_of_Societies_in_Profit_Rs_lakh %>
</p>

<p>
  <strong>No of societies in loss:</strong>
  <%= @sectoral_share6.No_of_Societies_in_Loss %>
</p>

<p>
  <strong>Amount of societies in loss rs lakh:</strong>
  <%= @sectoral_share6.Amount_of_Societies_in_Loss_Rs_lakh %>
</p>

<%= link_to 'Edit', edit_sectoral_share6_path(@sectoral_share6) %> |
<%= link_to 'Back', sectoral_share6s_path %>
