<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_inputs7.Districts %>
</p>

<p>
  <strong>Urea:</strong>
  <%= @agricultural_inputs7.Urea %>
</p>

<p>
  <strong>Tractor:</strong>
  <%= @agricultural_inputs7.Tractor %>
</p>

<p>
  <strong>Combine harvestor:</strong>
  <%= @agricultural_inputs7.Combine_Harvestor %>
</p>

<p>
  <strong>Zero tillage:</strong>
  <%= @agricultural_inputs7.Zero_Tillage %>
</p>

<p>
  <strong>Pumpset:</strong>
  <%= @agricultural_inputs7.Pumpset %>
</p>

<p>
  <strong>Power tiller:</strong>
  <%= @agricultural_inputs7.Power_Tiller %>
</p>

<p>
  <strong>Manually operated tools:</strong>
  <%= @agricultural_inputs7.Manually_Operated_Tools %>
</p>

<p>
  <strong>Thresher:</strong>
  <%= @agricultural_inputs7.Thresher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs7.Year %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs7_path(@agricultural_inputs7) %> |
<%= link_to 'Back', agricultural_inputs7s_path %>
