<p id="notice"><%= notice %></p>

<p>
  <strong>Industrial group:</strong>
  <%= @agro_based_industries6.Industrial_Group %>
</p>

<p>
  <strong>India:</strong>
  <%= @agro_based_industries6.India %>
</p>

<p>
  <strong>Bihar:</strong>
  <%= @agro_based_industries6.Bihar %>
</p>

<p>
  <strong>Bihar percentage share:</strong>
  <%= @agro_based_industries6.Bihar_Percentage_Share %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @agro_based_industries6.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @agro_based_industries6.Indicator1 %>
</p>

<%= link_to 'Edit', edit_agro_based_industries6_path(@agro_based_industries6) %> |
<%= link_to 'Back', agro_based_industries6s_path %>
