<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @annual_survey3.Year %>
</p>

<p>
  <strong>Number of factories agro based:</strong>
  <%= @annual_survey3.Number_of_Factories_Agro_based %>
</p>

<p>
  <strong>Number of factories non agro based:</strong>
  <%= @annual_survey3.Number_of_Factories_Non_Agro_based %>
</p>

<p>
  <strong>Total number of factories:</strong>
  <%= @annual_survey3.Total_Number_of_Factories %>
</p>

<p>
  <strong>Number of factories in operation agro based:</strong>
  <%= @annual_survey3.Number_of_Factories_in_Operation_Agro_based %>
</p>

<p>
  <strong>Number of factories in operation non agro based:</strong>
  <%= @annual_survey3.Number_of_Factories_in_Operation_Non_Agro_Based %>
</p>

<p>
  <strong>Total number of factories in operation:</strong>
  <%= @annual_survey3.Total_Number_of_Factories_in_Operation %>
</p>

<p>
  <strong>Percentage of agro based:</strong>
  <%= @annual_survey3.Percentage_of_Agro_based %>
</p>

<p>
  <strong>Percentage of non agro based:</strong>
  <%= @annual_survey3.Percentage_of_Non_Agro_based %>
</p>

<p>
  <strong>Percentage of total factories:</strong>
  <%= @annual_survey3.Percentage_of_Total_Factories %>
</p>

<p>
  <strong>Percentage of operation agro based:</strong>
  <%= @annual_survey3.Percentage_of_Operation_Agro_based %>
</p>

<p>
  <strong>Percentage of operation non agro based:</strong>
  <%= @annual_survey3.Percentage_of_Operation_Non_Agro_Based %>
</p>

<p>
  <strong>Percentage of total factories in operation:</strong>
  <%= @annual_survey3.Percentage_of_Total_Factories_in_Operation %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @annual_survey3.Indicator %>
</p>

<%= link_to 'Edit', edit_annual_survey3_path(@annual_survey3) %> |
<%= link_to 'Back', annual_survey3s_path %>
