<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the project:</strong>
  <%= @udp_jointly_funded12.Name_of_the_Project %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @udp_jointly_funded12.Activities %>
</p>

<p>
  <strong>Approved project cost:</strong>
  <%= @udp_jointly_funded12.Approved_Project_Cost %>
</p>

<p>
  <strong>Amount released:</strong>
  <%= @udp_jointly_funded12.Amount_released %>
</p>

<p>
  <strong>Status:</strong>
  <%= @udp_jointly_funded12.Status %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded12_path(@udp_jointly_funded12) %> |
<%= link_to 'Back', udp_jointly_funded12s_path %>
