<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @panchayati_raj2.Sector %>
</p>

<p>
  <strong>2013 14 actual:</strong>
  <%= @panchayati_raj2.2013_14_Actual %>
</p>

<p>
  <strong>2014 15 actual:</strong>
  <%= @panchayati_raj2.2014_15_Actual %>
</p>

<p>
  <strong>2015 16 actual:</strong>
  <%= @panchayati_raj2.2015_16_Actual %>
</p>

<p>
  <strong>2016 17 be:</strong>
  <%= @panchayati_raj2.2016_17_BE %>
</p>

<p>
  <strong>Indicatorstring:</strong>
  <%= @panchayati_raj2.Indicatorstring %>
</p>

<%= link_to 'Edit', edit_panchayati_raj2_path(@panchayati_raj2) %> |
<%= link_to 'Back', panchayati_raj2s_path %>
