<p id="notice"><%= notice %></p>

<h1>Production Productivity12s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Area</th>
      <th>Production</th>
      <th>Yield</th>
      <th>Year</th>
      <th>Percentage sugarcane area</th>
      <th>Percentage sugarcane production</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_productivity12s.each do |production_productivity12| %>
      <tr>
        <td><%= production_productivity12.Districts %></td>
        <td><%= production_productivity12.Area %></td>
        <td><%= production_productivity12.Production %></td>
        <td><%= production_productivity12.Yield %></td>
        <td><%= production_productivity12.Year %></td>
        <td><%= production_productivity12.Percentage_Sugarcane_Area %></td>
        <td><%= production_productivity12.Percentage_Sugarcane_Production %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Productivity12', new_production_productivity12_path %>