<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity12.Districts %>
</p>

<p>
  <strong>Area 2015:</strong>
  <%= @production_productivity12.Area_2015 %>
</p>

<p>
  <strong>Production 2015:</strong>
  <%= @production_productivity12.Production_2015 %>
</p>

<p>
  <strong>Yield 2015:</strong>
  <%= @production_productivity12.Yield_2015 %>
</p>

<p>
  <strong>Area 2016:</strong>
  <%= @production_productivity12.Area_2016 %>
</p>

<p>
  <strong>Production 2016:</strong>
  <%= @production_productivity12.Production_2016 %>
</p>

<p>
  <strong>Yield 2016:</strong>
  <%= @production_productivity12.Yield_2016 %>
</p>

<%= link_to 'Edit', edit_production_productivity12_path(@production_productivity12) %> |
<%= link_to 'Back', production_productivity12s_path %>
