<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity12.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity12.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity12.Production %>
</p>

<p>
  <strong>Yield:</strong>
  <%= @production_productivity12.Yield %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity12.Year %>
</p>

<%= link_to 'Edit', edit_production_productivity12_path(@production_productivity12) %> |
<%= link_to 'Back', production_productivity12s_path %>
