<%= form_with(model: state_domestic_product10, local: true) do |form| %>
  <% if state_domestic_product10.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state_domestic_product10.errors.count, "error") %> prohibited this state_domestic_product10 from being saved:</h2>

      <ul>
      <% state_domestic_product10.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Share_of_Population %>
    <%= form.text_field :Share_of_Population %>
  </div>

  <div class="field">
    <%= form.label :Petrol %>
    <%= form.text_field :Petrol %>
  </div>

  <div class="field">
    <%= form.label :Diesel %>
    <%= form.text_field :Diesel %>
  </div>

  <div class="field">
    <%= form.label :LPG %>
    <%= form.text_field :LPG %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Share_of_Petrol %>
    <%= form.text_field :Percentage_Share_of_Petrol %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Share_of_Diesel %>
    <%= form.text_field :Percentage_Share_of_Diesel %>
  </div>

  <div class="field">
    <%= form.label :Percentage_Share_of_LPG %>
    <%= form.text_field :Percentage_Share_of_LPG %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
