<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @state_domestic_product10.Districts %>
</p>

<p>
  <strong>Share of population:</strong>
  <%= @state_domestic_product10.Share_of_Population %>
</p>

<p>
  <strong>Petrol:</strong>
  <%= @state_domestic_product10.Petrol %>
</p>

<p>
  <strong>Diesel:</strong>
  <%= @state_domestic_product10.Diesel %>
</p>

<p>
  <strong>Lpg:</strong>
  <%= @state_domestic_product10.LPG %>
</p>

<p>
  <strong>Year:</strong>
  <%= @state_domestic_product10.Year %>
</p>

<p>
  <strong>Percentage share of petrol:</strong>
  <%= @state_domestic_product10.Percentage_Share_of_Petrol %>
</p>

<p>
  <strong>Percentage share of diesel:</strong>
  <%= @state_domestic_product10.Percentage_Share_of_Diesel %>
</p>

<p>
  <strong>Percentage share of lpg:</strong>
  <%= @state_domestic_product10.Percentage_Share_of_LPG %>
</p>

<%= link_to 'Edit', edit_state_domestic_product10_path(@state_domestic_product10) %> |
<%= link_to 'Back', state_domestic_product10s_path %>
