<p id="notice"><%= notice %></p>

<p>
  <strong>Years end march:</strong>
  <%= @banking_infrastructure1.Years_End_March %>
</p>

<p>
  <strong>Total:</strong>
  <%= @banking_infrastructure1.Total %>
</p>

<p>
  <strong>Growth rate:</strong>
  <%= @banking_infrastructure1.Growth_Rate %>
</p>

<p>
  <strong>Percentage distribution of rural branches:</strong>
  <%= @banking_infrastructure1.Percentage_distribution_of_Rural_branches %>
</p>

<p>
  <strong>Percentage distribution of semiurban branches:</strong>
  <%= @banking_infrastructure1.Percentage_distribution_of_Semiurban_Branches %>
</p>

<p>
  <strong>Percentage distribution of urban branches:</strong>
  <%= @banking_infrastructure1.Percentage_distribution_of_Urban_branches %>
</p>

<%= link_to 'Edit', edit_banking_infrastructure1_path(@banking_infrastructure1) %> |
<%= link_to 'Back', banking_infrastructure1s_path %>
