<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity2.Year %>
</p>

<p>
  <strong>Total cereals:</strong>
  <%= @production_productivity2.Total_Cereals %>
</p>

<p>
  <strong>Total rice:</strong>
  <%= @production_productivity2.Total_Rice %>
</p>

<p>
  <strong>Autumn rice:</strong>
  <%= @production_productivity2.Autumn_Rice %>
</p>

<p>
  <strong>Aghani rice:</strong>
  <%= @production_productivity2.Aghani_Rice %>
</p>

<p>
  <strong>Summer rice:</strong>
  <%= @production_productivity2.Summer_Rice %>
</p>

<p>
  <strong>Wheat:</strong>
  <%= @production_productivity2.Wheat %>
</p>

<p>
  <strong>Total maize:</strong>
  <%= @production_productivity2.Total_Maize %>
</p>

<p>
  <strong>Kharif maize:</strong>
  <%= @production_productivity2.Kharif_Maize %>
</p>

<p>
  <strong>Rabi maize:</strong>
  <%= @production_productivity2.Rabi_Maize %>
</p>

<p>
  <strong>Summer maize:</strong>
  <%= @production_productivity2.Summer_Maize %>
</p>

<p>
  <strong>Total coarse cereals:</strong>
  <%= @production_productivity2.Total_Coarse_Cereals %>
</p>

<p>
  <strong>Barley:</strong>
  <%= @production_productivity2.Barley %>
</p>

<p>
  <strong>Jowar:</strong>
  <%= @production_productivity2.Jowar %>
</p>

<p>
  <strong>Bajra:</strong>
  <%= @production_productivity2.Bajra %>
</p>

<p>
  <strong>Ragi:</strong>
  <%= @production_productivity2.Ragi %>
</p>

<p>
  <strong>Small millets:</strong>
  <%= @production_productivity2.Small_Millets %>
</p>

<p>
  <strong>Total pulses:</strong>
  <%= @production_productivity2.Total_Pulses %>
</p>

<p>
  <strong>Total kharif pulses:</strong>
  <%= @production_productivity2.Total_Kharif_Pulses %>
</p>

<p>
  <strong>Urad:</strong>
  <%= @production_productivity2.Urad %>
</p>

<p>
  <strong>Bhadai moong:</strong>
  <%= @production_productivity2.Bhadai_Moong %>
</p>

<p>
  <strong>Kulthi:</strong>
  <%= @production_productivity2.Kulthi %>
</p>

<p>
  <strong>Ghagra:</strong>
  <%= @production_productivity2.Ghagra %>
</p>

<p>
  <strong>Other kharif pulses:</strong>
  <%= @production_productivity2.Other_Kharif_Pulses %>
</p>

<p>
  <strong>Total rabi pulses:</strong>
  <%= @production_productivity2.Total_Rabi_Pulses %>
</p>

<p>
  <strong>Arhar tur:</strong>
  <%= @production_productivity2.Arhar_Tur %>
</p>

<p>
  <strong>Gram:</strong>
  <%= @production_productivity2.Gram %>
</p>

<p>
  <strong>Lentil:</strong>
  <%= @production_productivity2.Lentil %>
</p>

<p>
  <strong>Pea:</strong>
  <%= @production_productivity2.Pea %>
</p>

<p>
  <strong>Khesari:</strong>
  <%= @production_productivity2.Khesari %>
</p>

<p>
  <strong>Summer moong:</strong>
  <%= @production_productivity2.Summer_Moong %>
</p>

<p>
  <strong>Other rabi pulses:</strong>
  <%= @production_productivity2.Other_Rabi_Pulses %>
</p>

<p>
  <strong>Total oilseeds:</strong>
  <%= @production_productivity2.Total_Oilseeds %>
</p>

<p>
  <strong>Castor seed:</strong>
  <%= @production_productivity2.Castor_seed %>
</p>

<p>
  <strong>Safflower kusum:</strong>
  <%= @production_productivity2.Safflower_Kusum %>
</p>

<p>
  <strong>Sesamum:</strong>
  <%= @production_productivity2.Sesamum %>
</p>

<p>
  <strong>Sunflower:</strong>
  <%= @production_productivity2.Sunflower %>
</p>

<p>
  <strong>Mustard:</strong>
  <%= @production_productivity2.Mustard %>
</p>

<p>
  <strong>Linseed:</strong>
  <%= @production_productivity2.Linseed %>
</p>

<p>
  <strong>Ground nut:</strong>
  <%= @production_productivity2.Ground_Nut %>
</p>

<p>
  <strong>Total fibre crops:</strong>
  <%= @production_productivity2.Total_Fibre_Crops %>
</p>

<p>
  <strong>Jute:</strong>
  <%= @production_productivity2.Jute %>
</p>

<p>
  <strong>Mesta:</strong>
  <%= @production_productivity2.Mesta %>
</p>

<p>
  <strong>Sugarcane:</strong>
  <%= @production_productivity2.Sugarcane %>
</p>

<%= link_to 'Edit', edit_production_productivity2_path(@production_productivity2) %> |
<%= link_to 'Back', production_productivity2s_path %>
