<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @tax_department5.Districts %>
</p>

<p>
  <strong>Number of document:</strong>
  <%= @tax_department5.Number_of_Document %>
</p>

<p>
  <strong>Total receipt:</strong>
  <%= @tax_department5.Total_Receipt %>
</p>

<p>
  <strong>Target:</strong>
  <%= @tax_department5.Target %>
</p>

<p>
  <strong>Percentage receipt against target:</strong>
  <%= @tax_department5.Percentage_receipt_against_target %>
</p>

<p>
  <strong>Receipt per document:</strong>
  <%= @tax_department5.Receipt_per_Document %>
</p>

<%= link_to 'Edit', edit_tax_department5_path(@tax_department5) %> |
<%= link_to 'Back', tax_department5s_path %>
