<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @health21.Districts %>
</p>

<p>
  <strong>Acute diarrheal disease:</strong>
  <%= @health21.Acute_Diarrheal_Disease %>
</p>

<p>
  <strong>Bacillary dysentery:</strong>
  <%= @health21.Bacillary_Dysentery %>
</p>

<p>
  <strong>Viral hepatitis:</strong>
  <%= @health21.Viral_Hepatitis %>
</p>

<p>
  <strong>Enteric fever:</strong>
  <%= @health21.Enteric_Fever %>
</p>

<p>
  <strong>Malaria:</strong>
  <%= @health21.Malaria %>
</p>

<p>
  <strong>Puo:</strong>
  <%= @health21.PUO %>
</p>

<p>
  <strong>Acute respiratory infection:</strong>
  <%= @health21.Acute_Respiratory_Infection %>
</p>

<p>
  <strong>Pneumonia:</strong>
  <%= @health21.Pneumonia %>
</p>

<p>
  <strong>Dogbite:</strong>
  <%= @health21.Dogbite %>
</p>

<p>
  <strong>Other state specific disease:</strong>
  <%= @health21.Other_State_Specific_Disease %>
</p>

<p>
  <strong>Unusual syndromes not captured:</strong>
  <%= @health21.Unusual_Syndromes_Not_Captured %>
</p>

<%= link_to 'Edit', edit_health21_path(@health21) %> |
<%= link_to 'Back', health21s_path %>
