<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @projection_of_power_requirement3.Sector %>
</p>

<p>
  <strong>Mar-17:</strong>
  <%= @projection_of_power_requirement3.Mar-17 %>
</p>

<p>
  <strong>2017-18:</strong>
  <%= @projection_of_power_requirement3.2017-18 %>
</p>

<p>
  <strong>2018-19:</strong>
  <%= @projection_of_power_requirement3.2018-19 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @projection_of_power_requirement3.Indicator %>
</p>

<%= link_to 'Edit', edit_projection_of_power_requirement3_path(@projection_of_power_requirement3) %> |
<%= link_to 'Back', projection_of_power_requirement3s_path %>
