<p id="notice"><%= notice %></p>

<p>
  <strong>Years:</strong>
  <%= @institutional_structure_of_power_sector.Years %>
</p>

<p>
  <strong>Brgf:</strong>
  <%= @institutional_structure_of_power_sector.BRGF %>
</p>

<p>
  <strong>State plan bsphcl:</strong>
  <%= @institutional_structure_of_power_sector.State_Plan_BSPHCL %>
</p>

<p>
  <strong>State plan generation:</strong>
  <%= @institutional_structure_of_power_sector.State_Plan_Generation %>
</p>

<p>
  <strong>State plan transmission:</strong>
  <%= @institutional_structure_of_power_sector.State_Plan_Transmission %>
</p>

<p>
  <strong>State plan distribution:</strong>
  <%= @institutional_structure_of_power_sector.State_Plan_Distribution %>
</p>

<p>
  <strong>State plan breda:</strong>
  <%= @institutional_structure_of_power_sector.State_Plan_BREDA %>
</p>

<p>
  <strong>State plan bshpc:</strong>
  <%= @institutional_structure_of_power_sector.State_Plan_BSHPC %>
</p>

<p>
  <strong>Bshpc ridf:</strong>
  <%= @institutional_structure_of_power_sector.BSHPC_RIDF %>
</p>

<p>
  <strong>Eap:</strong>
  <%= @institutional_structure_of_power_sector.EAP %>
</p>

<p>
  <strong>Mukhya mantri vidyut sambandh nishchay yojna:</strong>
  <%= @institutional_structure_of_power_sector.Mukhya_Mantri_Vidyut_Sambandh_Nishchay_Yojna %>
</p>

<p>
  <strong>Total:</strong>
  <%= @institutional_structure_of_power_sector.Total %>
</p>

<%= link_to 'Edit', edit_institutional_structure_of_power_sector_path(@institutional_structure_of_power_sector) %> |
<%= link_to 'Back', institutional_structure_of_power_sectors_path %>
