<p id="notice"><%= notice %></p>

<h1>Deposites And Credits8s</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th>2017 18 upto sep 2017</th>
      <th>Indicator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deposites_and_credits8s.each do |deposites_and_credits8| %>
      <tr>
        <td><%= deposites_and_credits8.Sector %></td>
        <td><%= deposites_and_credits8.2014-15 %></td>
        <td><%= deposites_and_credits8.2015-16 %></td>
        <td><%= deposites_and_credits8.2016-17 %></td>
        <td><%= deposites_and_credits8.2017_18_upto_Sep_2017 %></td>
        <td><%= deposites_and_credits8.Indicator %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deposites And Credits8', new_deposites_and_credits8_path %>