<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @deposites_and_credits8.Sector %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @deposites_and_credits8.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @deposites_and_credits8.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @deposites_and_credits8.2016-17 %>
</p>

<p>
  <strong>2017 18 upto sep 2017:</strong>
  <%= @deposites_and_credits8.2017_18_upto_Sep_2017 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @deposites_and_credits8.Indicator %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits8_path(@deposites_and_credits8) %> |
<%= link_to 'Back', deposites_and_credits8s_path %>
