<%= form_with(model: agricultural_credit2, local: true) do |form| %>
  <% if agricultural_credit2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agricultural_credit2.errors.count, "error") %> prohibited this agricultural_credit2 from being saved:</h2>

      <ul>
      <% agricultural_credit2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Target %>
    <%= form.text_field :Target %>
  </div>

  <div class="field">
    <%= form.label :Achievement %>
    <%= form.text_field :Achievement %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Target_Colour %>
    <%= form.text_field :Target_Colour %>
  </div>

  <div class="field">
    <%= form.label :Achievement_Colour %>
    <%= form.text_field :Achievement_Colour %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
