<p id="notice"><%= notice %></p>

<h1>Agricultural Credit2s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Target</th>
      <th>Achievement</th>
      <th>Year</th>
      <th>Target colour</th>
      <th>Achievement colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agricultural_credit2s.each do |agricultural_credit2| %>
      <tr>
        <td><%= agricultural_credit2.Districts %></td>
        <td><%= agricultural_credit2.Target %></td>
        <td><%= agricultural_credit2.Achievement %></td>
        <td><%= agricultural_credit2.Year %></td>
        <td><%= agricultural_credit2.Target_Colour %></td>
        <td><%= agricultural_credit2.Achievement_Colour %></td>
        <td><%= link_to 'Show', agricultural_credit2 %></td>
        <td><%= link_to 'Edit', edit_agricultural_credit2_path(agricultural_credit2) %></td>
        <td><%= link_to 'Destroy', agricultural_credit2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agricultural Credit2', new_agricultural_credit2_path %>
