<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_credit2.Districts %>
</p>

<p>
  <strong>Target:</strong>
  <%= @agricultural_credit2.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @agricultural_credit2.Achievement %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_credit2.Year %>
</p>

<p>
  <strong>Percentage target:</strong>
  <%= @agricultural_credit2.Percentage_Target %>
</p>

<p>
  <strong>Percentage achievement:</strong>
  <%= @agricultural_credit2.Percentage_Achievement %>
</p>

<%= link_to 'Edit', edit_agricultural_credit2_path(@agricultural_credit2) %> |
<%= link_to 'Back', agricultural_credit2s_path %>
