<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_credit2.Districts %>
</p>

<p>
  <strong>Target 2014:</strong>
  <%= @agricultural_credit2.Target_2014 %>
</p>

<p>
  <strong>Target 2015:</strong>
  <%= @agricultural_credit2.Target_2015 %>
</p>

<p>
  <strong>Target 2016:</strong>
  <%= @agricultural_credit2.Target_2016 %>
</p>

<p>
  <strong>Achievement 2014:</strong>
  <%= @agricultural_credit2.Achievement_2014 %>
</p>

<p>
  <strong>Achievement 2015:</strong>
  <%= @agricultural_credit2.Achievement_2015 %>
</p>

<p>
  <strong>Achievement 2016:</strong>
  <%= @agricultural_credit2.Achievement_2016 %>
</p>

<%= link_to 'Edit', edit_agricultural_credit2_path(@agricultural_credit2) %> |
<%= link_to 'Back', agricultural_credit2s_path %>
