<p id="notice"><%= notice %></p>

<h1>Tax Gsdp Ratios</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Revenue receipts</th>
      <th>States own tax</th>
      <th>Gsdp</th>
      <th>Ratio of sot and rr</th>
      <th>Ratio of sot and gsdp</th>
      <th>Ratio of total revenue and gsdp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_gsdp_ratios.each do |tax_gsdp_ratio| %>
      <tr>
        <td><%= tax_gsdp_ratio.State %></td>
        <td><%= tax_gsdp_ratio.Revenue_Receipts %></td>
        <td><%= tax_gsdp_ratio.States_Own_Tax %></td>
        <td><%= tax_gsdp_ratio.GSDP %></td>
        <td><%= tax_gsdp_ratio.Ratio_of_SOT_and_RR %></td>
        <td><%= tax_gsdp_ratio.Ratio_of_SOT_and_GSDP %></td>
        <td><%= tax_gsdp_ratio.Ratio_of_Total_Revenue_and_GSDP %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax Gsdp Ratio', new_tax_gsdp_ratio_path %>