<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @banking_infrastructure5.State %>
</p>

<p>
  <strong>No of branches:</strong>
  <%= @banking_infrastructure5.No_of_Branches %>
</p>

<p>
  <strong>No of current accounts:</strong>
  <%= @banking_infrastructure5.No_of_Current_Accounts %>
</p>

<p>
  <strong>Current amount:</strong>
  <%= @banking_infrastructure5.Current_Amount %>
</p>

<p>
  <strong>No of savings accounts:</strong>
  <%= @banking_infrastructure5.No_of_Savings_Accounts %>
</p>

<p>
  <strong>Savings amount:</strong>
  <%= @banking_infrastructure5.Savings_Amount %>
</p>

<p>
  <strong>No of term accounts:</strong>
  <%= @banking_infrastructure5.No_of_Term_Accounts %>
</p>

<p>
  <strong>Term amount:</strong>
  <%= @banking_infrastructure5.Term_Amount %>
</p>

<p>
  <strong>No of total accounts:</strong>
  <%= @banking_infrastructure5.No_of_Total_Accounts %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @banking_infrastructure5.Total_Amount %>
</p>

<%= link_to 'Edit', edit_banking_infrastructure5_path(@banking_infrastructure5) %> |
<%= link_to 'Back', banking_infrastructure5s_path %>
