<p id="notice"><%= notice %></p>

<h1>Revenue Account2s</h1>

<table>
  <thead>
    <tr>
      <th>Expenditure pattern</th>
      <th>Amount</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revenue_account2s.each do |revenue_account2| %>
      <tr>
        <td><%= revenue_account2.Expenditure_Pattern %></td>
        <td><%= revenue_account2.Amount %></td>
        <td><%= revenue_account2.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revenue Account2', new_revenue_account2_path %>