<p id="notice"><%= notice %></p>

<p>
  <strong>Expenditure pattern:</strong>
  <%= @revenue_account2.Expenditure_Pattern %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @revenue_account2.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @revenue_account2.Year %>
</p>

<%= link_to 'Edit', edit_revenue_account2_path(@revenue_account2) %> |
<%= link_to 'Back', revenue_account2s_path %>
