<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @women_empowerment3.Year %>
</p>

<p>
  <strong>Lakshmibai social security pension scheme:</strong>
  <%= @women_empowerment3.Lakshmibai_Social_Security_Pension_Scheme %>
</p>

<p>
  <strong>Nari shakti yojana:</strong>
  <%= @women_empowerment3.Nari_Shakti_Yojana %>
</p>

<p>
  <strong>Mukhyamantri kanya vivah yojana:</strong>
  <%= @women_empowerment3.Mukhyamantri_Kanya_Vivah_Yojana %>
</p>

<p>
  <strong>Mukhyamantri kanya suraksha yojana:</strong>
  <%= @women_empowerment3.Mukhyamantri_Kanya_Suraksha_Yojana %>
</p>

<p>
  <strong>Total:</strong>
  <%= @women_empowerment3.Total %>
</p>

<%= link_to 'Edit', edit_women_empowerment3_path(@women_empowerment3) %> |
<%= link_to 'Back', women_empowerment3s_path %>
