<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity9.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity9.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity9.Production %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @production_productivity9.Productivity %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity9.Year %>
</p>

<p>
  <strong>Area colour:</strong>
  <%= @production_productivity9.Area_Colour %>
</p>

<p>
  <strong>Production colour:</strong>
  <%= @production_productivity9.Production_Colour %>
</p>

<p>
  <strong>Productivity colour:</strong>
  <%= @production_productivity9.Productivity_Colour %>
</p>

<%= link_to 'Edit', edit_production_productivity9_path(@production_productivity9) %> |
<%= link_to 'Back', production_productivity9s_path %>
