<p id="notice"><%= notice %></p>

<h1>Labour Resource And Welfare1s</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Total number of workers</th>
      <th>Cultivators</th>
      <th>Agricultural labourers</th>
      <th>Household industry workers</th>
      <th>Other workers</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @labour_resource_and_welfare1s.each do |labour_resource_and_welfare1| %>
      <tr>
        <td><%= labour_resource_and_welfare1.State %></td>
        <td><%= labour_resource_and_welfare1.Total_Number_of_Workers %></td>
        <td><%= labour_resource_and_welfare1.Cultivators %></td>
        <td><%= labour_resource_and_welfare1.Agricultural_Labourers %></td>
        <td><%= labour_resource_and_welfare1.Household_Industry_Workers %></td>
        <td><%= labour_resource_and_welfare1.Other_Workers %></td>
        <td><%= labour_resource_and_welfare1.Total %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Labour Resource And Welfare1', new_labour_resource_and_welfare1_path %>