<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @labour_resource_and_welfare1.State %>
</p>

<p>
  <strong>Total number of workers:</strong>
  <%= @labour_resource_and_welfare1.Total_Number_of_Workers %>
</p>

<p>
  <strong>Cultivators:</strong>
  <%= @labour_resource_and_welfare1.Cultivators %>
</p>

<p>
  <strong>Agricultural labourers:</strong>
  <%= @labour_resource_and_welfare1.Agricultural_Labourers %>
</p>

<p>
  <strong>Household industry workers:</strong>
  <%= @labour_resource_and_welfare1.Household_Industry_Workers %>
</p>

<p>
  <strong>Other workers:</strong>
  <%= @labour_resource_and_welfare1.Other_Workers %>
</p>

<p>
  <strong>Total:</strong>
  <%= @labour_resource_and_welfare1.Total %>
</p>

<%= link_to 'Edit', edit_labour_resource_and_welfare1_path(@labour_resource_and_welfare1) %> |
<%= link_to 'Back', labour_resource_and_welfare1s_path %>
