<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_inputs4.Districts %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs4.Year %>
</p>

<p>
  <strong>Urea:</strong>
  <%= @agricultural_inputs4.Urea %>
</p>

<p>
  <strong>Dap:</strong>
  <%= @agricultural_inputs4.DAP %>
</p>

<p>
  <strong>Ssp:</strong>
  <%= @agricultural_inputs4.SSP %>
</p>

<p>
  <strong>Mop:</strong>
  <%= @agricultural_inputs4.MOP %>
</p>

<p>
  <strong>Ammonium sulphate:</strong>
  <%= @agricultural_inputs4.Ammonium_Sulphate %>
</p>

<p>
  <strong>Complex:</strong>
  <%= @agricultural_inputs4.Complex %>
</p>

<p>
  <strong>Total:</strong>
  <%= @agricultural_inputs4.Total %>
</p>

<p>
  <strong>N:</strong>
  <%= @agricultural_inputs4.N %>
</p>

<p>
  <strong>P:</strong>
  <%= @agricultural_inputs4.P %>
</p>

<p>
  <strong>K:</strong>
  <%= @agricultural_inputs4.K %>
</p>

<p>
  <strong>Total npk:</strong>
  <%= @agricultural_inputs4.Total_NPK %>
</p>

<p>
  <strong>Grand total:</strong>
  <%= @agricultural_inputs4.Grand_Total %>
</p>

<p>
  <strong>Urea colour:</strong>
  <%= @agricultural_inputs4.Urea_Colour %>
</p>

<p>
  <strong>Dap colour:</strong>
  <%= @agricultural_inputs4.DAP_Colour %>
</p>

<p>
  <strong>Ssp colour:</strong>
  <%= @agricultural_inputs4.SSP_Colour %>
</p>

<p>
  <strong>Mop colour:</strong>
  <%= @agricultural_inputs4.MOP_Colour %>
</p>

<p>
  <strong>Ammonium sulphate colour:</strong>
  <%= @agricultural_inputs4.Ammonium_Sulphate_Colour %>
</p>

<p>
  <strong>Complex colour:</strong>
  <%= @agricultural_inputs4.Complex_Colour %>
</p>

<p>
  <strong>Total colour:</strong>
  <%= @agricultural_inputs4.Total_Colour %>
</p>

<p>
  <strong>N colour:</strong>
  <%= @agricultural_inputs4.N_Colour %>
</p>

<p>
  <strong>P colour:</strong>
  <%= @agricultural_inputs4.P_Colour %>
</p>

<p>
  <strong>K colour:</strong>
  <%= @agricultural_inputs4.K_Colour %>
</p>

<p>
  <strong>Total npk colour:</strong>
  <%= @agricultural_inputs4.Total_NPK_Colour %>
</p>

<p>
  <strong>Grand total colour:</strong>
  <%= @agricultural_inputs4.Grand_Total_Colour %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs4_path(@agricultural_inputs4) %> |
<%= link_to 'Back', agricultural_inputs4s_path %>
