<p id="notice"><%= notice %></p>

<h1>State Domestic Product2s</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Per capita income</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @state_domestic_product2s.each do |state_domestic_product2| %>
      <tr>
        <td><%= state_domestic_product2.State %></td>
        <td><%= state_domestic_product2.Per_Capita_Income %></td>
        <td><%= state_domestic_product2.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New State Domestic Product2', new_state_domestic_product2_path %>