<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @state_domestic_product2.State %>
</p>

<p>
  <strong>Per capita income:</strong>
  <%= @state_domestic_product2.Per_Capita_Income %>
</p>

<p>
  <strong>Year:</strong>
  <%= @state_domestic_product2.Year %>
</p>

<%= link_to 'Edit', edit_state_domestic_product2_path(@state_domestic_product2) %> |
<%= link_to 'Back', state_domestic_product2s_path %>
