<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @animal_husbandry1.Year %>
</p>

<p>
  <strong>Cattle:</strong>
  <%= @animal_husbandry1.Cattle %>
</p>

<p>
  <strong>Males over 3 years:</strong>
  <%= @animal_husbandry1.Males_over_3_years %>
</p>

<p>
  <strong>Females over 3 years:</strong>
  <%= @animal_husbandry1.Females_over_3_years %>
</p>

<p>
  <strong>Young stock:</strong>
  <%= @animal_husbandry1.Young_stock %>
</p>

<p>
  <strong>Buffalo:</strong>
  <%= @animal_husbandry1.Buffalo %>
</p>

<p>
  <strong>Males over 3 years:</strong>
  <%= @animal_husbandry1.Males_over_3_years %>
</p>

<p>
  <strong>Females over 3 years:</strong>
  <%= @animal_husbandry1.Females_over_3_years %>
</p>

<p>
  <strong>Young stock:</strong>
  <%= @animal_husbandry1.Young_stock %>
</p>

<p>
  <strong>Sheep:</strong>
  <%= @animal_husbandry1.Sheep %>
</p>

<p>
  <strong>Goats:</strong>
  <%= @animal_husbandry1.Goats %>
</p>

<p>
  <strong>Pigs:</strong>
  <%= @animal_husbandry1.Pigs %>
</p>

<p>
  <strong>Horses ponies:</strong>
  <%= @animal_husbandry1.Horses_Ponies %>
</p>

<p>
  <strong>Others:</strong>
  <%= @animal_husbandry1.Others %>
</p>

<p>
  <strong>Total livestock:</strong>
  <%= @animal_husbandry1.Total_Livestock %>
</p>

<p>
  <strong>Total poultry:</strong>
  <%= @animal_husbandry1.Total_Poultry %>
</p>

<%= link_to 'Edit', edit_animal_husbandry1_path(@animal_husbandry1) %> |
<%= link_to 'Back', animal_husbandry1s_path %>
