<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @agricultural_inputs8.Districts %>
</p>

<p>
  <strong>Tractor:</strong>
  <%= @agricultural_inputs8.Tractor %>
</p>

<p>
  <strong>Combine harvestor:</strong>
  <%= @agricultural_inputs8.Combine_Harvestor %>
</p>

<p>
  <strong>Zero tillage:</strong>
  <%= @agricultural_inputs8.Zero_Tillage %>
</p>

<p>
  <strong>Pumpset:</strong>
  <%= @agricultural_inputs8.Pumpset %>
</p>

<p>
  <strong>Power tiller:</strong>
  <%= @agricultural_inputs8.Power_Tiller %>
</p>

<p>
  <strong>Manually operated tools:</strong>
  <%= @agricultural_inputs8.Manually_Operated_Tools %>
</p>

<p>
  <strong>Thresher:</strong>
  <%= @agricultural_inputs8.Thresher %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs8_path(@agricultural_inputs8) %> |
<%= link_to 'Back', agricultural_inputs8s_path %>
