<p id="notice"><%= notice %></p>

<p>
  <strong>Sources:</strong>
  <%= @resource_management13.Sources %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @resource_management13.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management13.Year %>
</p>

<%= link_to 'Edit', edit_resource_management13_path(@resource_management13) %> |
<%= link_to 'Back', resource_management13s_path %>
