<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @drinking_water_supply_and_sanitation4.Sector %>
</p>

<p>
  <strong>Target:</strong>
  <%= @drinking_water_supply_and_sanitation4.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @drinking_water_supply_and_sanitation4.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @drinking_water_supply_and_sanitation4.Achievement_Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @drinking_water_supply_and_sanitation4.Year %>
</p>

<%= link_to 'Edit', edit_drinking_water_supply_and_sanitation4_path(@drinking_water_supply_and_sanitation4) %> |
<%= link_to 'Back', drinking_water_supply_and_sanitation4s_path %>
