<p id="notice"><%= notice %></p>

<p>
  <strong>Name of the scheme:</strong>
  <%= @roads9.Name_of_the_Scheme %>
</p>

<p>
  <strong>Road constructed:</strong>
  <%= @roads9.Road_Constructed %>
</p>

<p>
  <strong>Bridge constructed:</strong>
  <%= @roads9.Bridge_Constructed %>
</p>

<p>
  <strong>Expenditure:</strong>
  <%= @roads9.Expenditure %>
</p>

<%= link_to 'Edit', edit_roads9_path(@roads9) %> |
<%= link_to 'Back', roads9s_path %>
