<p id="notice"><%= notice %></p>

<p>
  <strong>Thermal plan:</strong>
  <%= @generation2.Thermal_Plan %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @generation2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @generation2.2016-17 %>
</p>

<p>
  <strong>2017-18 under progress:</strong>
  <%= @generation2.2017-18_Under_Progress %>
</p>

<p>
  <strong>2018-19:</strong>
  <%= @generation2.2018-19 %>
</p>

<p>
  <strong>By 2022 upcoming projects:</strong>
  <%= @generation2.By_2022_Upcoming_Projects %>
</p>

<p>
  <strong>Beyond 2022:</strong>
  <%= @generation2.Beyond_2022 %>
</p>

<%= link_to 'Edit', edit_generation2_path(@generation2) %> |
<%= link_to 'Back', generation2s_path %>
