<p id="notice"><%= notice %></p>

<p>
  <strong>Shelters sanctioned planned:</strong>
  <%= @banking_infrastructure6.Shelters_Sanctioned_Planned %>
</p>

<p>
  <strong>Officers:</strong>
  <%= @banking_infrastructure6.Officers %>
</p>

<p>
  <strong>Clerks:</strong>
  <%= @banking_infrastructure6.Clerks %>
</p>

<p>
  <strong>Sub ordinates:</strong>
  <%= @banking_infrastructure6.Sub_ordinates %>
</p>

<p>
  <strong>Total:</strong>
  <%= @banking_infrastructure6.Total %>
</p>

<p>
  <strong>Number of female employees:</strong>
  <%= @banking_infrastructure6.Number_of_Female_Employees %>
</p>

<p>
  <strong>Percentage of officers:</strong>
  <%= @banking_infrastructure6.Percentage_of_Officers %>
</p>

<p>
  <strong>Percentage of clerks:</strong>
  <%= @banking_infrastructure6.Percentage_of_Clerks %>
</p>

<p>
  <strong>Percentage of sub ordinates:</strong>
  <%= @banking_infrastructure6.Percentage_of_Sub_ordinates %>
</p>

<p>
  <strong>Total percentage:</strong>
  <%= @banking_infrastructure6.Total_Percentage %>
</p>

<p>
  <strong>Percentage of female employees:</strong>
  <%= @banking_infrastructure6.Percentage_of_Female_Employees %>
</p>

<%= link_to 'Edit', edit_banking_infrastructure6_path(@banking_infrastructure6) %> |
<%= link_to 'Back', banking_infrastructure6s_path %>
