<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @fiscal_performance2.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @fiscal_performance2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @fiscal_performance2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @fiscal_performance2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @fiscal_performance2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @fiscal_performance2.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @fiscal_performance2.2017-18_BE %>
</p>

<p>
  <strong>Sub sector:</strong>
  <%= @fiscal_performance2.Sub_Sector %>
</p>

<%= link_to 'Edit', edit_fiscal_performance2_path(@fiscal_performance2) %> |
<%= link_to 'Back', fiscal_performance2s_path %>
