<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @health17.Districts %>
</p>

<p>
  <strong>Regular post sanctioned:</strong>
  <%= @health17.Regular_Post_sanctioned %>
</p>

<p>
  <strong>Contractual post sanctioned:</strong>
  <%= @health17.Contractual_Post_sanctioned %>
</p>

<p>
  <strong>Regular grade a nurses employed:</strong>
  <%= @health17.Regular_Grade_A_Nurses_Employed %>
</p>

<p>
  <strong>Contractual grade a nurses employed:</strong>
  <%= @health17.Contractual_Grade_A_Nurses_Employed %>
</p>

<p>
  <strong>Number of grade a nurses per lakh population:</strong>
  <%= @health17.Number_of_Grade_A_Nurses_per_lakh_population %>
</p>

<p>
  <strong>Year:</strong>
  <%= @health17.Year %>
</p>

<%= link_to 'Edit', edit_health17_path(@health17) %> |
<%= link_to 'Back', health17s_path %>
