<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @rural_development_programmes6.Year %>
</p>

<p>
  <strong>Allotment:</strong>
  <%= @rural_development_programmes6.Allotment %>
</p>

<p>
  <strong>Lifting:</strong>
  <%= @rural_development_programmes6.Lifting %>
</p>

<p>
  <strong>Lifting percentage:</strong>
  <%= @rural_development_programmes6.Lifting_Percentage %>
</p>

<p>
  <strong>Crop:</strong>
  <%= @rural_development_programmes6.Crop %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes6_path(@rural_development_programmes6) %> |
<%= link_to 'Back', rural_development_programmes6s_path %>
