<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @udp_state_plan5.Districts %>
</p>

<p>
  <strong>Total number of urban households:</strong>
  <%= @udp_state_plan5.Total_Number_of_Urban_Households %>
</p>

<p>
  <strong>Total number of urban wards:</strong>
  <%= @udp_state_plan5.Total_Number_of_Urban_Wards %>
</p>

<p>
  <strong>Number of households to be covered:</strong>
  <%= @udp_state_plan5.Number_of_Households_to_be_covered %>
</p>

<p>
  <strong>Number of household covered:</strong>
  <%= @udp_state_plan5.Number_of_Household_covered %>
</p>

<%= link_to 'Edit', edit_udp_state_plan5_path(@udp_state_plan5) %> |
<%= link_to 'Back', udp_state_plan5s_path %>
