<p id="notice"><%= notice %></p>

<p>
  <strong>Project component under r apdrp:</strong>
  <%= @programmes_for_electrification1.Project_Component_under_R_APDRP %>
</p>

<p>
  <strong>Outlay:</strong>
  <%= @programmes_for_electrification1.Outlay %>
</p>

<p>
  <strong>Expenditure incurred:</strong>
  <%= @programmes_for_electrification1.Expenditure_incurred %>
</p>

<%= link_to 'Edit', edit_programmes_for_electrification1_path(@programmes_for_electrification1) %> |
<%= link_to 'Back', programmes_for_electrification1s_path %>
