<p id="notice"><%= notice %></p>

<p>
  <strong>Indicators:</strong>
  <%= @projection_of_power_requirement2.Indicators %>
</p>

<p>
  <strong>2017-18:</strong>
  <%= @projection_of_power_requirement2.2017-18 %>
</p>

<p>
  <strong>2018-19:</strong>
  <%= @projection_of_power_requirement2.2018-19 %>
</p>

<%= link_to 'Edit', edit_projection_of_power_requirement2_path(@projection_of_power_requirement2) %> |
<%= link_to 'Back', projection_of_power_requirement2s_path %>
