<p id="notice"><%= notice %></p>

<h1>Mininngs</h1>

<table>
  <thead>
    <tr>
      <th>Sector</th>
      <th>2014-15</th>
      <th>2015-16</th>
      <th>2016-17</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mininngs.each do |mininng| %>
      <tr>
        <td><%= mininng.Sector %></td>
        <td><%= mininng.2014-15 %></td>
        <td><%= mininng.2015-16 %></td>
        <td><%= mininng.2016-17 %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mininng', new_mininng_path %>