<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @mininng.Sector %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @mininng.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @mininng.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @mininng.2016-17 %>
</p>

<%= link_to 'Edit', edit_mininng_path(@mininng) %> |
<%= link_to 'Back', mininngs_path %>
