<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @social_welfare3.Year %>
</p>

<p>
  <strong>Number of beneficiaries:</strong>
  <%= @social_welfare3.Number_of_Beneficiaries %>
</p>

<p>
  <strong>Fund allocation:</strong>
  <%= @social_welfare3.Fund_Allocation %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @social_welfare3.Indicator %>
</p>

<%= link_to 'Edit', edit_social_welfare3_path(@social_welfare3) %> |
<%= link_to 'Back', social_welfare3s_path %>
