<p id="notice"><%= notice %></p>

<p>
  <strong>Programme:</strong>
  <%= @labour_resource_and_welfare2.Programme %>
</p>

<p>
  <strong>Budget outlay:</strong>
  <%= @labour_resource_and_welfare2.Budget_outlay %>
</p>

<p>
  <strong>Financial achievement:</strong>
  <%= @labour_resource_and_welfare2.Financial_Achievement %>
</p>

<p>
  <strong>Year:</strong>
  <%= @labour_resource_and_welfare2.Year %>
</p>

<%= link_to 'Edit', edit_labour_resource_and_welfare2_path(@labour_resource_and_welfare2) %> |
<%= link_to 'Back', labour_resource_and_welfare2s_path %>
