<p id="notice"><%= notice %></p>

<p>
  <strong>Expenditure:</strong>
  <%= @support_institutions1.Expenditure %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @support_institutions1.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @support_institutions1.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @support_institutions1.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @support_institutions1.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @support_institutions1.2016-17 %>
</p>

<p>
  <strong>Cagr:</strong>
  <%= @support_institutions1.CAGR %>
</p>

<%= link_to 'Edit', edit_support_institutions1_path(@support_institutions1) %> |
<%= link_to 'Back', support_institutions1s_path %>
