<p id="notice"><%= notice %></p>

<p>
  <strong>Location of union or project:</strong>
  <%= @agro_based_industries2.Location_of_Union_or_Project %>
</p>

<p>
  <strong>Organised societies:</strong>
  <%= @agro_based_industries2.Organised_Societies %>
</p>

<p>
  <strong>Working societies:</strong>
  <%= @agro_based_industries2.Working_Societies %>
</p>

<p>
  <strong>Registered societies:</strong>
  <%= @agro_based_industries2.Registered_Societies %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agro_based_industries2.Year %>
</p>

<%= link_to 'Edit', edit_agro_based_industries2_path(@agro_based_industries2) %> |
<%= link_to 'Back', agro_based_industries2s_path %>
