<p id="notice"><%= notice %></p>

<p>
  <strong>Sources of revenue:</strong>
  <%= @resource_management2.Sources_of_Revenue %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @resource_management2.Amount %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management2.Year %>
</p>

<%= link_to 'Edit', edit_resource_management2_path(@resource_management2) %> |
<%= link_to 'Back', resource_management2s_path %>
