<p id="notice"><%= notice %></p>

<h1>Production Productivity5s</h1>

<table>
  <thead>
    <tr>
      <th>Vegetables</th>
      <th>Area</th>
      <th>Production</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_productivity5s.each do |production_productivity5| %>
      <tr>
        <td><%= production_productivity5.Vegetables %></td>
        <td><%= production_productivity5.Area %></td>
        <td><%= production_productivity5.Production %></td>
        <td><%= production_productivity5.Year %></td>
        <td><%= link_to 'Show', production_productivity5 %></td>
        <td><%= link_to 'Edit', edit_production_productivity5_path(production_productivity5) %></td>
        <td><%= link_to 'Destroy', production_productivity5, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Productivity5', new_production_productivity5_path %>
