<p id="notice"><%= notice %></p>

<p>
  <strong>Vegetables:</strong>
  <%= @production_productivity5.Vegetables %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity5.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity5.Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity5.Year %>
</p>

<%= link_to 'Edit', edit_production_productivity5_path(@production_productivity5) %> |
<%= link_to 'Back', production_productivity5s_path %>
