<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @sectoral_share7.State %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @sectoral_share7.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @sectoral_share7.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @sectoral_share7.2015-16 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_share7.Indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_share7_path(@sectoral_share7) %> |
<%= link_to 'Back', sectoral_share7s_path %>
