<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @district_wise_section11.Districts %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @district_wise_section11.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @district_wise_section11.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @district_wise_section11.2016-17 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @district_wise_section11.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @district_wise_section11.Indicator1 %>
</p>

<%= link_to 'Edit', edit_district_wise_section11_path(@district_wise_section11) %> |
<%= link_to 'Back', district_wise_section11s_path %>
