<%= form_with(model: tax_department6, local: true) do |form| %>
  <% if tax_department6.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tax_department6.errors.count, "error") %> prohibited this tax_department6 from being saved:</h2>

      <ul>
      <% tax_department6.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Document %>
    <%= form.text_field :Number_of_Document %>
  </div>

  <div class="field">
    <%= form.label :Registration_Fees %>
    <%= form.text_field :Registration_Fees %>
  </div>

  <div class="field">
    <%= form.label :Stamp_Fee %>
    <%= form.text_field :Stamp_Fee %>
  </div>

  <div class="field">
    <%= form.label :Total_Receipt %>
    <%= form.text_field :Total_Receipt %>
  </div>

  <div class="field">
    <%= form.label :Target %>
    <%= form.text_field :Target %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
