<p id="notice"><%= notice %></p>

<h1>Tax Department6s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Number of document</th>
      <th>Registration fees</th>
      <th>Stamp fee</th>
      <th>Total receipt</th>
      <th>Target</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tax_department6s.each do |tax_department6| %>
      <tr>
        <td><%= tax_department6.Districts %></td>
        <td><%= tax_department6.Number_of_Document %></td>
        <td><%= tax_department6.Registration_Fees %></td>
        <td><%= tax_department6.Stamp_Fee %></td>
        <td><%= tax_department6.Total_Receipt %></td>
        <td><%= tax_department6.Target %></td>
        <td><%= tax_department6.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tax Department6', new_tax_department6_path %>