<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @tax_department6.Districts %>
</p>

<p>
  <strong>Number of document:</strong>
  <%= @tax_department6.Number_of_Document %>
</p>

<p>
  <strong>Registration fees:</strong>
  <%= @tax_department6.Registration_Fees %>
</p>

<p>
  <strong>Stamp fee:</strong>
  <%= @tax_department6.Stamp_Fee %>
</p>

<p>
  <strong>Total receipt:</strong>
  <%= @tax_department6.Total_Receipt %>
</p>

<p>
  <strong>Target:</strong>
  <%= @tax_department6.Target %>
</p>

<p>
  <strong>Year:</strong>
  <%= @tax_department6.Year %>
</p>

<%= link_to 'Edit', edit_tax_department6_path(@tax_department6) %> |
<%= link_to 'Back', tax_department6s_path %>
