<p id="notice"><%= notice %></p>

<h1>Resource Management3s</h1>

<table>
  <thead>
    <tr>
      <th>Sources of revenue</th>
      <th>Percentage</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_management3s.each do |resource_management3| %>
      <tr>
        <td><%= resource_management3.Sources_of_Revenue %></td>
        <td><%= resource_management3.Percentage %></td>
        <td><%= resource_management3.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Management3', new_resource_management3_path %>