<p id="notice"><%= notice %></p>

<p>
  <strong>Sources of revenue:</strong>
  <%= @resource_management3.Sources_of_Revenue %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @resource_management3.Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management3.Year %>
</p>

<%= link_to 'Edit', edit_resource_management3_path(@resource_management3) %> |
<%= link_to 'Back', resource_management3s_path %>
