<p id="notice"><%= notice %></p>

<h1>Resource Management11s</h1>

<table>
  <thead>
    <tr>
      <th>Indicators</th>
      <th>Percentage</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resource_management11s.each do |resource_management11| %>
      <tr>
        <td><%= resource_management11.Indicators %></td>
        <td><%= resource_management11.Percentage %></td>
        <td><%= resource_management11.Year %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Resource Management11', new_resource_management11_path %>