<p id="notice"><%= notice %></p>

<p>
  <strong>Indicators:</strong>
  <%= @resource_management11.Indicators %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @resource_management11.Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @resource_management11.Year %>
</p>

<%= link_to 'Edit', edit_resource_management11_path(@resource_management11) %> |
<%= link_to 'Back', resource_management11s_path %>
