<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @roads2.Sector %>
</p>

<p>
  <strong>2007-08:</strong>
  <%= @roads2.2007-08 %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @roads2.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @roads2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @roads2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @roads2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @roads2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @roads2.2016-17 %>
</p>

<p>
  <strong>2017-18:</strong>
  <%= @roads2.2017-18 %>
</p>

<p>
  <strong>Cagr (2014-18):</strong>
  <%= @roads2.CAGR (2014-18) %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @roads2.Indicator %>
</p>

<%= link_to 'Edit', edit_roads2_path(@roads2) %> |
<%= link_to 'Back', roads2s_path %>
