<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @tax_department2.Sector %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @tax_department2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @tax_department2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @tax_department2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @tax_department2.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @tax_department2.2016-17 %>
</p>

<p>
  <strong>2017-18 be:</strong>
  <%= @tax_department2.2017-18_BE %>
</p>

<%= link_to 'Edit', edit_tax_department2_path(@tax_department2) %> |
<%= link_to 'Back', tax_department2s_path %>
