<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @road_transport1_part2.State %>
</p>

<p>
  <strong>Buses:</strong>
  <%= @road_transport1_part2.Buses %>
</p>

<p>
  <strong>Taxis:</strong>
  <%= @road_transport1_part2.Taxis %>
</p>

<p>
  <strong>Light motor vehicles passengers:</strong>
  <%= @road_transport1_part2.Light_Motor_Vehicles_Passengers %>
</p>

<p>
  <strong>Goods carrier vehicles:</strong>
  <%= @road_transport1_part2.Goods_Carrier_Vehicles %>
</p>

<%= link_to 'Edit', edit_road_transport1_part2_path(@road_transport1_part2) %> |
<%= link_to 'Back', road_transport1_part2s_path %>
