<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @education_art_culture2.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @education_art_culture2.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @education_art_culture2.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @education_art_culture2.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @education_art_culture2.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @education_art_culture2.2015-16 %>
</p>

<p>
  <strong>Cagr:</strong>
  <%= @education_art_culture2.CAGR %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @education_art_culture2.Indicator %>
</p>

<p>
  <strong>Indicator1:</strong>
  <%= @education_art_culture2.Indicator1 %>
</p>

<%= link_to 'Edit', edit_education_art_culture2_path(@education_art_culture2) %> |
<%= link_to 'Back', education_art_culture2s_path %>
