<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_inputs3.Year %>
</p>

<p>
  <strong>Tractor:</strong>
  <%= @agricultural_inputs3.Tractor %>
</p>

<p>
  <strong>Combine harvestors:</strong>
  <%= @agricultural_inputs3.Combine_Harvestors %>
</p>

<p>
  <strong>Zero tillage:</strong>
  <%= @agricultural_inputs3.Zero_Tillage %>
</p>

<p>
  <strong>Pumpsets:</strong>
  <%= @agricultural_inputs3.Pumpsets %>
</p>

<p>
  <strong>Power tiller:</strong>
  <%= @agricultural_inputs3.Power_Tiller %>
</p>

<p>
  <strong>Manually operated tools implements:</strong>
  <%= @agricultural_inputs3.Manually_operated_tools_implements %>
</p>

<p>
  <strong>Threshers:</strong>
  <%= @agricultural_inputs3.Threshers %>
</p>

<p>
  <strong>Total:</strong>
  <%= @agricultural_inputs3.Total %>
</p>

<%= link_to 'Edit', edit_agricultural_inputs3_path(@agricultural_inputs3) %> |
<%= link_to 'Back', agricultural_inputs3s_path %>
