<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @udp_jointly_funded11.Description %>
</p>

<p>
  <strong>No of projects:</strong>
  <%= @udp_jointly_funded11.No_of_Projects %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @udp_jointly_funded11.Amount %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @udp_jointly_funded11.Remarks %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded11_path(@udp_jointly_funded11) %> |
<%= link_to 'Back', udp_jointly_funded11s_path %>
