<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @drinking_water_supply_and_sanitation1.Year %>
</p>

<p>
  <strong>Handpumps installed:</strong>
  <%= @drinking_water_supply_and_sanitation1.Handpumps_Installed %>
</p>

<p>
  <strong>Slipped back habitations or water quality problems covered:</strong>
  <%= @drinking_water_supply_and_sanitation1.Slipped_back_Habitations_or_Water_quality_problems_covered %>
</p>

<p>
  <strong>Ihhl constructed under apl:</strong>
  <%= @drinking_water_supply_and_sanitation1.IHHL_constructed_under_APL %>
</p>

<p>
  <strong>Ihhl constructed under bpl:</strong>
  <%= @drinking_water_supply_and_sanitation1.IHHL_constructed_under_BPL %>
</p>

<p>
  <strong>Total ihhl constructed:</strong>
  <%= @drinking_water_supply_and_sanitation1.Total_IHHL_constructed %>
</p>

<%= link_to 'Edit', edit_drinking_water_supply_and_sanitation1_path(@drinking_water_supply_and_sanitation1) %> |
<%= link_to 'Back', drinking_water_supply_and_sanitation1s_path %>
