<p id="notice"><%= notice %></p>

<h1>Road Transport1 Part1s</h1>

<table>
  <thead>
    <tr>
      <th>State</th>
      <th>Two wheeler</th>
      <th>Cars</th>
      <th>Jeeps</th>
      <th>Miscellaneous</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @road_transport1_part1s.each do |road_transport1_part1| %>
      <tr>
        <td><%= road_transport1_part1.State %></td>
        <td><%= road_transport1_part1.Two_Wheeler %></td>
        <td><%= road_transport1_part1.Cars %></td>
        <td><%= road_transport1_part1.Jeeps %></td>
        <td><%= road_transport1_part1.Miscellaneous %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Road Transport1 Part1', new_road_transport1_part1_path %>