<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @road_transport1_part1.State %>
</p>

<p>
  <strong>Two wheeler:</strong>
  <%= @road_transport1_part1.Two_Wheeler %>
</p>

<p>
  <strong>Cars:</strong>
  <%= @road_transport1_part1.Cars %>
</p>

<p>
  <strong>Jeeps:</strong>
  <%= @road_transport1_part1.Jeeps %>
</p>

<p>
  <strong>Miscellaneous:</strong>
  <%= @road_transport1_part1.Miscellaneous %>
</p>

<%= link_to 'Edit', edit_road_transport1_part1_path(@road_transport1_part1) %> |
<%= link_to 'Back', road_transport1_part1s_path %>
