<p id="notice"><%= notice %></p>

<p>
  <strong>Division:</strong>
  <%= @bridge_sector1.Division %>
</p>

<p>
  <strong>Number of projects:</strong>
  <%= @bridge_sector1.Number_of_Projects %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @bridge_sector1.Cost %>
</p>

<%= link_to 'Edit', edit_bridge_sector1_path(@bridge_sector1) %> |
<%= link_to 'Back', bridge_sector1s_path %>
