<p id="notice"><%= notice %></p>

<h1>Irrigation6s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Surface canal</th>
      <th>Tanks including ahars pynes</th>
      <th>Tubewells private and state</th>
      <th>Other sources lift irrigation and barge lift irrigation</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @irrigation6s.each do |irrigation6| %>
      <tr>
        <td><%= irrigation6.Year %></td>
        <td><%= irrigation6.Surface_Canal %></td>
        <td><%= irrigation6.Tanks_including_Ahars_Pynes %></td>
        <td><%= irrigation6.Tubewells_Private_and_State %></td>
        <td><%= irrigation6.Other_Sources_Lift_Irrigation_and_Barge_Lift_Irrigation %></td>
        <td><%= irrigation6.Total %></td>
        <td><%= link_to 'Show', irrigation6 %></td>
        <td><%= link_to 'Edit', edit_irrigation6_path(irrigation6) %></td>
        <td><%= link_to 'Destroy', irrigation6, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Irrigation6', new_irrigation6_path %>
