<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @irrigation6.Year %>
</p>

<p>
  <strong>Surface canal:</strong>
  <%= @irrigation6.Surface_Canal %>
</p>

<p>
  <strong>Tanks including ahars pynes:</strong>
  <%= @irrigation6.Tanks_including_Ahars_Pynes %>
</p>

<p>
  <strong>Tubewells private and state:</strong>
  <%= @irrigation6.Tubewells_Private_and_State %>
</p>

<p>
  <strong>Other sources lift irrigation and barge lift irrigation:</strong>
  <%= @irrigation6.Other_Sources_Lift_Irrigation_and_Barge_Lift_Irrigation %>
</p>

<p>
  <strong>Total:</strong>
  <%= @irrigation6.Total %>
</p>

<%= link_to 'Edit', edit_irrigation6_path(@irrigation6) %> |
<%= link_to 'Back', irrigation6s_path %>
