<p id="notice"><%= notice %></p>

<p>
  <strong>Program monitoring parameter:</strong>
  <%= @udp_jointly_funded4.Program_Monitoring_Parameter %>
</p>

<p>
  <strong>Annual target:</strong>
  <%= @udp_jointly_funded4.Annual_Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @udp_jointly_funded4.Achievement %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded4_path(@udp_jointly_funded4) %> |
<%= link_to 'Back', udp_jointly_funded4s_path %>
