<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @health1.Year %>
</p>

<p>
  <strong>Total expense on social services india:</strong>
  <%= @health1.Total_Expense_on_Social_Services_India %>
</p>

<p>
  <strong>Total expense on social services bihar:</strong>
  <%= @health1.Total_Expense_on_Social_Services_Bihar %>
</p>

<p>
  <strong>Total expense india:</strong>
  <%= @health1.Total_Expense_India %>
</p>

<p>
  <strong>Total expense bihar:</strong>
  <%= @health1.Total_Expense_Bihar %>
</p>

<p>
  <strong>Percentage share of social services in total expenditure india:</strong>
  <%= @health1.Percentage_share_of_Social_Services_in_Total_Expenditure_India %>
</p>

<p>
  <strong>Percentage share of social services in total expenditure bihar:</strong>
  <%= @health1.Percentage_share_of_Social_Services_in_Total_Expenditure_Bihar %>
</p>

<p>
  <strong>Per capita expenditure on social services india:</strong>
  <%= @health1.Per_Capita_Expenditure_on_Social_Services_India %>
</p>

<p>
  <strong>Per capita expenditure on social services bihar:</strong>
  <%= @health1.Per_Capita_Expenditure_on_Social_Services_Bihar %>
</p>

<%= link_to 'Edit', edit_health1_path(@health1) %> |
<%= link_to 'Back', health1s_path %>
