<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @health5.Year %>
</p>

<p>
  <strong>District hospital:</strong>
  <%= @health5.District_Hospital %>
</p>

<p>
  <strong>Referral hospital:</strong>
  <%= @health5.Referral_Hospital %>
</p>

<p>
  <strong>Sub divisional hospital:</strong>
  <%= @health5.Sub_Divisional_Hospital %>
</p>

<p>
  <strong>Phc:</strong>
  <%= @health5.PHC %>
</p>

<p>
  <strong>Sub centre:</strong>
  <%= @health5.Sub_Centre %>
</p>

<p>
  <strong>Aphc:</strong>
  <%= @health5.APHC %>
</p>

<p>
  <strong>Total health centre:</strong>
  <%= @health5.Total_Health_Centre %>
</p>

<p>
  <strong>Health centres per lakh of population:</strong>
  <%= @health5.Health_centres_per_lakh_of_population %>
</p>

<%= link_to 'Edit', edit_health5_path(@health5) %> |
<%= link_to 'Back', health5s_path %>
