<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @rural_development_programmes8.Districts %>
</p>

<p>
  <strong>Fund available:</strong>
  <%= @rural_development_programmes8.Fund_available %>
</p>

<p>
  <strong>Fund utilised:</strong>
  <%= @rural_development_programmes8.Fund_utilised %>
</p>

<p>
  <strong>Percentage of utilisation:</strong>
  <%= @rural_development_programmes8.Percentage_of_utilisation %>
</p>

<p>
  <strong>Year:</strong>
  <%= @rural_development_programmes8.Year %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes8_path(@rural_development_programmes8) %> |
<%= link_to 'Back', rural_development_programmes8s_path %>
