<%= form_with(model: district_wise_section, local: true) do |form| %>
  <% if district_wise_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(district_wise_section.errors.count, "error") %> prohibited this district_wise_section from being saved:</h2>

      <ul>
      <% district_wise_section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Number_of_Handpumps_Installed %>
    <%= form.text_field :Number_of_Handpumps_Installed %>
  </div>

  <div class="field">
    <%= form.label :Slipped_back_Habitations_or_Water_quality_Problems_Covered %>
    <%= form.text_field :Slipped_back_Habitations_or_Water_quality_Problems_Covered %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
