<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @sectoral_share4.Year %>
</p>

<p>
  <strong>Target:</strong>
  <%= @sectoral_share4.Target %>
</p>

<p>
  <strong>Achievement:</strong>
  <%= @sectoral_share4.Achievement %>
</p>

<p>
  <strong>Achievement percentage:</strong>
  <%= @sectoral_share4.Achievement_Percentage %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @sectoral_share4.Indicator %>
</p>

<%= link_to 'Edit', edit_sectoral_share4_path(@sectoral_share4) %> |
<%= link_to 'Back', sectoral_share4s_path %>
