<p id="notice"><%= notice %></p>

<h1>Education Art Culture8s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Type of school</th>
      <th>Reading std. ii level textn in bihar</th>
      <th>Reading std. ii level textn in india</th>
      <th>Simple subtraction bihar</th>
      <th>Simple subtraction india</th>
      <th>Indiactor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @education_art_culture8s.each do |education_art_culture8| %>
      <tr>
        <td><%= education_art_culture8.Year %></td>
        <td><%= education_art_culture8.Type_of_School %></td>
        <td><%= education_art_culture8.Reading_Std_II_Level_Textn_in_Bihar %></td>
        <td><%= education_art_culture8.Reading_Std_II_Level_Textn_in_India %></td>
        <td><%= education_art_culture8.Simple_Subtraction_Bihar %></td>
        <td><%= education_art_culture8.Simple_Subtraction_India %></td>
        <td><%= education_art_culture8.Indiactor %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education Art Culture8', new_education_art_culture8_path %>