<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @education_art_culture8.Year %>
</p>

<p>
  <strong>Type of school:</strong>
  <%= @education_art_culture8.Type_of_School %>
</p>

<p>
  <strong>Reading std. ii level textn in bihar:</strong>
  <%= @education_art_culture8.Reading_Std._II_Level_Textn_in_Bihar %>
</p>

<p>
  <strong>Reading std. ii level textn in india:</strong>
  <%= @education_art_culture8.Reading_Std._II_Level_Textn_in_India %>
</p>

<p>
  <strong>Simple subtraction bihar:</strong>
  <%= @education_art_culture8.Simple_Subtraction_Bihar %>
</p>

<p>
  <strong>Simple subtraction india:</strong>
  <%= @education_art_culture8.Simple_Subtraction_India %>
</p>

<p>
  <strong>Indiactor:</strong>
  <%= @education_art_culture8.Indiactor %>
</p>

<%= link_to 'Edit', edit_education_art_culture8_path(@education_art_culture8) %> |
<%= link_to 'Back', education_art_culture8s_path %>
