<p id="notice"><%= notice %></p>

<h1>Testies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @testies.each do |testy| %>
      <tr>
        <td><%= testy.name %></td>
        <td><%= testy.number %></td>
        <td><%= link_to 'Show', testy %></td>
        <td><%= link_to 'Edit', edit_testy_path(testy) %></td>
        <td><%= link_to 'Destroy', testy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testy', new_testy_path %>
