<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @deposites_and_credits6.Sector %>
</p>

<p>
  <strong>Number of branches:</strong>
  <%= @deposites_and_credits6.Number_of_Branches %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @deposites_and_credits6.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @deposites_and_credits6.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @deposites_and_credits6.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @deposites_and_credits6.2016-17 %>
</p>

<p>
  <strong>2017 18 upto sep 2017:</strong>
  <%= @deposites_and_credits6.2017_18_upto_Sep_2017 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @deposites_and_credits6.Indicator %>
</p>

<%= link_to 'Edit', edit_deposites_and_credits6_path(@deposites_and_credits6) %> |
<%= link_to 'Back', deposites_and_credits6s_path %>
