<p id="notice"><%= notice %></p>

<h1>Udp Jointly Funded6s</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Day nulm</th>
      <th>State plan head nagrik suvidha</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @udp_jointly_funded6s.each do |udp_jointly_funded6| %>
      <tr>
        <td><%= udp_jointly_funded6.Year %></td>
        <td><%= udp_jointly_funded6.DAY_NULM %></td>
        <td><%= udp_jointly_funded6.State_Plan_Head_Nagrik_Suvidha %></td>
        <td><%= udp_jointly_funded6.Total %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Udp Jointly Funded6', new_udp_jointly_funded6_path %>