<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @udp_jointly_funded6.Year %>
</p>

<p>
  <strong>Day nulm:</strong>
  <%= @udp_jointly_funded6.DAY_NULM %>
</p>

<p>
  <strong>State plan head nagrik suvidha:</strong>
  <%= @udp_jointly_funded6.State_Plan_Head_Nagrik_Suvidha %>
</p>

<p>
  <strong>Total:</strong>
  <%= @udp_jointly_funded6.Total %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded6_path(@udp_jointly_funded6) %> |
<%= link_to 'Back', udp_jointly_funded6s_path %>
