<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @annual_state_domestic_product3.Sector %>
</p>

<p>
  <strong>2011-12:</strong>
  <%= @annual_state_domestic_product3.2011-12 %>
</p>

<p>
  <strong>2012-13:</strong>
  <%= @annual_state_domestic_product3.2012-13 %>
</p>

<p>
  <strong>2013-14:</strong>
  <%= @annual_state_domestic_product3.2013-14 %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @annual_state_domestic_product3.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @annual_state_domestic_product3.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @annual_state_domestic_product3.2016-17 %>
</p>

<%= link_to 'Edit', edit_annual_state_domestic_product3_path(@annual_state_domestic_product3) %> |
<%= link_to 'Back', annual_state_domestic_product3s_path %>
