<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity8.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity8.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity8.Production %>
</p>

<p>
  <strong>Productivity:</strong>
  <%= @production_productivity8.Productivity %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity8.Year %>
</p>

<p>
  <strong>Percentage area:</strong>
  <%= @production_productivity8.Percentage_Area %>
</p>

<p>
  <strong>Percentage production:</strong>
  <%= @production_productivity8.Percentage_Production %>
</p>

<%= link_to 'Edit', edit_production_productivity8_path(@production_productivity8) %> |
<%= link_to 'Back', production_productivity8s_path %>
