<%= form_with(model: level_of_urbanisation1, local: true) do |form| %>
  <% if level_of_urbanisation1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level_of_urbanisation1.errors.count, "error") %> prohibited this level_of_urbanisation1 from being saved:</h2>

      <ul>
      <% level_of_urbanisation1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="field">
    <%= form.label :India %>
    <%= form.text_field :India %>
  </div>

  <div class="field">
    <%= form.label :Bihar %>
    <%= form.text_field :Bihar %>
  </div>

  <div class="field">
    <%= form.label :Indicator %>
    <%= form.text_field :Indicator %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
