<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @level_of_urbanisation1.Year %>
</p>

<p>
  <strong>India:</strong>
  <%= @level_of_urbanisation1.India %>
</p>

<p>
  <strong>Bihar:</strong>
  <%= @level_of_urbanisation1.Bihar %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @level_of_urbanisation1.Indicator %>
</p>

<%= link_to 'Edit', edit_level_of_urbanisation1_path(@level_of_urbanisation1) %> |
<%= link_to 'Back', level_of_urbanisation1s_path %>
