<%= form_with(model: udp_jointly_funded1, local: true) do |form| %>
  <% if udp_jointly_funded1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(udp_jointly_funded1.errors.count, "error") %> prohibited this udp_jointly_funded1 from being saved:</h2>

      <ul>
      <% udp_jointly_funded1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Components_Categories %>
    <%= form.text_field :Components_Categories %>
  </div>

  <div class="field">
    <%= form.label :SubProject_cost_sanctioned %>
    <%= form.text_field :SubProject_cost_sanctioned %>
  </div>

  <div class="field">
    <%= form.label :Total_Expenditure_till_Nov_2017 %>
    <%= form.text_field :Total_Expenditure_till_Nov_2017 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
