<p id="notice"><%= notice %></p>

<p>
  <strong>Components categories:</strong>
  <%= @udp_jointly_funded1.Components_Categories %>
</p>

<p>
  <strong>Subproject cost sanctioned:</strong>
  <%= @udp_jointly_funded1.SubProject_cost_sanctioned %>
</p>

<p>
  <strong>Total expenditure till nov 2017:</strong>
  <%= @udp_jointly_funded1.Total_Expenditure_till_Nov_2017 %>
</p>

<%= link_to 'Edit', edit_udp_jointly_funded1_path(@udp_jointly_funded1) %> |
<%= link_to 'Back', udp_jointly_funded1s_path %>
