<%= form_with(model: production_productivity10, local: true) do |form| %>
  <% if production_productivity10.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(production_productivity10.errors.count, "error") %> prohibited this production_productivity10 from being saved:</h2>

      <ul>
      <% production_productivity10.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Districts %>
    <%= form.text_field :Districts %>
  </div>

  <div class="field">
    <%= form.label :Area %>
    <%= form.text_field :Area %>
  </div>

  <div class="field">
    <%= form.label :Production %>
    <%= form.text_field :Production %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <div class="field">
    <%= form.label :Fruit %>
    <%= form.text_field :Fruit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
