<p id="notice"><%= notice %></p>

<h1>Production Productivity10s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Mango area</th>
      <th>Mango production</th>
      <th>Guava area</th>
      <th>Guava production</th>
      <th>Litchi area</th>
      <th>Litchi production</th>
      <th>Banana area</th>
      <th>Banana production</th>
      <th>Year</th>
      <th>Mango area colour</th>
      <th>Mango production colour</th>
      <th>Guava area colour</th>
      <th>Guava production colour</th>
      <th>Litchi area colour</th>
      <th>Litchi production colour</th>
      <th>Banana area colour</th>
      <th>Banana production colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_productivity10s.each do |production_productivity10| %>
      <tr>
        <td><%= production_productivity10.Districts %></td>
        <td><%= production_productivity10.Mango_Area %></td>
        <td><%= production_productivity10.Mango_Production %></td>
        <td><%= production_productivity10.Guava_Area %></td>
        <td><%= production_productivity10.Guava_Production %></td>
        <td><%= production_productivity10.Litchi_Area %></td>
        <td><%= production_productivity10.Litchi_Production %></td>
        <td><%= production_productivity10.Banana_Area %></td>
        <td><%= production_productivity10.Banana_Production %></td>
        <td><%= production_productivity10.Year %></td>
        <td><%= production_productivity10.Mango_Area_Colour %></td>
        <td><%= production_productivity10.Mango_Production_Colour %></td>
        <td><%= production_productivity10.Guava_Area_Colour %></td>
        <td><%= production_productivity10.Guava_Production_Colour %></td>
        <td><%= production_productivity10.Litchi_Area_Colour %></td>
        <td><%= production_productivity10.Litchi_Production_Colour %></td>
        <td><%= production_productivity10.Banana_Area_Colour %></td>
        <td><%= production_productivity10.Banana_Production_Colour %></td>
        <td><%= link_to 'Show', production_productivity10 %></td>
        <td><%= link_to 'Edit', edit_production_productivity10_path(production_productivity10) %></td>
        <td><%= link_to 'Destroy', production_productivity10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Productivity10', new_production_productivity10_path %>
