<p id="notice"><%= notice %></p>

<h1>Production Productivity10s</h1>

<table>
  <thead>
    <tr>
      <th>Districts</th>
      <th>Mango area 2015</th>
      <th>Mango production 2015</th>
      <th>Mango area 2016</th>
      <th>Mango production 2016</th>
      <th>Guava area 2015</th>
      <th>Guava production 2015</th>
      <th>Guava area 2016</th>
      <th>Guava production 2016</th>
      <th>Litchi area 2015</th>
      <th>Litchi production 2015</th>
      <th>Litchi area 2016</th>
      <th>Litchi production 2016</th>
      <th>Banana area 2015</th>
      <th>Banana production 2015</th>
      <th>Banana area 2016</th>
      <th>Banana production 2016</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_productivity10s.each do |production_productivity10| %>
      <tr>
        <td><%= production_productivity10.Districts %></td>
        <td><%= production_productivity10.Mango_Area_2015 %></td>
        <td><%= production_productivity10.Mango_Production_2015 %></td>
        <td><%= production_productivity10.Mango_Area_2016 %></td>
        <td><%= production_productivity10.Mango_Production_2016 %></td>
        <td><%= production_productivity10.Guava_Area_2015 %></td>
        <td><%= production_productivity10.Guava_Production_2015 %></td>
        <td><%= production_productivity10.Guava_Area_2016 %></td>
        <td><%= production_productivity10.Guava_Production_2016 %></td>
        <td><%= production_productivity10.Litchi_Area_2015 %></td>
        <td><%= production_productivity10.Litchi_Production_2015 %></td>
        <td><%= production_productivity10.Litchi_Area_2016 %></td>
        <td><%= production_productivity10.Litchi_Production_2016 %></td>
        <td><%= production_productivity10.Banana_Area_2015 %></td>
        <td><%= production_productivity10.Banana_Production_2015 %></td>
        <td><%= production_productivity10.Banana_Area_2016 %></td>
        <td><%= production_productivity10.Banana_Production_2016 %></td>
        <td><%= link_to 'Show', production_productivity10 %></td>
        <td><%= link_to 'Edit', edit_production_productivity10_path(production_productivity10) %></td>
        <td><%= link_to 'Destroy', production_productivity10, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production Productivity10', new_production_productivity10_path %>
