<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity10.Districts %>
</p>

<p>
  <strong>Mango area:</strong>
  <%= @production_productivity10.Mango_Area %>
</p>

<p>
  <strong>Mango production:</strong>
  <%= @production_productivity10.Mango_Production %>
</p>

<p>
  <strong>Guava area:</strong>
  <%= @production_productivity10.Guava_Area %>
</p>

<p>
  <strong>Guava production:</strong>
  <%= @production_productivity10.Guava_Production %>
</p>

<p>
  <strong>Litchi area:</strong>
  <%= @production_productivity10.Litchi_Area %>
</p>

<p>
  <strong>Litchi production:</strong>
  <%= @production_productivity10.Litchi_Production %>
</p>

<p>
  <strong>Banana area:</strong>
  <%= @production_productivity10.Banana_Area %>
</p>

<p>
  <strong>Banana production:</strong>
  <%= @production_productivity10.Banana_Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity10.Year %>
</p>

<p>
  <strong>Mango area colour:</strong>
  <%= @production_productivity10.Mango_Area_Colour %>
</p>

<p>
  <strong>Mango production colour:</strong>
  <%= @production_productivity10.Mango_Production_Colour %>
</p>

<p>
  <strong>Guava area colour:</strong>
  <%= @production_productivity10.Guava_Area_Colour %>
</p>

<p>
  <strong>Guava production colour:</strong>
  <%= @production_productivity10.Guava_Production_Colour %>
</p>

<p>
  <strong>Litchi area colour:</strong>
  <%= @production_productivity10.Litchi_Area_Colour %>
</p>

<p>
  <strong>Litchi production colour:</strong>
  <%= @production_productivity10.Litchi_Production_Colour %>
</p>

<p>
  <strong>Banana area colour:</strong>
  <%= @production_productivity10.Banana_Area_Colour %>
</p>

<p>
  <strong>Banana production colour:</strong>
  <%= @production_productivity10.Banana_Production_Colour %>
</p>

<%= link_to 'Edit', edit_production_productivity10_path(@production_productivity10) %> |
<%= link_to 'Back', production_productivity10s_path %>
