<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity10.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity10.Area %>
</p>

<p>
  <strong>Mango area:</strong>
  <%= @production_productivity10.Mango_Area %>
</p>

<p>
  <strong>Mango production:</strong>
  <%= @production_productivity10.Mango_Production %>
</p>

<p>
  <strong>Guava area:</strong>
  <%= @production_productivity10.Guava_Area %>
</p>

<p>
  <strong>Guava production:</strong>
  <%= @production_productivity10.Guava_Production %>
</p>

<p>
  <strong>Litchi area:</strong>
  <%= @production_productivity10.Litchi_Area %>
</p>

<p>
  <strong>Litchi production:</strong>
  <%= @production_productivity10.Litchi_Production %>
</p>

<p>
  <strong>Banana area:</strong>
  <%= @production_productivity10.Banana_Area %>
</p>

<p>
  <strong>Banana production:</strong>
  <%= @production_productivity10.Banana_Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity10.Year %>
</p>

<p>
  <strong>Percentage mango area:</strong>
  <%= @production_productivity10.Percentage_Mango_Area %>
</p>

<p>
  <strong>Percentage mango production:</strong>
  <%= @production_productivity10.Percentage_Mango_Production %>
</p>

<p>
  <strong>Percentage guava area:</strong>
  <%= @production_productivity10.Percentage_Guava_Area %>
</p>

<p>
  <strong>Percentage guava production:</strong>
  <%= @production_productivity10.Percentage_Guava_Production %>
</p>

<p>
  <strong>Percentage litchi area:</strong>
  <%= @production_productivity10.Percentage_Litchi_Area %>
</p>

<p>
  <strong>Percentage litchi production:</strong>
  <%= @production_productivity10.Percentage_Litchi_Production %>
</p>

<p>
  <strong>Percentage banana area:</strong>
  <%= @production_productivity10.Percentage_Banana_Area %>
</p>

<p>
  <strong>Percentage banana production:</strong>
  <%= @production_productivity10.Percentage_Banana_Production %>
</p>

<%= link_to 'Edit', edit_production_productivity10_path(@production_productivity10) %> |
<%= link_to 'Back', production_productivity10s_path %>
