<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity10.Districts %>
</p>

<p>
  <strong>Mango area 2015:</strong>
  <%= @production_productivity10.Mango_Area_2015 %>
</p>

<p>
  <strong>Mango production 2015:</strong>
  <%= @production_productivity10.Mango_Production_2015 %>
</p>

<p>
  <strong>Mango area 2016:</strong>
  <%= @production_productivity10.Mango_Area_2016 %>
</p>

<p>
  <strong>Mango production 2016:</strong>
  <%= @production_productivity10.Mango_Production_2016 %>
</p>

<p>
  <strong>Guava area 2015:</strong>
  <%= @production_productivity10.Guava_Area_2015 %>
</p>

<p>
  <strong>Guava production 2015:</strong>
  <%= @production_productivity10.Guava_Production_2015 %>
</p>

<p>
  <strong>Guava area 2016:</strong>
  <%= @production_productivity10.Guava_Area_2016 %>
</p>

<p>
  <strong>Guava production 2016:</strong>
  <%= @production_productivity10.Guava_Production_2016 %>
</p>

<p>
  <strong>Litchi area 2015:</strong>
  <%= @production_productivity10.Litchi_Area_2015 %>
</p>

<p>
  <strong>Litchi production 2015:</strong>
  <%= @production_productivity10.Litchi_Production_2015 %>
</p>

<p>
  <strong>Litchi area 2016:</strong>
  <%= @production_productivity10.Litchi_Area_2016 %>
</p>

<p>
  <strong>Litchi production 2016:</strong>
  <%= @production_productivity10.Litchi_Production_2016 %>
</p>

<p>
  <strong>Banana area 2015:</strong>
  <%= @production_productivity10.Banana_Area_2015 %>
</p>

<p>
  <strong>Banana production 2015:</strong>
  <%= @production_productivity10.Banana_Production_2015 %>
</p>

<p>
  <strong>Banana area 2016:</strong>
  <%= @production_productivity10.Banana_Area_2016 %>
</p>

<p>
  <strong>Banana production 2016:</strong>
  <%= @production_productivity10.Banana_Production_2016 %>
</p>

<%= link_to 'Edit', edit_production_productivity10_path(@production_productivity10) %> |
<%= link_to 'Back', production_productivity10s_path %>
