<p id="notice"><%= notice %></p>

<p>
  <strong>Districts:</strong>
  <%= @production_productivity10.Districts %>
</p>

<p>
  <strong>Area:</strong>
  <%= @production_productivity10.Area %>
</p>

<p>
  <strong>Production:</strong>
  <%= @production_productivity10.Production %>
</p>

<p>
  <strong>Year:</strong>
  <%= @production_productivity10.Year %>
</p>

<p>
  <strong>Fruit:</strong>
  <%= @production_productivity10.Fruit %>
</p>

<%= link_to 'Edit', edit_production_productivity10_path(@production_productivity10) %> |
<%= link_to 'Back', production_productivity10s_path %>
