<%= form_with(model: agro_based_industries1, local: true) do |form| %>
  <% if agro_based_industries1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agro_based_industries1.errors.count, "error") %> prohibited this agro_based_industries1 from being saved:</h2>

      <ul>
      <% agro_based_industries1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name_of_Sugar_Mill %>
    <%= form.text_field :Name_of_Sugar_Mill %>
  </div>

  <div class="field">
    <%= form.label :Sugarcane_Crushed %>
    <%= form.text_field :Sugarcane_Crushed %>
  </div>

  <div class="field">
    <%= form.label :Sugar_Produced %>
    <%= form.text_field :Sugar_Produced %>
  </div>

  <div class="field">
    <%= form.label :Recovery_Percentage %>
    <%= form.text_field :Recovery_Percentage %>
  </div>

  <div class="field">
    <%= form.label :Year %>
    <%= form.text_field :Year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
