<p id="notice"><%= notice %></p>

<p>
  <strong>Name of sugar mill:</strong>
  <%= @agro_based_industries1.Name_of_Sugar_Mill %>
</p>

<p>
  <strong>Sugarcane crushed:</strong>
  <%= @agro_based_industries1.Sugarcane_Crushed %>
</p>

<p>
  <strong>Sugar produced:</strong>
  <%= @agro_based_industries1.Sugar_Produced %>
</p>

<p>
  <strong>Recovery percentage:</strong>
  <%= @agro_based_industries1.Recovery_Percentage %>
</p>

<p>
  <strong>Year:</strong>
  <%= @agro_based_industries1.Year %>
</p>

<%= link_to 'Edit', edit_agro_based_industries1_path(@agro_based_industries1) %> |
<%= link_to 'Back', agro_based_industries1s_path %>
