<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @agricultural_credit1.Year %>
</p>

<p>
  <strong>Commercial bank target:</strong>
  <%= @agricultural_credit1.Commercial_Bank_Target %>
</p>

<p>
  <strong>Commercial bank achievement:</strong>
  <%= @agricultural_credit1.Commercial_Bank_Achievement %>
</p>

<p>
  <strong>Rrbs target:</strong>
  <%= @agricultural_credit1.RRBs_Target %>
</p>

<p>
  <strong>Rrbs achievement:</strong>
  <%= @agricultural_credit1.RRBs_Achievement %>
</p>

<p>
  <strong>Ccbs target:</strong>
  <%= @agricultural_credit1.CCBs_Target %>
</p>

<p>
  <strong>Ccbs achievement:</strong>
  <%= @agricultural_credit1.CCBs_Achievement %>
</p>

<p>
  <strong>Total target:</strong>
  <%= @agricultural_credit1.Total_Target %>
</p>

<p>
  <strong>Total achievement:</strong>
  <%= @agricultural_credit1.Total_Achievement %>
</p>

<%= link_to 'Edit', edit_agricultural_credit1_path(@agricultural_credit1) %> |
<%= link_to 'Back', agricultural_credit1s_path %>
