<p id="notice"><%= notice %></p>

<p>
  <strong>Sector:</strong>
  <%= @rural_development_programmes7.Sector %>
</p>

<p>
  <strong>2014-15:</strong>
  <%= @rural_development_programmes7.2014-15 %>
</p>

<p>
  <strong>2015-16:</strong>
  <%= @rural_development_programmes7.2015-16 %>
</p>

<p>
  <strong>2016-17:</strong>
  <%= @rural_development_programmes7.2016-17 %>
</p>

<p>
  <strong>Indicator:</strong>
  <%= @rural_development_programmes7.Indicator %>
</p>

<%= link_to 'Edit', edit_rural_development_programmes7_path(@rural_development_programmes7) %> |
<%= link_to 'Back', rural_development_programmes7s_path %>
